<div mat-dialog-title>
  <div class="dialog-header">
    <div>
      <h1 i18n="@@dialogCreateProjectHeadline">New Project</h1>
    </div>

    <button
      mat-icon-button
      [mat-dialog-close]="true"
      aria-label="Close"
      i18n-aria-label="@@dialogCreateProjectCloseButton"
      [disabled]="loading"
    >
      <mat-icon svgIcon="close" />
    </button>
  </div>
</div>

<mat-dialog-content>
  @if (!loading) {
  <p class="intro-text" i18n="@@dialogCreateProjectIntroText">
    Check the "Use Audio" box to select the file from which you would like to
    use the audio track.
  </p>
  <!-- Several files can be selected this way, which however can result in overlaps. -->

  <form [formGroup]="uploadAreaFormGroup">
    <app-upload-area
      formControlName="files"
      [acceptedFileFormats]="acceptedFileFormats"
      [fileFormatsLabel]="fileFormatsLabel"
    />
  </form>

  <form [formGroup]="formGroup">
    @if (formGroup.controls.files.value.length !== 0) {
    <table
      mat-table
      [dataSource]="dataSource"
      class="file-table"
      [class.with-error]="
        formGroup.hasError('videoRequired') ||
        formGroup.hasError('useAudioRequired') ||
        formGroup.hasError('duplicateFiles') ||
        formGroup.hasError('mainCategoryRequired') ||
        formGroup.hasError('maxOneMainCategory')
      "
      (click)="onPreventBubble($event)"
    >
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          i18n="@@dialogCreateProjectTableHeaderFilename"
        >
          Filename
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="file-name">
            {{ element.get('name').value }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th
          mat-header-cell
          *matHeaderCellDef
          i18n="@@dialogCreateProjectTableHeaderCategory"
        >
          Category
        </th>
        <td mat-cell *matCellDef="let element" [formGroup]="element">
          <mat-form-field
            class="select-mat-form-field"
            [class.hidden]="element.controls?.fileType.value !== 'video'"
          >
            <mat-select
              formControlName="category"
              i18n-placeholder="@@dialogCreateProjectSelectPlaceholder"
              placeholder="Select"
            >
              @for (category of mediaCategoryArray; track category) {
              <mat-option [value]="category">{{
                category | mediaCategory
              }}</mat-option>
              }
            </mat-select>
            <mat-error i18n="@@dialogCreateProjectCategoryErrorRequired">
              Category is required
            </mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="language">
        <th
          mat-header-cell
          *matHeaderCellDef
          i18n="@@dialogCreateProjectTableHeaderLanguage"
        >
          Language
        </th>
        <td mat-cell *matCellDef="let element" [formGroup]="element">
          <div class="select-mat-form-field">
            <app-language-autocomplete
              formControlName="language"
              [languages]="languages"
            />
          </div>

          <!-- <mat-form-field class="select-mat-form-field">
            <mat-select
              formControlName="language"
              i18n-placeholder="@@dialogCreateProjectSelectPlaceholder"
              placeholder="Select"
            >
              @for (lang of languages; track lang) {

              <mat-option [value]="lang.code">
                {{ lang.name }}
              </mat-option>

              }
            </mat-select>
            <mat-error i18n="@@dialogCreateProjectLanguageErrorRequired">
              Language is required
            </mat-error>
          </mat-form-field> -->
        </td>
      </ng-container>

      <ng-container matColumnDef="use-audio">
        <th
          mat-header-cell
          *matHeaderCellDef
          i18n="@@dialogCreateProjectTableHeaderUseAudio"
        >
          Use Audio
        </th>
        <td mat-cell *matCellDef="let element" [formGroup]="element">
          <div
            class="align-center"
            [class.hidden]="element.controls?.fileType.value !== 'video'"
          >
            <mat-checkbox
              (change)="onChangeUseAudio($event, element.controls?.name.value)"
              formControlName="useAudio"
              class="checkbox"
            />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th
          mat-header-cell
          *matHeaderCellDef
          i18n="@@dialogCreateProjectTableHeaderDelete"
        >
          Delete
        </th>
        <td mat-cell *matCellDef="let i = index">
          <div class="align-center">
            <button
              (click)="onRemoveFile(i, $event)"
              mat-icon-button
              aria-label="delete"
              type="button"
            >
              <mat-icon svgIcon="delete" />
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    }

    <div class="error-wrapper">
      <p aria-live="polite" class="mat-error">
        @if(formGroup.hasError('videoRequired')) {<span
          i18n="@@dialogCreateProjectOneVideoError"
        >
          At least one video or audio file is required.
        </span>
        } @if(formGroup.hasError('useAudioRequired')) {
        <span i18n="@@dialogCreateProjectOneUseAudioError">
          At least one "use audio" source required.
        </span>
        } @if(formGroup.hasError('duplicateFiles')) {
        <span i18n="@@dialogCreateProjectSameFileError">
          Uploading the same file several times is not allowed.
        </span>
        } @if(formGroup.hasError('mainCategoryRequired')) {
        <span i18n="@@dialogCreateProjectOneMainCategoryError">
          At least one audio/video file with the "main" category required.
        </span>
        } @if(formGroup.hasError('maxOneMainCategory')) {
        <span i18n="@@dialogCreateProjectMaxOneMainCategoryError">
          Max one audio/video file with the "main" category.
        </span>
        }
      </p>
    </div>

    <mat-form-field class="title-form-field">
      <mat-label i18n="@@dialogCreateProjectTitleLabel">Title</mat-label>
      <input matInput formControlName="title" />
      <button
        mat-icon-button
        matSuffix
        aria-label="Clear title"
        matTooltip="Clear title"
        (click)="onClearTitleField($event)"
        type="button"
      >
        <mat-icon svgIcon="clear"> </mat-icon>
      </button>
      <mat-error i18n="@@dialogCreateProjectTitleRequiredError"
        >Title is required</mat-error
      >
    </mat-form-field>
  </form>
  } @else {
  <div class="upload">
    <p i18n="@@dialogCreateProjectUploadProgressLabel">Upload-Progress:</p>
    @for (uploadHandler of uploadHandlers; track uploadHandler) {
    <app-upload-progress
      [progress$]="uploadHandler.progress$"
      [title]="uploadHandler.file.name"
      [fileSize]="uploadHandler.file.size"
    />
    }
  </div>
  } @if(error){
  <div class="upload-state error" i18n="@@createProjectFailedWithError">
    Failed with error: {{ error.message }} <br />You can try again.
  </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  @if (loading) {
  <button
    mat-stroked-button
    (click)="onCancelUpload()"
    class="discard-button mat-warn"
    i18n="@@dialogCreateProjectCancelUploadButton"
  >
    Cancel and close
  </button>
  }

  <button
    mat-flat-button
    (click)="onSubmitForm()"
    [disabled]="loading"
    i18n="@@dialogCreateProjectCreateButton"
  >
    Create Project
  </button>
</mat-dialog-actions>
