<header>
  @if (isNotUserEmailVerified$ | ngrxPush;) {
  <div class="verify-email-wrapper">
    <p i18n="@@headerEmailVerificationMessage">
      We have sent you an email to verify your email address.
    </p>
    <button
      (click)="onResendVerificationEmail()"
      i18n="@@headerResendVerificationEmailButtonLabel"
    >
      Resend?
    </button>
  </div>
  }

  <div *ngrxLet="recentNotifications$ as notifications">
    <div *ngrxLet="totalUnreadNotifications$ as totalUnreadNotifications">
      <mat-toolbar>
        <app-logo class="clickable logo" [routerLink]="['/home/projects']" />
        <ng-content />
        <div class="header-buttons" [class.margin-left]="editorView">
          <button
            mat-icon-button
            aria-label="Open darkmode menu"
            i18n-aria-label="@@headerToggleDarkmodeToggleMenuButton"
            [mat-menu-trigger-for]="darkmodeMenu"
            *ngrxLet="colorTheme$ as colorTheme"
          >
            @if(colorTheme === colorThemeENUM.DARK) {
            <mat-icon svgIcon="dark_mode" />
            } @else if (colorTheme === colorThemeENUM.LIGHT) {
            <mat-icon svgIcon="light_mode" />
            } @else {
            <mat-icon svgIcon="system_mode" />
            }
          </button>
          @if (isLoggedIn$ | ngrxPush) {
          <button
            mat-icon-button
            [mat-menu-trigger-for]="usermenu"
            (menuOpened)="isMenuOpen = true"
            (onMenuClose)="isMenuOpen = false"
          >
            @if (!isMenuOpen) {
            <mat-icon svgIcon="menu"></mat-icon>
            } @if (isMenuOpen) {
            <mat-icon svgIcon="clear"></mat-icon>
            }
          </button>
          }
        </div>
      </mat-toolbar>

      <mat-menu #darkmodeMenu="matMenu">
        <button
          mat-menu-item
          (click)="onChangeColorTheme(colorThemeENUM.LIGHT)"
          i18n="@@headerToggleDarkmodeLight"
        >
          <mat-icon svgIcon="light_mode"></mat-icon>Light
        </button>
        <button
          mat-menu-item
          (click)="onChangeColorTheme(colorThemeENUM.SYSTEM)"
          i18n="@@headerToggleDarkmodeSystem"
        >
          <mat-icon svgIcon="system_mode"></mat-icon>Auto
        </button>
        <button
          mat-menu-item
          (click)="onChangeColorTheme(colorThemeENUM.DARK)"
          i18n="@@headerToggleDarkmodeDark"
        >
          <mat-icon svgIcon="dark_mode"></mat-icon>Dark
        </button>
      </mat-menu>

      <mat-menu #notificationMenu="matMenu" class="mat-menu">
        <ng-template matMenuContent>
          <div class="notification-menu">
            <div class="notification-menu-header">
              <div class="header-title" i18n="@@headerNotificationMenuTitle">
                Notifications
              </div>
            </div>
            <div class="notification-wrapper">
              @for (notification of notifications; track notification) {
              <div class="notifications">
                <app-notification
                  [viewType]="'popup'"
                  [notification]="notification"
                >
                  <button
                    (click)="onClickNotificationRead(notification.id, $event)"
                    mat-icon-button
                    class="read-notification-button"
                    i18n-matTooltip="@@headerMarkAsReadButtonLabel"
                    matTooltip="Mark as read"
                  >
                    <mat-icon
                      matTooltip="Mark as read"
                      svgIcon="clear"
                    ></mat-icon>
                  </button>
                </app-notification>
              </div>
              }
            </div>
            <a
              [matBadge]="totalUnreadNotifications"
              [matBadgeHidden]="totalUnreadNotifications === 0"
              matBadgeOverlap="false"
              class="all-notifications-link"
              routerLink="/home/notifications"
              i18n="@@headerShowAllNotifications"
            >
              Show all notifications
            </a>
          </div>
        </ng-template>
      </mat-menu>
      <mat-menu #usermenu="matMenu">
        @if(isLoggedIn$ | ngrxPush) {
        <app-user-info></app-user-info>
        <hr />
        }
        <a
          mat-menu-item
          i18n="@@headerMenuProfileButton"
          routerLink="/home/profile"
        >
          <mat-icon svgIcon="person"></mat-icon>Profile
        </a>
        @if (!disableLandingPage) {
        <a mat-menu-item routerLink="/guide">
          <mat-icon svgIcon="book"></mat-icon>Best Practice
        </a>

        <a routerLink="/tutorial" mat-menu-item>
          <mat-icon svgIcon="tutorial"></mat-icon>
          Tutorial
        </a>
        }

        <button
          mat-menu-item
          (click)="logout()"
          i18n="@@headerMenuLogoutButton"
        >
          <mat-icon svgIcon="logout"></mat-icon>Logout
        </button>
      </mat-menu>
    </div>
  </div>
</header>
