<header>
  <div *ngrxLet="recentNotifications$ as notifications">
    <div *ngrxLet="totalUnreadNotifications$ as totalUnreadNotifications">
      <mat-toolbar>
        <app-logo class="clickable logo" [routerLink]="['/home/projects']" />
        <ng-content />
        <div class="header-buttons {{ !viewer ? 'margin-left' : '' }}">
          @if (('notifications' | featureEnabled) && !viewer) {
          <!-- TODO removed to make the ui cleaner -->
          <!-- <button
            mat-stroked-button
            class="show-notifications-button"
            [mat-menu-trigger-for]="notificationMenu"
            [matBadge]="totalUnreadNotifications"
            [matBadgeHidden]="totalUnreadNotifications === 0"
            matBadgeColor="accent"
          >
            <mat-icon svgIcon="bell" />
          </button> -->
          }
          <div class="dark-mode-wrapper" *ngrxLet="darkMode$ as darkMode">
            <mat-icon svgIcon="light_mode" class="svg-black"></mat-icon>
            <mat-slide-toggle
              aria-label="Activate darkmode"
              i18n-aria-label="@@headerToggleActivateDarkmode"
              [checked]="darkMode"
              (toggleChange)="onToggleChangeDarkMode()"
            ></mat-slide-toggle>
            <mat-icon svgIcon="dark_mode" class="svg-black"></mat-icon>
          </div>
          @if (isLoggedIn$ | ngrxPush) {
          <button
            mat-icon-button
            [mat-menu-trigger-for]="usermenu"
            (menuOpened)="isMenuOpen = true"
            (onMenuClose)="isMenuOpen = false"
          >
            @if (!isMenuOpen) {
            <mat-icon @fadeIn svgIcon="menu"></mat-icon>
            } @if (isMenuOpen) {
            <mat-icon @fadeIn svgIcon="clear"></mat-icon>
            }
          </button>
          }
        </div>
      </mat-toolbar>

      <mat-menu #notificationMenu="matMenu" class="mat-menu">
        <ng-template matMenuContent>
          <div class="notification-menu">
            <div class="notification-menu-header">
              <div class="header-title" i18n="@@headerNotificationMenuTitle">
                Notifications
              </div>
            </div>
            <div class="notification-wrapper">
              @for (notification of notifications; track notification) {
              <div class="notifications">
                <app-notification
                  [viewType]="'popup'"
                  [notification]="notification"
                >
                  <button
                    (click)="onClickNotificationRead(notification.id, $event)"
                    mat-icon-button
                    class="read-notification-button"
                    i18n-matTooltip="@@headerMarkAsReadButtonLabel"
                    matTooltip="Mark as read"
                  >
                    <mat-icon
                      matTooltip="Mark as read"
                      svgIcon="clear"
                    ></mat-icon>
                  </button>
                </app-notification>
              </div>
              }
            </div>
            <a
              [matBadge]="totalUnreadNotifications"
              [matBadgeHidden]="totalUnreadNotifications === 0"
              matBadgeColor="accent"
              matBadgeOverlap="false"
              class="all-notifications-link"
              routerLink="/home/notifications"
              i18n="@@headerShowAllNotifications"
            >
              Show all notifications
            </a>
          </div>
        </ng-template>
      </mat-menu>
      <mat-menu #usermenu="matMenu">
        <button
          mat-menu-item
          (click)="openProfile()"
          matTooltip="Go to your Profile"
          i18n="@@headerMenuProfileButton"
          i18n-matTooltip="@@headerMenuProfileButtonTooltip"
        >
          <mat-icon svgIcon="person"></mat-icon>Profile
        </button>
        <button
          mat-menu-item
          (click)="logout()"
          matTooltip="Logout"
          i18n="@@headerMenuLogoutButton"
          i18n-matTooltip="@@headerMenuLogoutButtonTooltip"
        >
          <mat-icon svgIcon="logout"></mat-icon>Logout
        </button>
      </mat-menu>
    </div>
  </div>
</header>
