<ng-container *ngrxLet="isLoading$ as isLoading">
  <!-- Loading -->
  @if (isLoading) {
    <mat-spinner></mat-spinner>
  }
  @if (!isLoading) {
    <ng-container *ngrxLet="error$ as error">
      @if (error) {
        <app-alert level="error">{{ error }}</app-alert>
      }
    </ng-container>
    <ng-container *ngrxLet="message$ as message">
      @if (message) {
        <app-alert level="success">{{ message }}</app-alert>
      }
    </ng-container>
    <ng-container *ngrxLet="isPending$ as isPending">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              @for (status of statuses; track status) {
                <mat-option
                  [value]="status"
                  [disabled]="!isStatusSelectable(status)"
                  >{{ status | readableStatus }}</mat-option
                  >
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <button
              mat-flat-button
              color="primary"
              type="submit"
              [disabled]="isPending"
              >
              <div class="flex items-center">
                @if (isPending) {
                  <mat-spinner
                    strokeWidth="2"
                    diameter="20"
                    color="primary"
                    style="margin-right: 10px"
                  ></mat-spinner>
                }
                Ändern
              </div>
            </button>
          </div>
        </form>
      </ng-container>
    }
  </ng-container>
  