:host {
  background: var(--color-background-grey);
  min-height: 100%;
  display: block;
}

.title-wrapper {
  margin-top: 0.25rem;
  padding-left: 0.4375rem;
  display: flex;
  align-items: center;
  min-height: 2rem;

  .project-title {
    font-size: 1.125rem;

    &:hover {
      outline: 2px solid var(--color-primary);
    }
  }
}

.actions-menu {
  display: flex;
  margin-bottom: 2px;

  button {
    font-weight: 500;
    padding: 4px 8px;
    line-height: 16px;
    min-width: unset !important;
  }
}

.transcription-lang-code {
  font-size: 10px;
  color: rgba(var(--color-black-rgb), 0.7);
}

.mat-icon {
  &.hidden {
    visibility: hidden;
  }
}

.sticky {
  position: sticky;
  top: 74px;
  border-bottom: 1px solid var(--color-border-grey);
  z-index: 1;
  overflow: hidden;
  background: var(--color-white);
}

.actions {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--color-white);
  padding: 0 0.625rem;

  .time-container {
    height: 30px;
    display: flex;
    align-items: center;
    color: var(--color-text);

    .time-disabled {
      opacity: 0.6;
    }
    .time-total {
      opacity: 0.6;
    }

    .time-spacer {
      opacity: 0.6;
      margin: 0 5px;
    }
  }
}

.content-section {
  display: flex;
  flex-direction: column;
  min-height: calc(
    100vh - 60px
  ); // container will be 100% of the viewport - 60 px header
}

.content {
  display: flex;
  // padding: 20px 0px 0px 20px;
  padding: 1rem;
  margin-top: 0.875rem;

  flex-direction: row;
  flex-grow: 1;

  .left {
    max-width: 600px;
    min-width: 200px;
  }

  .right {
    flex: 1 1 auto;
    min-width: 70%;
    box-sizing: border-box;
    width: auto;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
  }
}

button.live {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
  padding-left: 6px;

  border-color: var(--color-red);

  &.active {
    border-color: transparent;
    mat-icon {
      color: var(--color-red);
    }
  }
}

.waveform-wrapper {
  min-height: 4rem;
}
