<app-header>
  <div class="flex flex-col" *ngrxLet="project$ as project">
    <div class="title-wrapper">
      <span
        #projectTitle
        class="project-title"
        [attr.contenteditable]="isOwner$ | ngrxPush"
        (blur)="onChangeProjectTitle(projectTitle.innerText, project)"
      >
        {{ project?.title }}
      </span>
      <button
        mat-icon-button
        [routerLink]="['/home/projects']"
        class="sm"
        style="margin-left: 20px"
        i18n-matTooltip="@@editorBackToProjectsList"
        i18n-matTooltip="@@editorBackToProjectsList"
        matTooltip="Back to all projects"
        aria-label="Back to all projects"
      >
        <mat-icon svgIcon="folder_back_outline"></mat-icon>
      </button>
    </div>
    <div class="actions-menu">
      <!-- File Menu -->
      @if ('fileMenu' | featureEnabled) {
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        i18n="@@editorMenuFileLabel"
      >
        File
      </button>
      }
      <mat-menu #menu="matMenu" class="dense">
        @if ('projectEdit' | featureEnabled) {
        <button
          mat-menu-item
          (click)="onClickProjectEdit('general')"
          i18n="@@editorMenuFileEditLabel"
        >
          <mat-icon svgIcon="edit"></mat-icon>
          Edit
        </button>
        } @if ('download' | featureEnabled) {
        <button
          mat-menu-item
          [matMenuTriggerFor]="downloadMenu"
          i18n="@@editorMenuFileDownloadLabel"
        >
          <mat-icon svgIcon="download"></mat-icon>
          Download
        </button>
        } @if (isOwner$ | ngrxPush) {
        <mat-divider></mat-divider>
        <button mat-menu-item i18n="@@editorMenuFileDeleteLabel">
          <mat-icon svgIcon="delete"></mat-icon>
          Delete
        </button>
        }
      </mat-menu>
      <mat-menu #downloadMenu="matMenu" class="dense">
        <ng-container *ngrxLet="projectMedia$ as projectMedia">
          @if (projectMedia) { @for (video of projectMedia.videos; track $index)
          {
          <button mat-menu-item (click)="onDownloadVideo(video)">
            {{ video.title }} (.{{ video.extension }})
          </button>
          } }
        </ng-container>

        <button mat-menu-item (click)="onDownloadTranscript()">
          Transcript (.txt)
        </button>

        <button mat-menu-item (click)="onDownloadSubtitles('srt')">
          SubRip (.srt)
        </button>
        <button mat-menu-item (click)="onDownloadSubtitles('vtt')">
          WebVTT (.vtt)
        </button>
        <!-- <mat-divider></mat-divider> -->
        <!-- <button mat-menu-item i18n="@@editorMenuFileDownloadConfigureLabel">
            Configure ...
          </button> -->
      </mat-menu>
      <!-- Transcription Menu -->
      @if ('transcriptionsMenu' | featureEnabled) {
      <button
        mat-button
        [matMenuTriggerFor]="transcription"
        i18n="@@editorMenuTranscriptionLabel"
      >
        Transcription
      </button>
      }
      <mat-menu #transcription="matMenu" class="dense">
        <div *ngrxLet="transcriptionsList$ as transcriptionList">
          @for (transcription of transcriptionList; track transcription) {
          <div>
            <button
              (click)="onSelectTranscription(transcription.id)"
              mat-menu-item
            >
              <mat-icon
                [class.hidden]="
                  transcription.id !== (selectedTranscriptionId$ | ngrxPush)
                "
                svgIcon="done"
              ></mat-icon>
              <span>{{ transcription.title }}</span>
              <span class="transcription-lang-code">
                ({{ transcription.language }})</span
              >
            </button>
          </div>
          } @if (transcriptionList.length > 0) {
          <mat-divider class="transcription-mat-divider" />
          }
        </div>
        @if ('editTranscriptions' | featureEnabled) {
        <div class="transcription-button-wrapper">
          <button
            (click)="onClickProjectEdit('transcription')"
            mat-menu-item
            i18n="@@editorMenuTranscriptionEditLabel"
          >
            <mat-icon svgIcon="edit"></mat-icon>
            Edit Transcriptions
          </button>
        </div>
        }
      </mat-menu>
      <!-- Help Menu -->
      @if ('helpMenu' | featureEnabled) {
      <!-- TODO removed to make the ui cleaner -->
      <!-- <button mat-button (click)="onOpenHelpDialog()" i18n="@@editorMenuHelp">
          Help
        </button> -->
      }
    </div>
  </div>
  <div class="flex-1"></div>
  <ng-container *ngrxLet="editorUsers$ as editorUsers">
    @if (editorUsers.length > 0) {
    <app-avatar-group
      [users]="editorUsers"
      [editorView]="true"
    ></app-avatar-group>
    } @if (editorUsers.length === 0) {
    <div class="sktn-avatar-wrapper">
      <div class="sktn-avatar"></div>
    </div>
    }
  </ng-container>
  @if ('projectShare' | featureEnabled) {
  <button
    mat-flat-button
    color="primary"
    style="margin: 0 0.75rem"
    class="compact"
    (click)="onClickShare()"
    i18n="@@editorShareProjectButtonLabel"
  >
    Share
  </button>
  }
</app-header>
<!-- content -->
<section class="content-section" *ngrxLet="isReady$ as isReady">
  @if ('editorActions' | featureEnabled) {
  <div class="sticky">
    @if (showWaveform) {
    <div class="flex">
      @if ('showWaveform' | featureEnabled) {
      <app-waveform [zoomActivated]="showZoomedWave"></app-waveform>
      } @if (isLiveMode$ | ngrxPush) {
      <app-live-controls></app-live-controls>
      }
    </div>
    }
    <div class="actions">
      @if ('showTime' | featureEnabled) {
      <div class="time-container" [class.time-disabled]="!isReady">
        <span class="time-current">
          {{ (currentTime$ | ngrxPush) || 0 | duration }}
        </span>
        <span class="time-spacer">/</span>
        <span class="time-total">
          {{ (duration$ | ngrxPush) || 0 | duration }}
        </span>
        @if (('playPause' | featureEnabled) && (isLiveMode$ | ngrxPush)) {
        <button
          *ngrxLet="isLiveInSync$ as isLiveInSync"
          mat-stroked-button
          (click)="onClickBackToLive()"
          [disabled]="!isReady"
          class="live"
          [class.active]="isLiveInSync"
        >
          <mat-icon svgIcon="record"></mat-icon>
          <span>{{ isLiveInSync ? 'LIVE' : 'Zurück zu LIVE' }}</span>
        </button>
        }
      </div>
      }
      <div class="flex flex-1 justify-center items-center">
        @if ('quickForwardRewind' | featureEnabled) {
        <button
          mat-icon-button
          (click)="onSkipBackward()"
          [disabled]="!isReady"
          i18n-matTooltip="@@editorRewind5SecondsButtonLabel"
          matTooltip="Rewind 5 seconds"
          i18n-aria-label="@@editorRewind5SecondsButtonLabel"
          aria-label="Rewind 5 seconds"
        >
          <mat-icon svgIcon="replay_5"></mat-icon>
        </button>
        } @if ('playPause' | featureEnabled) {
        <button
          mat-icon-button
          (click)="onTogglePlayPause()"
          class="lg"
          color="primary"
          i18n-matTooltip="@@editorPlayOrPauseButtonLabel"
          matTooltip="Play or pause"
          i18n-aria-label="@@editorPlayOrPauseButtonLabel"
          aria-label="Play or pause"
          [disabled]="!isReady"
        >
          <mat-icon
            [svgIcon]="(isPlaying$ | ngrxPush) ? 'pause_circle' : 'play_circle'"
          ></mat-icon>
        </button>
        } @if ('quickForwardRewind' | featureEnabled) {
        <button
          mat-icon-button
          (click)="onSkipForward()"
          [disabled]="!isReady"
          i18n-matTooltip="@@editorSkip5SecondsButtonLabel"
          matTooltip="Skip 5 seconds"
          i18n-aria-label="@@editorSkip5SecondsButtonLabel"
          aria-label="Skip 5 seconds"
        >
          <mat-icon svgIcon="forward_5"></mat-icon>
        </button>
        }
      </div>
      <div class="flex justify-end">
        @if ('toggleZoomedWaveform' | featureEnabled) {
        <!-- <mat-slide-toggle
          [(ngModel)]="showZoomedWave"
          labelPosition="before"
          color="primary"
          i18n-matTooltip="@@editorToogleZoomTooltip"
          matTooltip="Toggle zoom"
          i18n-aria-label="@@editorToogleZoomTooltip"
          aria-label="Toggle zoom"
          [disabled]="!isReady"
        >
          Edit timings
        </mat-slide-toggle> -->
        }
      </div>
    </div>
  </div>
  }
  <div class="content">
    <div class="left">
      <app-video-player></app-video-player>
      <!-- TODO removed to make the ui cleaner -->
      <!-- <app-editor-settings></app-editor-settings> -->
      <app-user-test-controls></app-user-test-controls>
      @if ('live' | featureEnabled) {
      <div *ngrxLet="project$ as project">
        <button (click)="livestreamService.start(project?.id!)">Start</button>
        <button (click)="livestreamService.stop(project?.id!)">Stop</button>
        <button (click)="livestreamService.pause(project?.id!)">Pause</button>
        <button (click)="livestreamService.resume(project?.id!)">Resume</button>
        {{ project?.livestream?.livestreamStatus }}
        <br />
        <button (click)="livestreamService.startRecording(project?.id!)">
          Start Recording
        </button>
        <button (click)="livestreamService.stopRecording(project?.id!)">
          Stop Recording
        </button>
        <button (click)="livestreamService.pauseRecording(project?.id!)">
          Pause Recording
        </button>
        <button (click)="livestreamService.resumeRecording(project?.id!)">
          Resume Recording
        </button>
        {{ project?.livestream?.recordingStatus }}
        <br />
        <!-- <button (click)="connect(project?.id!)">Connect</button> -->
        <br />
      </div>
      }
    </div>
    <div
      class="right"
      *ngrxLet="selectedTranscriptionId$ as selectedTranscriptionId"
    >
      <ng-container *ngrxLet="editorUsers$ as editorUsers">
        <!-- <app-captions></app-captions> -->
        <!-- ADD FULLTEXT EDITOR HERE -->
        @if(selectedTranscriptionId && editorUsers.length > 0 &&
        editorUsers[0].id.length>0){
        <app-tiptap-editor
          [transcriptionId$]="selectedTranscriptionId$"
          [activeUsers]="editorUsers"
        ></app-tiptap-editor>
        }
        <!-- ADD FULLTEXT EDITOR HERE -->
      </ng-container>
    </div>
  </div>
</section>
