<div class="dialog-wrapper">
  <h2 mat-dialog-title i18n="@@viewerAdjustLayoutDialogTitle">Adjust Layout</h2>

  <div mat-dialog-content>
    <button
      class="close-button"
      mat-icon-button
      mat-dialog-close
      cdkFocusInitial
    >
      <mat-icon svgIcon="close"></mat-icon>
    </button>

    <div class="hint" i18n="@@viewerAdjustLayoutDialogSettingsHint">
      The settings are applied directly.
    </div>

    <!-- <h3>Video</h3>
    <mat-radio-group
      aria-label="Anordnung"
      [value]="videoArrangement$ | ngrxPush"
      (change)="onChangeVideoArrangement($event)"
    >
      <mat-radio-button value="{{ VideoArrangement.CENTERED }}"
        >Ein zentrales Video
      </mat-radio-button>
      <mat-radio-button value="{{ VideoArrangement.SMALL_BIG }}">
        Kleines Video links und großes rechts
      </mat-radio-button>
      <mat-radio-button value="{{ VideoArrangement.BIG_SMALL }}">
        Großes Video links und kleines rechts
      </mat-radio-button>
      <mat-radio-button value="{{ VideoArrangement.MEDIUM_MEDIUM }}">
        Zwei gleichgroße Videos nebeneinander
      </mat-radio-button>
    </mat-radio-group> -->

    <h3 i18n="@@viewerAdjustLayoutDialogTranscriptHeader">Transcript</h3>
    <div class="input-wrapper">
      <mat-slide-toggle
        [checked]="transcriptEnabled$ | ngrxPush"
        (change)="onTranscriptEnabledChanged($event)"
        i18n="@@viewerAdjustLayoutDialogTranscriptToggleLabel"
      >
        Show transcript</mat-slide-toggle
      >
    </div>

    <div class="input-wrapper">
      <mat-form-field appearance="fill">
        <mat-label i18n="@@viewerAdjustLayoutDialogFontsizeLabel"
          >Font Size</mat-label
        >
        <mat-select
          [value]="transcriptFontsize$ | ngrxPush"
          (selectionChange)="onChangeFontsize($event)"
          [disabled]="!(transcriptEnabled$ | ngrxPush)"
        >
          <mat-option
            value="{{ TranscriptFontsize.SMALL }}"
            i18n="@@viewerAdjustLayoutDialogFontsizeOptionSmall"
            >Small
          </mat-option>
          <mat-option
            value="{{ TranscriptFontsize.NORMAL }}"
            i18n="@@viewerAdjustLayoutDialogFontsizeOptionNormal"
            >Normal
          </mat-option>
          <mat-option
            value="{{ TranscriptFontsize.LARGE }}"
            i18n="@@viewerAdjustLayoutDialogFontsizeOptionBig"
            >Big
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="input-wrapper">
      <mat-radio-group
        aria-label="Position"
        [value]="transcriptPosition$ | ngrxPush"
        (change)="onTranscriptPositionChanged($event)"
        [disabled]="!(transcriptEnabled$ | ngrxPush)"
      >
        <mat-radio-button
          value="{{ TranscriptPosition.LEFT }}"
          i18n="@@viewerAdjustLayoutDialogTranscriptPositionLeft"
        >
          Transcript left
        </mat-radio-button>
        <mat-radio-button
          value="{{ TranscriptPosition.RIGHT }}"
          i18n="@@viewerAdjustLayoutDialogTranscriptPositionRight"
        >
          Transcript right
        </mat-radio-button>
        <!-- <mat-radio-button value="{{ TranscriptPosition.BOTTOM }}">
        Transkript unten
      </mat-radio-button> -->
        <!-- <mat-radio-button value="{{ TranscriptPosition.TOP }}">
        Transkript oben
      </mat-radio-button> -->
      </mat-radio-group>
    </div>
  </div>

  <!-- <div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
  </div> -->
</div>
