<div class="dialog-wrapper">
  <h2 mat-dialog-title>Layout anpassen</h2>

  <div mat-dialog-content>
    <h3>Video</h3>
    <mat-radio-group aria-label="Anordnung">
      <mat-radio-button value="1">Ein zentrales Video </mat-radio-button>
      <mat-radio-button value="2">
        Kleines Video links und großes rechts
      </mat-radio-button>
      <mat-radio-button value="3">
        Großes Video links und kleines rechts
      </mat-radio-button>
      <mat-radio-button value="4">
        Zwei gleichgroße Videos nebeneinander
      </mat-radio-button>
    </mat-radio-group>

    <h3>Transkript</h3>

    <mat-form-field appearance="fill">
      <mat-label>Schriftgröße</mat-label>
      <mat-select value="normal">
        <mat-option value="klein">Klein </mat-option>
        <mat-option value="normal" default>Normal </mat-option>
        <mat-option value="groß">Groß </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-radio-group aria-label="Position">
      <mat-radio-button value="1"> Transkript rechts </mat-radio-button>
      <mat-radio-button value="2"> Transkript links </mat-radio-button>
      <mat-radio-button value="3"> Transkript unten </mat-radio-button>
      <mat-radio-button value="4"> Transkript oben </mat-radio-button>
    </mat-radio-group>

    <h3>Notizblock</h3>

    <mat-radio-group aria-label="Position">
      <mat-radio-button value="1"> Rechts vom Video </mat-radio-button>
      <mat-radio-button value="2"> Links vom Video </mat-radio-button>
    </mat-radio-group>
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Save</button>
  </div>
</div>
