:host {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 16px;

  &.focused {
    input {
      background-color: var(--color-white);
    }
    button {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(50% - 1px);
  border-right: 2px dotted var(--color-border-grey);
}

button {
  position: absolute;
  background: var(--color-white);
  border: 1px solid var(--color-border-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.2s;

  &.top {
    top: -4px;
  }

  &.bottom {
    bottom: -20px;
  }
}

form {
  display: flex;
  flex-direction: column;
}

input {
  background-color: var(--color-background-grey);
  z-index: 1;
  min-width: 40px;
  max-width: 60px;
  height: 16px;
  font-size: 0.9rem;
  padding: 3px 4px;
  border-radius: 5px;
  border: 1px solid var(--color-border-grey);
  text-align: center;
  transition: background-color 0.2s;
  outline: var(--color-primary);

  &:first-child {
    margin-bottom: 8px;
  }

  &.error {
    background-color: var(--color-warn-800) !important;
    color: var(--color-white);
  }

  &.saved {
    background-color: var(--color-primary) !important;
    color: var(--color-white);
  }
}
