<!-- hide all while loading screen selection -->
<ng-container *ngIf="!loading">
  <h2 mat-dialog-title>Add Screensharing</h2>

  <mat-dialog-content class="mat-dialog-content">
    <ng-container *ngIf="loadingError">
      <p>
        Bei der Auswahl beim teilen des Bildschirms ist ein Fehler aufgetreten.
      </p>
    </ng-container>

    <ng-container *ngIf="!loading && !loadingError">
      <div class="controls">
        <mat-form-field class="title-form-field">
          <mat-label>Title</mat-label>
          <input matInput type="text" [(ngModel)]="screensharingSource.title" />
        </mat-form-field>

        <mat-form-field class="category-form-field">
          <mat-label>Media Category</mat-label>
          <mat-select [(ngModel)]="screensharingSource.mediaCategory">
            <mat-option value="{{ MediaCategory.OTHER }}">Other</mat-option>
            <mat-option value="{{ MediaCategory.SIGN_LANGUAGE }}"
              >Sign Language</mat-option
            >
            <mat-option value="{{ MediaCategory.SLIDES }}">Slides</mat-option>
            <mat-option value="{{ MediaCategory.SPEAKER }}">Speaker</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <br />

      <div *ngIf="screensharingSource.mediaStream">
        <video
          [srcObject]="screensharingSource.mediaStream"
          autoplay
          controls
        ></video>
      </div>
      <div
        class="meter-wrapper"
        *ngIf="screensharingSource.mediaStream && screensharingSource.sound"
      >
        <span> Audio level </span>
        <div class="meter">
          <app-audio-meter
            [mediaStream]="screensharingSource.mediaStream"
          ></app-audio-meter>
        </div>
      </div>

      <div
        *ngIf="!screensharingSource.mediaStream"
        class="flex justify-center"
        style="margin-top: 20px; width: 100%; height: 200px"
      >
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions>
    <ng-container *ngIf="!loadingError">
      <button mat-button (click)="onCloseDialog()">Cancel</button>
      <button mat-button (click)="onSubmitDialog()">Add</button>
    </ng-container>

    <ng-container *ngIf="loadingError">
      <button mat-button (click)="fetchStream()">
        Erneut versuchen
        <mat-icon svgIcon="repeat" class="svg-black"></mat-icon>
      </button>
    </ng-container>
  </mat-dialog-actions>
</ng-container>
