<ng-container *ngrxLet="captionsLoading$ as captionsLoading">
  <!-- loading -->
  @if (captionsLoading) {
  <section>
    <div class="sktn-caption-wrapper">
      <div class="sktn-caption-speaker"></div>
      @for (_ of [].constructor(3); track _) {
      <div class="flex">
        <div class="sktn-caption"></div>
        <div class="sktn-caption-placeholder-right"></div>
        <div class="sktn-caption-time-wrapper">
          <div class="sktn-caption-time"></div>
          <div class="sktn-caption-time"></div>
        </div>
        <div class="sktn-caption-placeholder-slider"></div>
      </div>
      }
    </div>
  </section>
  }
  <!-- loading finished -->
  @if (!captionsLoading) {
  <section class="container-virtual-scroll">
    <ng-container *ngrxLet="captions$ as captions">
      @if (captions.length>0) {

      <cdk-virtual-scroll-viewport
        #cdkVirtualScrollViewport
        class="document"
        itemSize="110"
        minBufferPx="400"
        maxBufferPx="800"
      >
        <app-caption
          *cdkVirtualFor="
            let caption of captions;
            index as index;
            first as first;
            last as last;
            trackBy: trackById
          "
          [caption]="caption"
          [captionBefore]="first ? null : captions[index - 1]"
          [captionAfter]="last ? null : captions[index + 1]"
        ></app-caption>
      </cdk-virtual-scroll-viewport>
      }@else {

      <div class="flex flex-col items-center">
        There are no captions in this transcription! Be the creator of the first
        caption!

        <button
          mat-flat-button
          color="primary"
          (click)="createInitialCaption()"
        >
          Add Caption!
        </button>
      </div>

      }
    </ng-container>
  </section>
  }
</ng-container>
