.controls {
  height: 100px;

  .video-progress-slider-wrapper {
    display: flex;
    justify-content: center;

    .time-info {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-text);

      &:first-child {
        margin-left: 1rem;
      }
      &:last-child {
        margin-right: 1rem;
      }
    }

    .mat-mdc-slider {
      width: 100%;
      margin: 0rem 1.25rem;
    }
  }

  .main-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.25rem;

    button:focus-visible {
      outline: 2px solid var(--color-black);
    }

    .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.625rem;
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.625rem;
    }
  }
  .information-row {
    display: flex;
    justify-content: space-between;
    margin: 0 1.25rem;
  }
}

::ng-deep {
  .mat-mdc-menu-panel {
    max-width: unset !important;
  }
}

.shorten {
  display: block;
  max-width: 11.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sound-wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  .volume-slider {
    opacity: 0%;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;

    &.visible {
      opacity: 100%;
      pointer-events: initial;
    }
  }
}

@media (max-width: 42.5rem) {
  .controls {
    .main-controls {
      margin: 0 0.625rem;

      .sound-wrapper {
        gap: 0.125rem;
      }
    }
  }
}

@media (max-width: 27.5rem) {
  .controls {
    .main-controls {
      flex-wrap: wrap;

      .left,
      .right {
        gap: 0.25rem;
      }
    }
  }
}
