@if (viewerService.audio) {
<div class="controls">
  <div class="video-progress-slider-wrapper">
    <span class="time-info">{{
      viewerService.audio.currentTime * 1000 | duration : 'mm:ss'
    }}</span>
    <mat-slider
      class="video-progress-slider black"
      min="0"
      [max]="viewerService.audio.duration"
      discrete
      [displayWith]="audioProgressLabel"
    >
      <input
        #progressInput
        aria-label="Video timeline"
        i18n-aria-label="@@viewerControlsTimelineLabel"
        matSliderThumb
        [value]="viewerService.audio.currentTime"
        (dragEnd)="onChangeCurrentTime(progressInput.value)"
        (keydown)="onKeypressChangeCurrentTime($event, progressInput.value)"
      />
    </mat-slider>
    <span class="time-info">{{
      viewerService.audio.duration * 1000 | duration : 'mm:ss'
    }}</span>
  </div>
  <div class="main-controls">
    <div class="left">
      <button
        mat-icon-button
        class="md"
        matTooltip="{{ viewerService.audio.paused ? 'Play' : 'Pause' }}"
        i18n-matTooltip="@@viewerControlsPlayPauseTooltip"
        (click)="onPlayPauseVideo()"
      >
        @if (viewerService.audio.paused) {
        <mat-icon svgIcon="play" />
        }@else {
        <mat-icon svgIcon="pause" />
        }
      </button>

      <!-- sound -->
      <button
        mat-icon-button
        class="md"
        matTooltip="{{
          viewerService.audio.muted ? 'Unmute sound' : 'Mute sound'
        }}"
        (click)="onMuteAudio()"
        i18n-matTooltip="@@viewerControlsMuteUnmuteTooltip"
      >
        @if (viewerService.audio.muted ||viewerService.audio.volume === 0) {
        <mat-icon svgIcon="volume-off"></mat-icon>
        } @else {
        <mat-icon svgIcon="volume-on"></mat-icon>
        }
      </button>

      <mat-slider
        class="volume-slider black"
        min="0"
        max="1"
        step="0.01"
        discrete
        [displayWith]="sliderLabelVolume"
        [disabled]="viewerService.audio.muted"
      >
        <input
          aria-label="Volume"
          i18n-aria-label="@@viewerControlsVolumeSlideLabel"
          matSliderThumb
          [value]="volume$ | ngrxPush"
          (change)="onVolumeChange($event)"
        />
      </mat-slider>
    </div>
    <div class="center"></div>
    <div class="right">
      <!-- <button mat-icon-button class="md" [cdkMenuTriggerFor]="newLanguageMenu">
        <mat-icon svgIcon="subtitles_white"></mat-icon>
      </button> -->

      <button
        mat-icon-button
        class="md"
        [matMenuTriggerFor]="languageMenu"
        (menuOpened)="onMenuOpened()"
        (menuClosed)="onMenuClosed()"
        matTooltip="Show language menu"
        i18n-matTooltip="@@viewerControlsLanguageMenuTooltip"
      >
        <mat-icon svgIcon="subtitles_white"></mat-icon>
      </button>

      <ng-container *ngrxLet="vViewerVideos$ as videos">
        @if (videos.length>1) {
        <button
          mat-icon-button
          class="md"
          [matMenuTriggerFor]="galleryMenu"
          (menuOpened)="onMenuOpened()"
          (menuClosed)="onMenuClosed()"
          matTooltip="Shown video selection"
          i18n-matTooltip="@@viewerControlsGalleryMenuTooltip"
        >
          <mat-icon svgIcon="gallery"></mat-icon>
        </button>
        }
      </ng-container>

      <button
        mat-icon-button
        class="md"
        [matMenuTriggerFor]="settingsMenu"
        (menuOpened)="onMenuOpened()"
        (menuClosed)="onMenuClosed()"
        matTooltip="Settings Menu"
        i18n-matTooltip="@@viewerControlsSettingsMenuTooltip"
      >
        <mat-icon svgIcon="setting"></mat-icon>
      </button>

      @if (viewerService.isFullscreenActive()) {
      <button
        mat-icon-button
        class="md fullscreen-button"
        (click)="viewerService.onRequestFullscreen()"
        matTooltip="Close fullscreen"
        i18n-matTooltip="@@viewerControlsFullscreenToggleTooltipActive"
      >
        <mat-icon svgIcon="fullscreen_close"></mat-icon>
      </button>
      }@else {
      <button
        mat-icon-button
        class="md fullscreen-button"
        (click)="viewerService.onRequestFullscreen()"
        matTooltip="Open fullscreen"
        i18n-matTooltip="@@viewerControlsFullscreenToggleTooltipInactive"
      >
        <mat-icon svgIcon="fullscreen"></mat-icon>
      </button>
      }
    </div>
  </div>
</div>
}

<!-- MENUS -->

<!-- <ng-template #testMenu>
  <div class="example-menu" cdkMenu>
    <button class="example-menu-item" cdkMenuItem>Refresh</button>
    <button class="example-menu-item" cdkMenuItem>Settings</button>
    <div cdkMenuGroup>
      <button class="example-menu-item" cdkMenuItem>Help</button>
      <button class="example-menu-item" cdkMenuItem>Sign out</button>
    </div>
  </div>
</ng-template> -->

<ng-template #newLanguageMenu>
  <div class="cdk-menu-wrapper" cdkMenu>
    <div>
      <div cdkMenuGroup>
        <span>Audiolanguage</span>
        <button
          mat-button
          cdkMenuItemCheckbox
          [cdkMenuItemChecked]="true"
          (cdkMenuItemTriggered)="(true)"
        >
          <mat-icon svgIcon="{{ true ? 'check' : '' }}"></mat-icon>German
        </button>
      </div>
      <div cdkMenuGroup>
        <span>Textlanguage</span>
        <!-- foreach transcriptions -->
        <ng-container *ngrxLet="transcriptions$ as transcriptions">
          @for (transcription of transcriptions.list; track $index) {
          <button
            cdkMenuItemRadio
            [cdkMenuItemChecked]="
              transcription.id === transcriptions.selectedId
            "
            #button
            (click)="onClickMenuItem($event, button)"
            (cdkMenuItemTriggered)="new_onChangeTranscription(transcription)"
          >
            <mat-icon
              svgIcon="{{
                transcription.id === transcriptions.selectedId ? 'check' : ''
              }}"
            ></mat-icon>
            <!-- {{ transcription.language }} ( -->
            {{ transcription.title }}
            <!-- ) -->
          </button>
          }
        </ng-container>
      </div>
    </div>
    <div></div>
  </div>
</ng-template>

<!-- LANGUAGE MENU -->
<mat-menu #languageMenu="matMenu">
  <div class="menu-wrapper">
    <div class="menu-column">
      <div class="menu-section">
        <span
          id="audio-title"
          class="section-title"
          i18n="@@viewerControlsAudioTitle"
          >Audiolanguage</span
        >
        <!-- foreach audios -->
        <button mat-menu-item aria-describedby="audio-title">
          <mat-icon svgIcon="{{ true ? 'check' : '' }}"></mat-icon>German
        </button>
      </div>

      <div class="menu-section">
        <span class="section-title" i18n="@@viewerControlsTextlanguageTitle"
          >Textlanguage</span
        >
        <!-- foreach transcriptions -->
        <ng-container *ngrxLet="transcriptions$ as transcriptions">
          @for (transcription of transcriptions.list; track $index) {
          <button
            mat-menu-item
            (click)="onChangeTranscription($event, transcription)"
          >
            <mat-icon
              svgIcon="{{
                transcription.id === transcriptions.selectedId ? 'check' : ''
              }}"
            ></mat-icon>
            <!-- {{ transcription.language }} ( -->
            {{ transcription.title }}
            <!-- ) -->
          </button>
          }
        </ng-container>
      </div>
    </div>

    <div class="menu-column">
      <div class="menu-section">
        <span
          id="captions-title"
          class="section-title"
          i18n="@@viewerControlsCaptionsTitle"
          >Captions</span
        >
        <ng-container
          *ngrxLet="subtitlesEnabledInVideo$ as subtitlesEnabledInVideo"
        >
          <button
            aria-describedby="captions-title"
            mat-menu-item
            (click)="onChangeCaptions($event, false, subtitlesEnabledInVideo)"
            i18n="@@viewerControlsCaptionsOffLabel"
          >
            <mat-icon
              svgIcon="{{ !subtitlesEnabledInVideo ? 'check' : '' }}"
            ></mat-icon
            >Off
          </button>
          <button
            aria-describedby="captions-title"
            mat-menu-item
            (click)="onChangeCaptions($event, true, subtitlesEnabledInVideo)"
            i18n="@@viewerControlsCaptionsOnLabel"
          >
            <mat-icon
              svgIcon="{{ subtitlesEnabledInVideo ? 'check' : '' }}"
            ></mat-icon
            >On
          </button>
        </ng-container>
        <button
          aria-describedby="captions-title"
          mat-menu-item
          class="simple-button"
          (click)="onOpenCaptionsSettingsDialog($event)"
          i18n="@@viewerControlsCaptionsSettingsLabel"
        >
          Settings
        </button>
      </div>

      <div class="menu-section">
        <span
          id="transcript-title"
          class="section-title"
          i18n="@@viewerControlsTranscriptTitle"
          >Transcript</span
        >
        <ng-container *ngrxLet="transcriptPosition$ as transcriptPosition">
          <button
            aria-describedby="transcript-title"
            mat-menu-item
            (click)="
              onChangeTranscriptPosition($event, tanscriptPositionENUM.OFF)
            "
            i18n="@@viewerControlsTranscriptOffLabel"
          >
            <mat-icon
              svgIcon="{{
                transcriptPosition === tanscriptPositionENUM.OFF ? 'check' : ''
              }}"
            ></mat-icon
            >Off
          </button>
          <button
            aria-describedby="transcript-title"
            mat-menu-item
            (click)="
              onChangeTranscriptPosition($event, tanscriptPositionENUM.LEFT)
            "
            i18n="@@viewerControlsTranscriptLeftLabel"
          >
            <mat-icon
              svgIcon="{{
                transcriptPosition === tanscriptPositionENUM.LEFT ? 'check' : ''
              }}"
            ></mat-icon
            >Left
          </button>
          <button
            aria-describedby="transcript-title"
            mat-menu-item
            (click)="
              onChangeTranscriptPosition($event, tanscriptPositionENUM.RIGHT)
            "
            i18n="@@viewerControlsTranscriptRightLabel"
          >
            <mat-icon
              svgIcon="{{
                transcriptPosition === tanscriptPositionENUM.RIGHT
                  ? 'check'
                  : ''
              }}"
            ></mat-icon
            >Right
          </button>
          <button
            aria-describedby="transcript-title"
            mat-menu-item
            class="simple-button"
            (click)="onOpenTranscriptSettingsDialog($event)"
            i18n="@@viewerControlsTranscriptSettingsLabel"
          >
            Settings
          </button></ng-container
        >
      </div>
    </div>
  </div>
</mat-menu>

<!-- GALLERY MENU  -->
<mat-menu #galleryMenu="matMenu">
  <!-- //TODO Wollen wir hier das main video anzeigen?  -->

  <div class="cdkmenu-wrapper">
    <div class="menu-column">
      <div class="menu-section">
        <span
          id="videos-title"
          class="section-title"
          i18n="@@viewerControlsTranscriptVideosTitle"
        >
          Videos</span
        >
        <ng-container *ngrxLet="vViewerVideos$ as videos">
          <ng-container *ngrxLet="bigVideo$ as bigVideo">
            @for (video of videos; track video) {
            <div
              aria-describedby="videos-title"
              class="mat-menu-item-wrapper"
              mat-menu-item
              (click)="onClickToggleVideoShown($event, video, bigVideo, videos)"
              (keydown)="
                onKeypressToggleVideoShown($event, video, bigVideo, videos)
              "
            >
              <!-- (change)="onCheckToggleVideoShown($event, video)" -->
              <mat-checkbox
                [checked]="video.id === bigVideo?.id || video.shown"
              >
                {{ video.title }}
                <!-- @if (video.category === 'sign_language') {
                <mat-icon
                  style="margin-left: auto; margin-right: 0"
                  svgIcon="sign_language"
                ></mat-icon>
                } -->
              </mat-checkbox>
            </div>
            }
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</mat-menu>

<!-- SETTINGS MENU -->
<mat-menu #settingsMenu="matMenu">
  <div class="menu-wrapper">
    <div class="menu-column">
      <div class="menu-section">
        <span
          id="darkmode-title"
          class="section-title"
          i18n="@@viewerControlsDarkmodeTitle"
          >Darkmode</span
        >
        <ng-container *ngrxLet="darkMode$ as darkMode">
          <button
            mat-menu-item
            i18n="@@viewerControlsDarkmodeAutoLabel"
            aria-describedby="darkmode-title"
          >
            <mat-icon svgIcon="{{ false ? 'check' : '' }}"></mat-icon>Automatic
          </button>
          <button
            mat-menu-item
            (click)="onToggleDarkmode($event, darkMode, false)"
            i18n="@@viewerControlsDarkmodeLight"
            aria-describedby="darkmode-title"
          >
            <mat-icon svgIcon="{{ !darkMode ? 'check' : '' }}"></mat-icon>Light
          </button>
          <button
            mat-menu-item
            (click)="onToggleDarkmode($event, darkMode, true)"
            i18n="@@viewerControlsTranscriptDarkLabel"
            aria-describedby="darkmode-title"
          >
            <mat-icon svgIcon="{{ darkMode ? 'check' : '' }}"></mat-icon>Dark
          </button>
        </ng-container>
      </div>
      <div class="menu-section">
        <button
          mat-menu-item
          class="simple-button"
          i18n="@@viewerControlsHelpLabel"
          (click)="onOpenHelpDialog($event)"
        >
          Help
        </button>
      </div>
    </div>
    <div class="menu-column">
      <div class="menu-section">
        <span
          id="playbackspeed-title"
          class="section-title"
          i18n="@@viewerControlsPlaybackspeedTitle"
          >Playbackspeed</span
        >
        <ng-container *ngrxLet="currentSpeed$ as currentSpeed">
          @for (speed of [0.25, 0.5, 0.75, 1, 1.25, 1.5,1.75, 2]; track speed) {
          <button
            mat-menu-item
            (click)="changePlaybackSpeed($event, speed)"
            aria-describedby="playbackspeed-title"
          >
            <mat-icon
              svgIcon="{{ currentSpeed === speed ? 'check' : '' }}"
            ></mat-icon>
            <span>
              @if (speed===1) { Standard } @else {
              {{ speed }}x }
            </span>
          </button>
          }
        </ng-container>
      </div>
    </div>
  </div>
</mat-menu>
