@if (viewerService.audio) {
<div class="controls">
  <div class="video-progress-slider-wrapper">
    <span class="time-info">{{
      viewerService.audio.currentTime * 1000 | duration : 'mm:ss'
    }}</span>
    <mat-slider
      class="video-progress-slider black"
      min="0"
      [max]="viewerService.audio.duration"
      discrete
      [displayWith]="audioProgressLabel"
    >
      <input
        #progressInput
        aria-label="Video timeline"
        i18n-aria-label="@@viewerControlsTimelineLabel"
        matSliderThumb
        [value]="viewerService.audio.currentTime"
        (dragEnd)="onChangeCurrentTime(progressInput.value)"
        (keydown)="onKeypressChangeCurrentTime($event, progressInput.value)"
      />
    </mat-slider>
    <span class="time-info">{{
      viewerService.audio.duration * 1000 | duration : 'mm:ss'
    }}</span>
  </div>
  <div class="main-controls">
    <div class="left">
      <button
        mat-icon-button
        class="md"
        matTooltip="{{ viewerService.audio.paused ? 'Play' : 'Pause' }}"
        i18n-matTooltip="@@viewerControlsPlayPauseTooltip"
        (click)="onPlayPauseVideo()"
      >
        @if (viewerService.audio.paused) {
        <mat-icon svgIcon="play" />
        }@else {
        <mat-icon svgIcon="pause" />
        }
      </button>

      <!-- sound -->
      <ng-container *ngrxLet="muted$ as muted">
        <ng-container *ngrxLet="volume$ as volume">
          <button
            mat-icon-button
            class="md"
            (click)="onMuteToggle()"
            cdkOverlayOrigin
            #volumeTrigger="cdkOverlayOrigin"
            (keydown)="onKeydownVolumeBtn($event, volume, muted)"
            (mouseenter)="onMouseEnterBtn()"
            (mouseout)="onMouseOutBtn()"
          >
            @if (muted || volume === 0) {
            <mat-icon svgIcon="volume-off"></mat-icon>
            } @else if(volume< 0.5){
            <mat-icon svgIcon="volume-low"></mat-icon>
            }@else {
            <mat-icon svgIcon="volume-on"></mat-icon>
            }
          </button>

          <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayOrigin]="volumeTrigger"
            [cdkConnectedOverlayOpen]="isVolumeSliderOpen"
            [cdkConnectedOverlayPositions]="volumeOverlayPositions"
          >
            <div
              class="volume-slider-wrapper menu-shadow"
              (mouseenter)="onMouseEnterOvly()"
              (mouseout)="onMouseOutOvly()"
            >
              <mat-slider
                class="volume-slider black"
                min="0"
                max="1"
                step="0.01"
                discrete
                [displayWith]="sliderLabelVolume"
              >
                <input
                  aria-label="Volume"
                  i18n-aria-label="@@viewerControlsVolumeSlideLabel"
                  matSliderThumb
                  [value]="muted ? 0 : volume"
                  (valueChange)="onVolumeChange($event, muted)"
                />
              </mat-slider>
            </div>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
    <div class="center"></div>
    <div class="right">
      <button
        id="language-menu-button"
        mat-icon-button
        class="md"
        [cdkMenuTriggerFor]="languageMenu"
        (cdkMenuOpened)="onMenuOpened()"
        (cdkMenuClosed)="onMenuClosed()"
        matTooltip="Show language menu"
        i18n-matTooltip="@@viewerControlsLanguageMenuTooltip"
      >
        <mat-icon svgIcon="subtitles_white"></mat-icon>
      </button>

      <ng-container *ngrxLet="vViewerVideos$ as videos">
        @if (videos.length>1) {
        <button
          mat-icon-button
          class="md"
          [cdkMenuTriggerFor]="galleryMenu"
          (cdkMenuOpened)="onMenuOpened()"
          (cdkMenuClosed)="onMenuClosed()"
          matTooltip="Shown video selection"
          i18n-matTooltip="@@viewerControlsGalleryMenuTooltip"
        >
          <mat-icon svgIcon="gallery"></mat-icon>
        </button>
        }
      </ng-container>

      <button
        id="settings-menu-button"
        mat-icon-button
        class="md"
        [cdkMenuTriggerFor]="settingsMenu"
        (cdkMenuOpened)="onMenuOpened()"
        (cdkMenuClosed)="onMenuClosed()"
        matTooltip="Settings Menu"
        i18n-matTooltip="@@viewerControlsSettingsMenuTooltip"
      >
        <mat-icon svgIcon="setting"></mat-icon>
      </button>

      @if (viewerService.isFullscreenActive()) {
      <button
        mat-icon-button
        class="md fullscreen-button"
        (click)="viewerService.onRequestFullscreen()"
        matTooltip="Close fullscreen"
        i18n-matTooltip="@@viewerControlsFullscreenToggleTooltipActive"
      >
        <mat-icon svgIcon="fullscreen_close"></mat-icon>
      </button>
      }@else {
      <button
        mat-icon-button
        class="md fullscreen-button"
        (click)="viewerService.onRequestFullscreen()"
        matTooltip="Open fullscreen"
        i18n-matTooltip="@@viewerControlsFullscreenToggleTooltipInactive"
      >
        <mat-icon svgIcon="fullscreen"></mat-icon>
      </button>
      }
    </div>
  </div>
</div>
}

<!-- MENUS -->

<!-- <ng-template #testMenu>
  <div class="example-menu" cdkMenu>
    <button class="example-menu-item" cdkMenuItem>Refresh</button>
    <button class="example-menu-item" cdkMenuItem>Settings</button>
    <div cdkMenuGroup>
      <button class="example-menu-item" cdkMenuItem>Help</button>
      <button class="example-menu-item" cdkMenuItem>Sign out</button>
    </div>
  </div>
</ng-template> -->

<ng-template #languageMenu>
  <div cdkMenu class="cdk-menu-wrapper menu-shadow">
    <div class="cdk-menu-column">
      <div cdkMenuGroup aria-labelledby="audio-section-title">
        <span
          id="audio-section-title"
          class="section-title"
          i18n="@@viewerControlsAudioTitle"
          >Audiolanguage</span
        >
        <button
          mat-button
          cdkMenuItemCheckbox
          [cdkMenuItemChecked]="true"
          (cdkMenuItemTriggered)="(true)"
        >
          <mat-icon svgIcon="check"></mat-icon>German
        </button>
      </div>
      <div cdkMenuGroup aria-labelledby="text-section-title">
        <span
          id="text-section-title"
          class="section-title"
          i18n="@@viewerControlsTextlanguageTitle"
        >
          Textlanguage
        </span>
        <ng-container *ngrxLet="transcriptions$ as transcriptions">
          @for (transcription of transcriptions.list; track transcription.id) {
          <button
            mat-button
            appCdkMenuItemRadio
            [appKeepMenuOpen]="true"
            [cdkMenuItemChecked]="
              transcription.id === transcriptions.selectedId
            "
            (cdkMenuItemTriggered)="onChangeTranscription(transcription)"
          >
            @if (transcription.id === transcriptions.selectedId) {
            <mat-icon svgIcon="check"></mat-icon>
            } {{ transcription.title }}
          </button>
          }
        </ng-container>
      </div>
    </div>
    <div class="cdk-menu-column">
      <div
        cdkMenuGroup
        aria-labelledby="captions-section-title"
        *ngrxLet="subtitlesEnabledInVideo$ as subtitlesEnabledInVideo"
      >
        <span
          id="captions-section-title"
          class="section-title"
          i18n="@@viewerControlsCaptionsTitle"
          >Captions
        </span>

        <button
          mat-button
          appCdkMenuItemRadio
          [appKeepMenuOpen]="true"
          [cdkMenuItemChecked]="subtitlesEnabledInVideo"
          (cdkMenuItemTriggered)="
            onChangeCaptions(false, subtitlesEnabledInVideo)
          "
          i18n="@@viewerControlsCaptionsOffLabel"
        >
          @if (!subtitlesEnabledInVideo) {
          <mat-icon svgIcon="check"></mat-icon>
          } Off
        </button>
        <button
          mat-button
          appCdkMenuItemRadio
          [appKeepMenuOpen]="true"
          [cdkMenuItemChecked]="!subtitlesEnabledInVideo"
          (cdkMenuItemTriggered)="
            onChangeCaptions(true, subtitlesEnabledInVideo)
          "
          i18n="@@viewerControlsCaptionsOnLabel"
        >
          @if (subtitlesEnabledInVideo) {
          <mat-icon svgIcon="check"></mat-icon>
          } On
        </button>
        <button
          mat-button
          cdkMenuItem
          (cdkMenuItemTriggered)="onOpenCaptionsSettingsDialog()"
          i18n="@@viewerControlsCaptionsSettingsLabel"
          class="single-button"
        >
          Settings
        </button>
      </div>
      <div
        cdkMenuGroup
        aria-labelledby="transcript-section-title"
        *ngrxLet="transcriptPosition$ as transcriptPosition"
      >
        <span
          id="transcript-section-title"
          class="section-title"
          i18n="@@viewerControlsTranscriptTitle"
          >Transcript
        </span>

        <button
          mat-button
          appCdkMenuItemRadio
          [appKeepMenuOpen]="true"
          [cdkMenuItemChecked]="
            transcriptPosition === tanscriptPositionENUM.OFF
          "
          (cdkMenuItemTriggered)="
            onChangeTranscriptPosition(tanscriptPositionENUM.OFF)
          "
          i18n="@@viewerControlsTranscriptOffLabel"
        >
          @if(transcriptPosition === tanscriptPositionENUM.OFF) {
          <mat-icon svgIcon="check"></mat-icon>
          } Off
        </button>

        <button
          mat-button
          appCdkMenuItemRadio
          [appKeepMenuOpen]="true"
          [cdkMenuItemChecked]="
            transcriptPosition === tanscriptPositionENUM.LEFT
          "
          (cdkMenuItemTriggered)="
            onChangeTranscriptPosition(tanscriptPositionENUM.LEFT)
          "
          i18n="@@viewerControlsTranscriptLeftLabel"
        >
          @if(transcriptPosition === tanscriptPositionENUM.LEFT){
          <mat-icon svgIcon="check"></mat-icon>} Left
        </button>
        <button
          mat-button
          appCdkMenuItemRadio
          [appKeepMenuOpen]="true"
          [cdkMenuItemChecked]="
            transcriptPosition === tanscriptPositionENUM.RIGHT
          "
          (cdkMenuItemTriggered)="
            onChangeTranscriptPosition(tanscriptPositionENUM.RIGHT)
          "
          i18n="@@viewerControlsTranscriptRightLabel"
        >
          @if(transcriptPosition === tanscriptPositionENUM.RIGHT){
          <mat-icon svgIcon="check"></mat-icon>
          } Right
        </button>

        <button
          mat-button
          cdkMenuItem
          (cdkMenuItemTriggered)="onOpenTranscriptSettingsDialog()"
          i18n="@@viewerControlsTranscriptSettingsLabel"
          class="single-button"
        >
          Settings
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- GALLERY MENU  -->
<ng-template #galleryMenu>
  <div cdkMenu class="cdk-menu-wrapper menu-shadow">
    <div class="cdk-menu-column">
      <div cdkMenuGroup aria-labelledby="video-section-title">
        <span
          id="video-section-title"
          class="section-title"
          i18n="@@viewerControlsTranscriptVideosTitle"
        >
          Videos
        </span>

        <ng-container *ngrxLet="bigVideo$ as bigVideo">
          <ng-container *ngrxLet="vViewerVideos$ as videos">
            @for (video of videos; track video.id) {
            <button
              mat-button
              appCdkMenuItemRadio
              [appKeepMenuOpen]="true"
              [cdkMenuItemChecked]="video.id === bigVideo?.id || video.shown"
              (cdkMenuItemTriggered)="
                onClickToggleVideoShown(video, bigVideo, videos)
              "
            >
              @if(video.id === bigVideo?.id || video.shown) {
              <mat-icon svgIcon="check"></mat-icon>
              } {{ video.title }}
            </button>
            }
          </ng-container></ng-container
        >
      </div>
    </div>
  </div>
</ng-template>

<!-- SETTINGS MENU -->
<ng-template #settingsMenu>
  <div cdkMenu class="cdk-menu-wrapper menu-shadow">
    <div class="cdk-menu-column">
      <div
        cdkMenuGroup
        aria-labelledby="darkmode-section-title"
        *ngrxLet="darkMode$ as darkMode"
      >
        <span
          id="darkmode-section-title"
          class="section-title"
          i18n="@@viewerControlsDarkmodeTitle"
          >Darkmode
        </span>
        <button
          mat-button
          appCdkMenuItemRadio
          [appKeepMenuOpen]="true"
          i18n="@@viewerControlsDarkmodeAutoLabel"
        >
          <mat-icon svgIcon="{{ false ? 'check' : '' }}"></mat-icon>Automatic
        </button>
        <button
          mat-button
          appCdkMenuItemRadio
          [appKeepMenuOpen]="true"
          (cdkMenuItemTriggered)="onToggleDarkmode(darkMode, false)"
          i18n="@@viewerControlsDarkmodeLight"
        >
          <mat-icon svgIcon="{{ !darkMode ? 'check' : '' }}"></mat-icon>Light
        </button>
        <button
          mat-button
          appCdkMenuItemRadio
          [appKeepMenuOpen]="true"
          (cdkMenuItemTriggered)="onToggleDarkmode(darkMode, true)"
          i18n="@@viewerControlsTranscriptDarkLabel"
        >
          <mat-icon svgIcon="{{ darkMode ? 'check' : '' }}"></mat-icon>Dark
        </button>
      </div>

      <div cdkMenuGroup aria-labelledby="others-section-title">
        <span
          id="others-section-title"
          class="section-title"
          i18n="@@viewerControlsOthersTitle"
          >Others
        </span>
        <button
          mat-button
          cdkMenuItem
          i18n="@@viewerControlsHelpLabel"
          (cdkMenuItemTriggered)="onOpenHelpDialog()"
          class="single-button"
        >
          Help
        </button>
      </div>
    </div>

    <div class="cdk-menu-column">
      <div
        cdkMenuGroup
        aria-labelledby="playbackspeed-section-title"
        *ngrxLet="currentSpeed$ as currentSpeed"
      >
        <span
          id="playbackspeed-section-title"
          class="section-title"
          i18n="@@viewerControlsPlaybackspeedTitle"
          >Playbackspeed
        </span>
        @for (speed of [0.25, 0.5, 0.75, 1, 1.25, 1.5,1.75, 2]; track speed) {
        <button
          mat-button
          appCdkMenuItemRadio
          [appKeepMenuOpen]="true"
          (cdkMenuItemTriggered)="changePlaybackSpeed(speed)"
        >
          @if(currentSpeed === speed ){
          <mat-icon svgIcon="check"></mat-icon>
          } @if (speed===1) { Standard } @else {
          {{ speed }}x }
        </button>
        }
      </div>
    </div>
  </div>
</ng-template>
