.controls {
  height: 100px;

  // border-top: 1px solid var(--color-border-grey);

  .video-progress-slider-wrapper {
    display: flex;
    justify-content: center;

    .time-info {
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        margin-left: 1rem;
      }
      &:last-child {
        margin-right: 1rem;
      }
    }

    .mat-mdc-slider {
      width: 100%;
      margin: 0rem 1.25rem;
    }
  }

  .main-controls {
    display: flex;
    align-items: center;
    margin: 0 1.25rem;

    button:focus,
    button:hover {
      outline: 1.5px solid var(--color-black);
    }

    .left {
      flex-basis: 33.333%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.625rem;
    }
    .center {
      flex-basis: 33.333%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
    }
    .right {
      flex-basis: 33.333%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.625rem;
    }

    .volume-slider {
      width: 100%;
      max-width: 6.25rem;
      margin: 0 1.5rem;
    }

    // .playback-speed-wrapper {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   border: 1px solid var(--color-border-grey);
    //   border-radius: 6px;
    //   height: 100%;

    //   button {
    //     margin: 3px;
    //   }

    //   .playback-speed-text {
    //     width: 6ch;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //   }
    // }
  }
  .information-row {
    display: flex;
    justify-content: space-between;
    margin: 0 1.25rem;
  }
}

::ng-deep {
  .mat-mdc-menu-panel {
    max-width: unset !important;
  }
}

.menu-wrapper {
  display: flex;

  gap: 5px;
  padding: 3px;

  .menu-column {
    flex: 50%;

    .menu-section {
      padding-top: 15px;
      padding-bottom: 20px;

      .section-title {
        padding-left: calc(16px + 24px + 16px);
        font-weight: bold;
        padding-right: 10px;

        // margin 16px + 24px icon + padding icon 16px
      }

      .simple-button {
        padding-left: calc(16px + 24px + 16px);
        text-decoration: underline;
      }
    }
  }
}
