.toolbar {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-border-grey);

  .toolbar-content {
    padding-inline: 1.25rem;
    width: 100%;
    max-width: 87.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    box-sizing: border-box;
  }
}

main {
  padding-block: 8rem;
  background-color: var(--color-white);
  color: var(--color-black);
}

.mat-drawer {
  padding-top: 1.25rem;
  min-width: 50%;

  h1 {
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
  }

  nav {
    margin-left: 1.25rem;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 1rem;

        a {
          text-decoration: none;
          color: var(--color-black);
          font-size: 1.125rem;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }

        button {
          margin-top: 1.25rem;
        }
      }
    }
  }
}
