@if (disableLandingPage) { @if (showHeader) {
<header>
  <mat-toolbar class="toolbar">
    <div class="toolbar-content">
      <app-logo class="clickable" [routerLink]="['/']" />

      <a
        mat-flat-button
        [routerLink]="(isLoggedIn$ | ngrxPush) ? '/home/projects' : '/'"
      >
        @if(isLoggedIn$ | ngrxPush) {
        <span i18n="@@landingToProjectsButton"> To the projects </span>
        } @else {
        <span i18n="@@landingToLoginPageButton"> To the login page </span>
        }
      </a>
    </div>
  </mat-toolbar>
</header>
}
<main>
  <router-outlet />
</main>
<app-landing-footer />
} @else {
<mat-sidenav-container autosize>
  <mat-sidenav
    #drawer
    mode="over"
    position="end"
    class="mat-drawer"
    fixedInViewport
  >
    <h1 i18n="@@landingSidenavMenuHeader">Menu</h1>
    <nav>
      <ul>
        <li>
          <a routerLink="/guide" (click)="drawer.toggle()"> Best Practice </a>
        </li>
        <li>
          <a routerLink="/tutorial" (click)="drawer.toggle()"> Tutorial </a>
        </li>

        <li>
          <button
            mat-stroked-button
            (click)="drawer.toggle()"
            i18n="@@landingSidenavCloseButton"
          >
            Close
          </button>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-landing-header (toggleSidebar)="drawer.toggle()" />
    <main>
      <router-outlet />
    </main>
    <app-landing-footer />
  </mat-sidenav-content>
</mat-sidenav-container>
}
