<div class="wrapper">
  @if (isOwner$ | ngrxPush) {
  <h2 i18n="@@uploadAdditionalMediaTitle">Upload additional media files</h2>

  <form class="upload-form" [formGroup]="formGroup">
    <app-upload-area
      formControlName="files"
      [acceptedFileFormats]="acceptedFileFormats"
      [fileFormatsLabel]="fileFormatsLabel"
    />
  </form>

  <div>
    <ul class="upload-list">
      @for (fileUpload of fileUploads; track fileUpload) {
      <li>
        <app-upload-progress
          [progress$]="fileUpload.uploadHandler.progress$"
          [fileSize]="fileUpload.uploadHandler.file.size"
          [customInlinePadding]="2"
          [title]="fileUpload.name"
        >
          <div class="upload-actions">
            @if (fileUpload.uploadHandler.progress$.value.status === 'pending')
            {

            <mat-form-field
              class="dense-category-form-field"
              subscriptSizing="dynamic"
            >
              <mat-label i18n="@@uploadAdditionalMediaVideoCategoryLabel">
                Category
              </mat-label>
              <mat-select
                [value]="fileUpload.category"
                (selectionChange)="onCategoryChange(fileUpload, $event.value)"
              >
                @for (selectableCategory of selectableMediaCategories; track
                $index) {
                <mat-option [value]="selectableCategory">{{
                  selectableCategory | mediaCategory
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <button mat-flat-button (click)="onClickSubmit(fileUpload)">
              Upload
            </button>

            }
            <button
              class="upload-outline-button"
              mat-icon-button
              (click)="onCancelUpload(fileUpload)"
            >
              <mat-icon svgIcon="clear" />
            </button>
          </div>
        </app-upload-progress>
      </li>
      }
    </ul>
  </div>
  }
  <ng-container *ngrxLet="project$ as project">
    <ng-container *ngrxLet="media$ as media">
      @if ( project && media) {
      <div class="media-files-wrapper">
        <h2 i18n="@@uploadAdditionalMediaListHeader">Media files</h2>
      </div>

      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="announceSortChange($event)"
      >
        <ng-container matColumnDef="category">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by category"
            i18n="@@uploadAdditionalMediaTableLanguageHeader"
          >
            Category
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.category | mediaCategory }}
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by title"
            i18n="@@uploadAdditionalMediaTableTitleHeader"
          >
            Title
          </th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by date of creation"
            i18n="@@uploadAdditionalMediaTableLastEditHeader"
          >
            Created at
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdAt | formatDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="more">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by more"
            i18n="@@uploadAdditionalMediaTableMoreHeader"
          >
            More
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              aria-label="more"
              [matMenuTriggerFor]="mediaMoreMenu"
              [matMenuTriggerData]="{ data: { media: element, project } }"
            >
              <mat-icon svgIcon="more" />
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      }
    </ng-container>
  </ng-container>
</div>

<mat-menu #mediaMoreMenu="matMenu" class="dense">
  <ng-template matMenuContent let-data="data">
    <button
      mat-menu-item
      (click)="onDownloadMedia(data.media, data.project.title)"
      i18n="@@uploadAdditionalMediaDownloadButtonLabel"
    >
      <mat-icon svgIcon="download" />
      Download
    </button>
    @if ((isOwner$ | ngrxPush) && data.media.category !== 'main' ) {
    <div>
      <mat-divider />
      <button
        (click)="onDeleteAdditionalMedia(data.project, data.media)"
        i18n="@@uploadAdditionalMediaDeleteButtonLabel"
        mat-menu-item
      >
        <mat-icon svgIcon="delete" />
        Delete
      </button>
    </div>
    }
  </ng-template>
</mat-menu>
