@use '@angular/material' as mat;

.wrapper {
  padding-top: 1.25rem;
}

.media-files-wrapper {
  margin-top: 3.75rem;
}

.upload-form {
  display: flex;
  flex-direction: column;
}

.upload-list {
  list-style: none;
  padding: 0;

  margin: 1.25rem 0 0;

  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.upload-actions {
  display: flex;
  align-items: center;
  gap: 1rem;

  button.upload-outline-button {
    border: 1px solid var(--color-dark-grey);
    color: var(--color-dark-grey);
  }
}

.dense-category-form-field {
  @include mat.all-component-densities(-1);
}
