@if( url && iframeString) {
<div class="embed-wrapper">
  <div class="video-wrapper">
    <!-- <app-viewer> </app-viewer> -->
    <iframe
      width="{{ width }}"
      height="{{ height }}"
      [src]="getUrl()"
      title="{{ title }}"
      allowfullscreen
      referrerpolicy="strict-origin-when-cross-origin"
      frameborder="0"
    ></iframe>
  </div>

  <br />

  <div class="link-wrapper">
    <!-- <h2>Einbetten</h2> -->
    <p>
      {{ iframeString }}
    </p>
    <br />
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="onCopyToClipboard()">
        Kopieren
      </button>
      @if (copied) {&nbsp; erfolgreich Kopiert!}
    </div>
  </div>
</div>
}
