.embed-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;

  .video-wrapper {
  }

  .link-wrapper {
    padding: 10px;
    width: calc(100% - 650px);
    min-width: 100px;

    p {
      word-wrap: break-word;
    }
  }
}
