:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  max-width: 62.5rem;
}

.mat-icon {
  &.hidden {
    visibility: hidden;
  }
}

.transcription-dropdown-button {
  mat-icon {
    margin-right: 0.25rem;
  }
}

.controls {
  display: flex;
  align-items: center;
  padding: 0 0.625rem 0 1rem;

  border: 1px solid var(--color-border-grey);
  border-bottom: none;
  background-color: var(--color-white);

  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;

  .statusbar {
    margin-left: auto;
    mat-spinner {
      max-height: 2rem;
    }
  }
}

.editor-container {
  margin-bottom: 2rem;
  position: relative;
  flex: 1 1 auto;
  box-sizing: border-box;
}

.editor {
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  position: absolute;
  inset: 0;
  overflow-y: scroll;
  border: 1px solid var(--color-border-grey);
  background-color: var(--color-white);
}
