<app-landing-header />

<div class="wrapper">
  <main>
    <h1 i18n="@@resetPasswordMainTitle">Reset password</h1>
    @if (token && email) { @if (error) {
    <p>
      {{ error }}
    </p>
    } @else if(loading ){
    <mat-spinner diameter="50" />
    } @else if (success) {
    <p i18n="@@resetPasswordSuccessMessage">
      Your password has been reset. You can now close this window.
    </p>
    }@else{

    <!-- form here -->
    <form [formGroup]="resetPasswordForm">
      <mat-form-field>
        <mat-label i18n="@@dialogResetPasswordNewPasswordLabel"
          >New Password</mat-label
        >
        <input matInput type="password" formControlName="newPassword" />
        @if (resetPasswordForm.controls.newPassword.hasError('required')) {
        <mat-error i18n="@@dialogResetPasswordNewPasswordRequiredError">
          New password required
        </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="@@dialogResetPasswordConfirmPasswordLabel"
          >Confirm New Password</mat-label
        >
        <input matInput type="password" formControlName="confirmPassword" />
        @if (resetPasswordForm.controls.confirmPassword.hasError('required')) {
        <mat-error i18n="@@dialogResetPasswordConfirmPasswordRequiredError"
          >Confirm new password required</mat-error
        >
        }
      </mat-form-field>
    </form>

    <div class="error-wrapper" aria-live="polite">
      @if (resetPasswordForm.hasError('notSame')){
      <div class="error">
        <mat-icon svgIcon="warning" />
        <p i18n="@@dialogResetPasswordDoNotMatchError">
          Passwords do not match
        </p>
      </div>
      } @if (resetPasswordError) {
      <div class="error">
        <mat-icon svgIcon="warning" />
        <p>{{ resetPasswordError }}</p>
      </div>
      }
    </div>

    <button
      (click)="onSubmitResetPassword()"
      mat-flat-button
      type="submit"
      i18n="@@dialogResetPasswordSubmitButtonLabel"
    >
      Reset Password
    </button>

    <!--  -->
    } } @else {
    <p i18n="@@resetPasswordNoTokenMessage">
      No token or email provided. Please check the link in your email.
    </p>
    }
  </main>

  <app-landing-footer />
</div>
