.mat-button-toggle-group {
  width: 100%;
  margin-bottom: 2.5rem;

  * {
    width: 50%;
  }
}

.mat-mdc-form-field {
  width: 100%;
}

.files-error-wrapper {
  min-height: 1.25rem;

  margin-top: 0.25rem;
  padding-left: 1.25rem;

  p {
    color: var(--color-warn);
    font-size: 0.75rem;
    font-weight: 300;
  }
}
