host: 0.0.0.0
port: 8000
api_keys:
  - "secret"
log_level: info
batch_workers:
  - device: cpu
    cpu_threads: 4
    compute_type: int8
    num_workers: 1
    transcription_enabled: True
    transcription_model: tiny
    transcription_model_settings:
      vad_filter: True
      condition_on_previous_text: False
    translation_enabled: True
    translation_model: facebook/seamless-m4t-v2-large