:host {
  display: flex;
  width: 100%;
}

.left {
  margin: calc(0.5rem - 2px);
  width: 100px;
}

.speaker {
  height: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0 0.5rem;
  span {
    display: block;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5rem;
  }
  &:hover {
    border-color: var(--color-border-grey);
    background: var(--color-background-grey);
  }
}

p {
  flex: 1;
  padding: 0.5rem 1rem;
  border-left: 1px solid var(--color-border-grey);
}
