<div class="left">
  <div
    class="speaker"
    tabindex="-1"
    [contentEditable]="false"
    [matMenuTriggerFor]="speakerMenu"
    [class.highlight]="isSpeakerSet"
  >
    <span>{{ speakerName }}</span>
  </div>

  <div class="speaker-change-timeline" [class.highlight]="isSpeakerSet">
    <div class="line"></div>
    <div class="dot"></div>
  </div>
</div>

<p tiptapNodeViewContent (click)="onClickParagraph($event)"></p>

<mat-menu #speakerMenu="matMenu">
  <ng-template matMenuContent>
    <app-edit-speaker-modal
      [editor]="editor"
      (changeSpeakerEvent)="onChangeSpeaker($event)"
    ></app-edit-speaker-modal>
  </ng-template>
</mat-menu>
