<div class="left">
  <div
    class="speaker"
    tabindex="-1"
    [contentEditable]="false"
    [matMenuTriggerFor]="speakerMenu"
  >
    <span>{{ speakerName }}</span>

    <!-- <span>Test</span> -->
  </div>
</div>

<p tiptapNodeViewContent (click)="onClickParagraph($event)"></p>

<mat-menu #speakerMenu="matMenu">
  <ng-template matMenuContent>
    <app-edit-speaker-modal
      [editor]="editor"
      (changeSpeakerEvent)="onChangeSpeaker($event)"
    ></app-edit-speaker-modal>
  </ng-template>
</mat-menu>
