<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-icon svgIcon="person" matPrefix></mat-icon>
    <mat-label i18n="@@registerNameLabel">Name</mat-label>
    <input
      formControlName="name"
      matInput
      type="text"
      name="name"
      autocomplete="name"
    />

    @if (formGroup.get('name')?.hasError('required')) {
    <mat-error i18n="@@registerNameErrorRequired"> Name is required </mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-icon svgIcon="email" matPrefix></mat-icon>
    <mat-label i18n="@@registerEmailLabel">Email</mat-label>
    <input
      formControlName="email"
      matInput
      type="email"
      name="email"
      autocomplete="email"
    />
    @if(formGroup.get('email')?.errors &&
    !formGroup.get('email')?.hasError('required')) {
    <mat-error i18n="@@registerEmailErrorNotValid"
      >Email address is not valid</mat-error
    >
    } @if( formGroup.get('email')?.hasError('required')) {
    <mat-error i18n="@@registerEmailErrorRequired">Email is required</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-icon svgIcon="lock" matPrefix></mat-icon>
    <mat-label i18n="@@registerPasswordLabel">Password</mat-label>
    <input
      formControlName="password"
      matInput
      type="password"
      name="password"
      autocomplete="new-password"
    />

    @if (formGroup.get('password')?.hasError('minlength') &&
    !formGroup.get('password')?.hasError('required') ) {
    <mat-error i18n="@@registerPasswordErrorMinimum"
      >Minimum 6 characters</mat-error
    >
    } @if(formGroup.get('password')?.hasError('required') ) {
    <mat-error i18n="@@registerPasswordErrorRequired"
      >Password is required</mat-error
    >
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-icon svgIcon="lock" matPrefix></mat-icon>
    <mat-label i18n="@@registerPasswordRepeatLabel"
      >Password (repeat)</mat-label
    >
    <input
      formControlName="passwordConfirm"
      matInput
      type="password"
      name="password"
      autocomplete="new-password"
    />
    @if (formGroup.get('passwordConfirm')?.hasError('minlength') &&
    !formGroup.get('passwordConfirm')?.hasError('required') ) {
    <mat-error i18n="@@registerPasswordRepeatErrorMinimum"
      >Minimum 6 characters</mat-error
    >
    } @if(formGroup.get('passwordConfirm')?.hasError('required') ) {
    <mat-error i18n="@@registerPasswordRepeatErrorRequired"
      >Password (repeat) is required</mat-error
    >
    }
  </mat-form-field>

  @if ( formGroup.get('password')?.valid &&
  formGroup.get('passwordConfirm')?.valid && formGroup.errors?.['confirm']) {
  <div class="error-message" aria-live="polite">
    <mat-icon svgIcon="warning"></mat-icon>
    <p i18n="@@registerPasswordsNotMatch">Passwords do not match</p>
  </div>

  }

  <ng-container *ngrxLet="error$ as error">
    @if (error) {
    <div class="error-message" aria-live="polite">
      <mat-icon svgIcon="warning"></mat-icon>
      <p>{{ error }}</p>
    </div>

    }
  </ng-container>
  <div class="flex justify-center">
    <button
      mat-flat-button
      type="submit"
      [disabled]="loading$ | async"
      color="primary"
    >
      <div class="flex items-center" i18n="@@registerLoginButtonLabel">
        @if (loading$ | async) {
        <mat-spinner
          strokeWidth="2"
          diameter="20"
          color="primary"
          style="margin-right: 10px"
        ></mat-spinner>
        } Register
      </div>
    </button>
  </div>
</form>
