environment: local
baseUrl: http://localhost:3000
baseFrontendUrl: http://localhost:4200

registration:
  mode: email # email | disabled
  requireAdminApproval: false

defaultUserSizeLimit: -1

mongodb:
  uri: mongodb://localhost:27017/captioning

redis:
  host: localhost
  port: 6379

jwt:
  secret: secret
  issuer: http://localhost:3000
  audience: http://localhost:4200

whisper:
  host: localhost
  apikey: shuffle2024

basicAuth:
  username: admin
  password: secret

# livekit:
#   url: ws://localhost:7880
#   apikey: devkey
#   secret: secret


adminUser:
  username: admin
  hashedPassword: admin:$2y$05$jswg1DsryRkK.NUwFQvxqOTC1VAO/CMOp5f6pJ4IPY5gTzm/zyWbu
  # password: secret
  # you can either set a cleartext or a hashed password

email:
  smtpServer: 'smtp.example.com'
  smtpPort: 465
  user: 'info@example.com'
  password: 'secret'
  mailFrom: info@example.com
  mailFromName: Melvin

# deepL:
#   url: https://api-free.deepl.com/v2
#   apikey: xxx

# libreTranslate:
#   url: http://libretranslate:5000

# googleTranslate:
#   url: https://translation.googleapis.com/language/translate/v2
#   apikey: xxx

# assemblyAi:
#   url: https://api.assemblyai.com/v2
#   apikey: xxx

# googleSpeech:
#   private_key: 'xxx'
#   client_email: 'xxx'
#   project_id: 'xxx'
#   bucketName: 'xxx'
