environment: local
baseUrl: http://localhost:3000
baseFrontendUrl: http://localhost:4200

registration:
  mode: disabled # email = registration via email/smtp | disabled = registration via adminpanel

defaultUserSizeLimitGB: -1 # -1 = unlimited 

mongodb:
  uri: mongodb://localhost:27017/captioning

redis:
  host: localhost
  port: 6379

jwt:
  secret: secret
  issuer: http://localhost:3000
  audience: http://localhost:4200

melvinAsr:
  host: localhost
  apikey: shuffle2024

basicAuth:
  username: admin
  password: secret
  
adminUser:
  username: admin
  # you can either set a cleartext or a hashed password (-> htpasswd -nbB admin secret) 
  password: secret
  # hashedPassword: admin:$2y$05$jswg1DsryRkK.NUwFQvxqOTC1VAO/CMOp5f6pJ4IPY5gTzm/zyWbu

# email:
#  smtpServer: 'smtp.example.com'
#  smtpPort: 465
#  user: 'info@example.com'
#  password: 'secret'
#  mailFrom: info@example.com
#  mailFromName: Melvin
