.container {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  position: relative;
}

.background-inner {
  position: absolute;
  inset: 2px;
  border-radius: 50%;
  overflow: hidden;
}

.inner {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}

.letter {
  display: block;
  font-weight: bold;
  font-size: 1rem;

  &.editor-view {
    font-size: 1.25rem;
    color: var(--color-white);
  }
}
