<div mat-dialog-title>
  <div class="dialog-header">
    <div>
      <h1 i18n="@@dialogAdminResetPasswordMainTitle">Reset Password</h1>
    </div>

    <button
      mat-icon-button
      [mat-dialog-close]="true"
      aria-label="Close"
      i18n-aria-label="@@dialogAdminResetPasswordCloseAriaLabel"
    >
      <mat-icon svgIcon="close" />
    </button>
  </div>
</div>

<mat-dialog-content>
  @if (newUserPasswordLoading$ | ngrxPush) {
  <mat-spinner diameter="30" />
  } @else { @let passwordMethod = passwordMethod$ | ngrxPush;
  @switch(passwordMethod) { @case ('return') { @if ( newUserPassword$ |
  ngrxPush; as newUserPassword) {

  <p i18n="@@dialogAdminResetPasswordNewPasswordCreated">
    New password created. Please send the password to the user.
  </p>

  <app-admin-user-password
    [username]="user.name"
    [password]="newUserPassword"
    [email]="user.email"
  />

  } } @case ('email') {
  <p i18n="@@dialogAdminResetPasswordPasswordEmailSent">
    A system-generated email was sent to <strong>{{ user.email }}</strong> with
    the new password. You can close this window.
  </p>
  } @default {
  <p>
    <span i18n="@@dialogAdminResetPasswordConfirmMessage"
      >Are you sure you want to reset the password for
    </span>
    <strong>{{ user.email }}</strong>
  </p>

  <button
    mat-flat-button
    (click)="onResetPassword()"
    i18n="@@dialogAdminResetPasswordResetButtonLabel"
  >
    Reset Password
  </button>
  } } }
</mat-dialog-content>
