<app-header>
  <span class="project-title" #projectTitle i18n="@@recorderTitle">
    Recorder
  </span>
  <div class="viewer-header-buttons"></div>
</app-header>
<section class="content">
  @if (loading) {
  <div class="flex justify-center" style="margin-top: 1.25rem">
    <mat-spinner></mat-spinner>
  </div>
  } @if (!loading) {
  <div class="head-wrapper">
    <div class="infotext">
      <mat-icon svgIcon="info"></mat-icon>
      @if (!livekitService.sessionInProgress) {
      <span i18n="@@recorderNotRecordingHints">
        You can add or delete sources. <br />
        To start the recording you need at least 1 visual and 1 auditive source.
      </span>
      }@else {
      <span i18n="@@recorderRecordingHints">
        Recording ongoing. Press Stop recording if you want to save or dismiss
        your recording.
      </span>
      }
    </div>

    <!-- setup buttons -->
    <div class="buttons">
      <!-- record buttons -->

      @if (livekitService.sessionInProgress) { @if
      (livekitService.sessionPaused) {
      <mat-icon class="" svgIcon="pause" />
      } @else {
      <p *ngrxLet="livekitService.currentDuation$; let currentDuration">
        {{ currentDuration | duration }}
      </p>
      } }

      <!-- start & stop -->
      @if(livekitService.sessionInProgress){

      <button
        class="action-btn"
        mat-flat-button
        (click)="onClickStopSession()"
        [disabled]="!livekitService.sessionInProgress"
        i18n="@@recorderStopRecordingButton"
      >
        Stop recording
      </button>
      }@else {
      <button
        class="action-btn"
        mat-flat-button
        (click)="onClickStartSession()"
        i18n="@@recorderStartRecordingButton"
        [disabled]="
          !livekitService.videoAndAudioAvailable ||
          livekitService.sessionInProgress
        "
      >
        Start recording
      </button>
      } @if (livekitService.sessionPaused) {

      <button
        class="action-btn"
        mat-flat-button
        (click)="onClickTogglePauseSession()"
        i18n="@@recorderResumeRecordingButton"
      >
        Resume recording
      </button>
      }@else {
      <button
        class="action-btn"
        mat-flat-button
        (click)="onClickTogglePauseSession()"
        i18n="@@recorderPauseRecordingButton"
        [disabled]="!livekitService.sessionInProgress"
      >
        Pause recording
      </button>

      }
    </div>
  </div>

  <div #lalelu></div>
  <div class="all-media-wrapper">
    <div class="media-category-wrapper">
      <h2 i18n="@@recorderAudioSourcesTitle">Audio sources</h2>
      @if (livekitService.audioSourceMap.size === 0) {
      <p i18n="@@recorderNoAudioAdded">
        <i>No audio source added</i>
      </p>
      }
      <div class="media-list-wrapper">
        @for (audioSource of livekitService.audioSourceMap.values(); track
        audioSource.id;) {
        <app-media-source [mediaSource]="audioSource"></app-media-source>
        }
      </div>
      <!--  -->
      @if (!livekitService.sessionInProgress) {
      <button
        class="add-btn"
        mat-stroked-button
        (click)="onAddAudioSource()"
        i18n="@@recorderAddAudioSourceButton"
      >
        Add audio source
      </button>
      }
    </div>
    <div class="media-category-wrapper">
      <h2 i18n="@@recorderVideoSourcesTitle">Video sources</h2>
      @if (livekitService.videoSourceMap.size === 0) {
      <p i18n="@@recorderNoVideoAdded">
        <i>No video source added</i>
      </p>
      }
      <div class="media-list-wrapper">
        @for (video of livekitService.videoSourceMap.values(); track video;) {
        <app-media-source [mediaSource]="video" />
        }
      </div>
      @if (!livekitService.sessionInProgress ) {
      <button
        class="add-btn"
        mat-stroked-button
        (click)="onAddVideoSource()"
        i18n="@@recorderAddVideoSourceButton"
      >
        Add video source
      </button>
      }
    </div>
    <div class="media-category-wrapper">
      <h2 i18n="@@recorderScreensharingSourcesTitle">Screensharing sources</h2>
      @if (livekitService.screenSourceMap.size === 0) {
      <p i18n="@@recorderNoScreensharingAdded">
        <i>No screensharing source added</i>
      </p>
      }
      <div class="media-list-wrapper">
        @for (screenSource of livekitService.screenSourceMap.values(); track
        screenSource.id) {
        <app-media-source [mediaSource]="screenSource" />
        }
      </div>
      <!--  -->
      @if (!livekitService.sessionInProgress) {
      <button
        class="add-btn"
        mat-stroked-button
        (click)="onAddScreenSharingSource()"
        i18n="@@recorderAddScreensharingButton"
      >
        Add screensharing source
      </button>
      }
    </div>
  </div>
  }
</section>
