<div mat-dialog-title>
  <div class="dialog-header">
    <div>
      <h1 i18n="@@resetPasswordDialogHeading">Reset password</h1>
    </div>

    <button
      mat-icon-button
      [mat-dialog-close]="true"
      aria-label="Close"
      i18n-aria-label="@@resetPasswordDialogCloseButton"
    >
      <mat-icon svgIcon="close" />
    </button>
  </div>
</div>
<mat-dialog-content class="dialog-content">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label i18n="@@resetPasswordDialogEmailLabel">Email</mat-label>
      <input
        formControlName="email"
        type="email"
        name="email"
        autocomplete="email"
        matInput
      />

      @if(formGroup.get('email')?.errors &&
      !formGroup.get('email')?.hasError('required')) {
      <mat-error i18n="@@resetPasswordDialogEmailErrorNotValid"
        >Email address is not valid</mat-error
      >
      } @if( formGroup.get('email')?.hasError('required')) {
      <mat-error i18n="@@resetPasswordDialogEmailErrorRequired"
        >Email is required</mat-error
      >
      }
    </mat-form-field>

    <button
      mat-flat-button
      type="submit"
      [disabled]="loading"
      class="send-button"
    >
      <div
        class="flex items-center"
        i18n="@@resetPasswordDialogSendButtonLabel"
      >
        @if (loading ) {
        <mat-spinner strokeWidth="2" diameter="20" />
        } Send reset link
      </div>
    </button>
  </form>

  <div aria-live="polite">
    @if(success) {
    <p class="success-message">
      <mat-icon svgIcon="check"></mat-icon>
      {{ success }}
    </p>
    } @if (error) {
    <p class="error-message">
      <mat-icon svgIcon="warning"></mat-icon>
      {{ error }}
    </p>
    }
  </div>
</mat-dialog-content>
