:host {
  display: flex;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.3125rem 0;
  margin: 0.3125rem 0;
  position: relative;

  --bg-color: var(--color-background-grey);
  --border-color: var(--color-border-grey);
  --icon-color: var(--color-text);

  &.warn {
    --bg-color: rgba(var(--color-red-rgb), 0.2);
    --border-color: rgba(var(--color-red-rgb), 0.7);
    --icon-color: var(--color-red);
  }

  &.info {
    --bg-color: rgba(var(--color-blue-rgb), 0.2);
    --border-color: rgba(var(--color-blue-rgb), 0.7);
    --icon-color: var(--color-blue);
  }

  &.list {
    background: var(--bg-color);
    padding-right: 1.25rem;
    mat-icon {
      color: var(--icon-color);
    }
  }

  &.timeline {
    background: var(--bg-color);
    margin: 0.3125rem 0;
    border-radius: 0.3125rem;
    border: 1px solid var(--border-color);
    mat-icon {
      color: var(--icon-color);
    }
  }

  .unread-indicator {
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;

    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--color-primary);
  }
}

mat-icon {
  margin: 0.625rem;
  margin-left: 1.25rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.625rem;
  flex: 1;

  .project-title {
    color: rgba(var(--color-black-rgb), 0.6);
  }

  .description {
    padding: 0.25rem 0;
    font-weight: 500;
  }

  &:hover {
    .project-title {
      color: var(--color-black);
      text-decoration: underline;
    }
  }
}

app-avatar {
  margin-right: 0.625rem;
}

.time-ago {
  color: rgba(var(--color-black-rgb), 0.6);
}

.user-name {
  margin: 0 0.625rem;
}

.error-status {
  margin: 0;
}
