<!-- debug populate -->
<!-- <button mat-stroked-button (click)="onPopulate()">Populate DB</button> -->

<footer [class.no-legal-section]="!privacyUrl && !imprintUrl">
  <nav
    i18n-aria-label="@@landingFooterNavAriaLabel"
    aria-label="Footer navigation"
    class="footer-content"
  >
    <div class="melvin-wrapper">
      <h2>
        <app-logo class="clickable" [routerLink]="['/']" />
        Melvin
      </h2>
      <ul>
        @if (contactEmail) {
        <li>
          <a href="mailto:{{ contactEmail }}">{{ contactEmail }}</a>
        </li>
        }
        <li>
          <a
            href="https://shuffle-projekt.de/"
            i18n="@@landingFooterSHUFFLELinkLabel"
            target="_blank"
            rel="noopener noreferrer"
          >
            SHUFFLE-Project

            <mat-icon
              svgIcon="new-tab"
              aria-hidden="false"
              i18n-aria-label="@@landingFooterNewTabAriaLabel"
              aria-label="Opens in new tab"
              class="icon"
            />
          </a>
        </li>
        <li>
          <a
            href="https://github.com/shuffle-project/melvin"
            rel="noopener noreferrer"
            target="_blank"
          >
            GitHub

            <mat-icon
              svgIcon="new-tab"
              aria-hidden="false"
              i18n-aria-label="@@landingFooterNewTabAriaLabel"
              aria-label="Opens in new tab"
              class="icon"
            />
          </a>
        </li>
        <li>
          <a [routerLink]="['/admin']"> Admin </a>
        </li>
      </ul>
    </div>

    @if (privacyUrl || imprintUrl) {

    <div class="legal-wrapper">
      <h3 i18n="@@landingFooterLegalHeader">Legal</h3>
      <ul>
        @if (privacyUrl) {
        <li>
          <a [routerLink]="privacyUrl" i18n="@@landingFooterPrivacyLinkLabel">
            Privacy
          </a>
        </li>
        } @if (imprintUrl) {
        <li>
          <a [routerLink]="imprintUrl" i18n="@@landingFooterImprintLinkLabel">
            Imprint
          </a>
        </li>
        }
      </ul>
    </div>
    } @if (!disableLandingPage || !disableInstallationPage) {
    <div class="tutorial-wrapper">
      <h3 i18n="@@landingFooterTutorialsHeader">Tutorials</h3>
      <ul>
        @if (!disableLandingPage) {
        <li>
          <a routerLink="/guide" i18n="@@landingFooterDidacticGuideLinkLabel">
            Best Practice
          </a>
        </li>
        } @if (!disableInstallationPage) {
        <li>
          <a
            routerLink="/installation"
            i18n="@@landingFooterInstallationLinkLabel"
          >
            Installation
          </a>
        </li>
        } @if (!disableLandingPage) {
        <li>
          <a routerLink="/tutorial" i18n="@@landingFooterTutorialLinkLabel">
            Tutorial
          </a>
        </li>
        } @if (!disableLandingPage) {
        <li>
          <a
            routerLink="/tutorial"
            fragment="faq"
            i18n="@@landingFooterFAQLinkLabel"
          >
            FAQ
          </a>
        </li>
        }
      </ul>
    </div>
    }

    <div class="accessibility-wrapper">
      <h3 i18n="@@landingFooterAccessibilityHeader">Accessibility</h3>
      <ul>
        @if(accessibilityStatementUrl) {
        <li>
          <a
            [routerLink]="accessibilityStatementUrl"
            i18n="@@landingFooterAccessibilityStatementLinkLabel"
          >
            Accessibility statement
          </a>
        </li>
        } @if (signLanguageUrl) {
        <li>
          <a
            [routerLink]="signLanguageUrl"
            i18n="@@landingFooterSignLanguageLinkLabel"
          >
            Sign Language
          </a>
        </li>
        } @if (easyLanguageUrl) {
        <li>
          <a
            [routerLink]="easyLanguageUrl"
            i18n="@@landingFooterEasyLanguageLinkLabel"
          >
            Easy Language
          </a>
        </li>
        }

        <li>
          <a routerLink="/sitemap"> Sitemap </a>
        </li>
      </ul>
    </div>

    <div class="funding-wrapper">
      <a
        href="https://stiftung-hochschullehre.de/"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="Foundation 'Stiftung Innovation in der Hochschullehre', opens in new tab"
        i18n-aria-label="@@landingFooterFoundationLinkAriaLabel"
        class="footer-foundation-link-dm"
      >
        <!-- image added through scss background image in darkmode folder -->
      </a>
    </div>
  </nav>
</footer>
