.custom-fieldset {
  padding: 1.875rem 1.25rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.fieldset-hint {
  margin-top: 0.25rem;
  padding-left: 1.25rem;

  p {
    color: var(--color-text);
    font-size: 0.75rem;
    font-weight: 300;
  }
}

.mat-mdc-form-field {
  width: 100%;
}
