<h2 mat-dialog-title i18n="@@recorderAddScreensharingTitle">
  Add Screensharing
</h2>
<mat-dialog-content class="mat-dialog-content">
  <div class="controls">
    <mat-form-field class="title-form-field">
      <mat-label i18n="@@recorderAddScreensharingTitleLabel">Title</mat-label>
      <input matInput type="text" [(ngModel)]="title" />
    </mat-form-field>
    <mat-form-field class="category-form-field">
      <mat-label i18n="@@recorderAddScreensharingMediaCategoryTitleLabel"
        >Media Category</mat-label
      >
      <mat-select [(ngModel)]="mediaCategory">
        @for (mediaCategory of mediaCategoryArray; track mediaCategory) {
        <mat-option [value]="mediaCategory">{{
          mediaCategory | mediaCategory
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <video #videoElement></video>

  @if (audioTrack) {
  <div class="meter-wrapper">
    <span> Audio level </span>
    <div class="meter">
      <app-audio-meter
        [mediaStream]="audioTrack.mediaStream!"
      ></app-audio-meter>
    </div>
  </div>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-stroked-button
    (click)="onCloseDialog()"
    i18n="@@recorderAddScreensharingCancelBtn"
  >
    Cancel
  </button>

  <button
    mat-flat-button
    (click)="onSubmitDialog()"
    i18n="@@recorderAddScreensharingAddBtn"
  >
    Add
  </button>
</mat-dialog-actions>
