<div mat-dialog-title>
  <div class="dialog-header">
    @if (project) {
    <h1>
      <span i18n="@@dialogProjectShareSubheading">Share</span>
      {{ project.title }}
    </h1>
    } @else {
    <div class="sktn-dialog-title"></div>
    }
    <button
      mat-icon-button
      [mat-dialog-close]="true"
      aria-label="Close"
      i18n-aria-label="@@dialogCloseButton"
    >
      <mat-icon svgIcon="close" />
    </button>
  </div>
</div>

<mat-dialog-content>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label i18n="@@dialogProjectSharePlayerTabLabel">
        Share videoplayer
      </ng-template>
      <app-share-player-tab [project]="project" />
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label i18n="@@dialogProjectShareEditTabLabel">
        Invite collaborators
      </ng-template>
      <app-invite-collaborators-tab [projectId]="project.id" />
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
