.container {
  padding: 24px;
}

.mat-mdc-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  display: flex;
  align-items: center;
  h3 {
    margin: 0;
  }
  mat-icon {
    margin-right: 10px;
  }
}

.user-row {
  display: flex;
  align-items: center;
  margin: 5px 0;

  app-avatar {
    margin-right: 5px;
  }

  .user-text {
    display: flex;
    flex-direction: column;
    flex: 1;

    .user-name {
      font-weight: 600;
    }

    .user-email {
      color: rgba(var(--color-black) 0.5);
    }
  }

  .user-role {
  }
}

input.link {
  background: rgba(var(--color-green-rgb), 0.2);
  color: var(--color-green);
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  border: none;
  flex: 1;
}

.add-member-form {
  display: flex;
  flex-direction: column;

  // .materror {
  //   color: var(--color-red);
  //   // font-size: 12px;
  //   // margin: 5px 0 0 15px;
  // }
}

.invite-result {
  margin-top: 10px;
  margin-left: 5px;
}
