<div class="container">
  <h2 mat-dialog-title>{{ project.title }}</h2>
  <mat-dialog-content>
    @if (isLoading) {
    <mat-spinner strokeWidth="2" diameter="20" color="primary"></mat-spinner>
    } @if (!isLoading) {
    <mat-accordion>
      <!-- Viewer with link -->
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header
          ><div class="title">
            <mat-icon svgIcon="link"></mat-icon>
            <h3>Viewer Link</h3>
          </div>
        </mat-expansion-panel-header>
        <div class="flex flex-col">
          <p>
            <b>Any person</b> who has this link can open the project as a viewer
            (anonymously)
          </p>
          <div class="flex">
            <input matInput [value]="viewerLink" class="link" readonly />
            <div>
              <button
                mat-button
                (click)="onClickCopyLink(viewerLink)"
                color="primary"
              >
                Copy link
              </button>
            </div>
          </div>
          <div style="margin-top: 40px">
            <p>
              If you want to <b>revoke access</b> for the current link, you can
              generate a new link:
            </p>
            <button mat-button (click)="onClickUpdateViewer()">
              Change access link
            </button>
          </div>
        </div>
      </mat-expansion-panel>

      <!-- Embed viewer -->
      <!-- <mat-expansion-panel disabled="true">
        <mat-expansion-panel-header
          ><div class="title">
            <mat-icon svgIcon="link"></mat-icon>
            <h3>Embed</h3>
          </div>
        </mat-expansion-panel-header>
        <app-embed></app-embed>
      </mat-expansion-panel> -->

      <!-- Invite member -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div class="title">
            <mat-icon svgIcon="group_add"></mat-icon>
            <h3 i18n="@@shareProjectWithPeopleHeader">Share with people</h3>
          </div>
        </mat-expansion-panel-header>
        <form #addMemberForm class="add-member-form">
          <mat-form-field>
            <mat-label i18n="@@shareProjectAddMemberLabel"
              >Add team member</mat-label
            >
            <input
              type="email"
              matInput
              [matAutocomplete]="auto"
              [formControl]="userControl"
            />
            @if (userControl.touched && userControl.dirty) {
            <mat-error>
              @if (userControl.hasError('required')) { Email is required } @if
              (userControl.hasError('email')) { Email is invalid }
            </mat-error>
            }
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="onAddMemberThroughSelect($event)"
            >
              @for (user of users; track user) {
              <mat-option [value]="user">
                <span class="user-name">{{ user.name }}</span>
                <br />
                <span class="user-email">{{ user.email }}</span>
              </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="inviteMember()">
            Invite to project
          </button>
        </form>
        <div #inviteResult class="invite-result"></div>
        <!-- TODO -->
        <!-- <span>Enter-Email Component</span>
          <div class="flex flex-col">
            <div *ngFor="let user of users" class="user-row">
              <app-avatar [user]="user"></app-avatar>
              <div class="user-text">
                <span class="user-name">{{ user.name }}</span>
                <span class="user-email">{{ user.email || 'Gast' }}</span>
              </div>
              <div
                *ngIf="user.id === project.createdBy"
                class="user-role"
                i18n="@@shareProjectOwnerLabel"
                >
                Owner
              </div>
            </div>
          </div> -->
      </mat-expansion-panel>
      <!-- Share with link -->
      <mat-expansion-panel>
        <mat-expansion-panel-header
          ><div class="title">
            <mat-icon svgIcon="link"></mat-icon>
            <h3 i18n="@@shareProjectRetrieveLinkHeader">Retrieve link</h3>
          </div>
        </mat-expansion-panel-header>
        <div class="flex flex-col">
          <p i18n="@@shareProjectInviteLinkWarningText">
            <b>Any person</b> who has this link can join the project
            <b>registered or anonymously</b>.
          </p>
          <div class="flex">
            <input matInput [value]="inviteLink" class="link" readonly />
            <div>
              <button
                mat-button
                (click)="onClickCopyLink(inviteLink)"
                color="primary"
                i18n="@@shareProjectCopyLinkLabel"
              >
                Copy link
              </button>
            </div>
          </div>
          <div style="margin-top: 40px">
            <p i18n="@@shareProjectGenerateNewLinkForProjectMessage">
              If you want to <b>revoke access</b> for the current link, you can
              generate a new link:
            </p>
            <button
              mat-button
              (click)="onClickUpdateInvite()"
              i18n="@@shareProjectChangeAccessLinkButtonLabel"
            >
              Change access link
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    }
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-flat-button
      color="primary"
      [mat-dialog-close]="true"
      cdkFocusInitial
      i18n="@@shareProjectDoneButtonLabel"
    >
      Done
    </button>
  </mat-dialog-actions>
</div>
