@if(disableLandingPage) { @if (isLoggedIn$ | ngrxPush) {
<div class="login-wrapper">
  <div class="login">
    <h1 i18n="@@landingMainLoggedInHeading">Logged in</h1>
    <a
      class="to-projects-link"
      mat-flat-button
      routerLink="/home/projects"
      i18n="@@landingMainToTheProjectsButton"
      >To the projects</a
    >
  </div>
</div>

} @else {
<div class="login-wrapper">
  <img
    width="64"
    height="64"
    alt=""
    aria-hidden="true"
    src="/assets/logo.svg"
  />
  <div class="login">
    <h1 i18n="@@landingMainLogInHeading">Login</h1>
    <app-login />
  </div>
</div>
} } @else {

<div class="title-wrapper content-width">
  <h1>
    <span i18n="@@landingMainHeadingAccessibleVideos"
      >Accessible videos -
    </span>
    <span class="not-bold" i18n="@@landingMainHeadingFeatures"
      >recording, subtitling and sharing
    </span>
    <span class="bold" i18n="@@landingMainHeadingWithMelvin">with Melvin</span>
  </h1>
  <ul>
    <li class="chip landing-main-chip-dm" i18n="@@landingMainOpenSourceChip">
      Open-Source
    </li>
    <li class="chip landing-main-chip-dm" i18n="@@landingMainFreeOfChargeChip">
      Free of charge
    </li>
  </ul>
</div>
<!-- melvin intro -->
<!-- https://melvin.shuffle-projekt.de/view/Twwm0uQUJAtr51OnkIwpCO85qk7NcwJefAHrngMmMTQfjLHJXn56UqDnxejjxd9D -->

<div class="feature-presentation-wrapper content-width">
  <div class="feature-explanation-wrapper">
    <div class="feature-explanation">
      <h2 i18n="@@landingMainIntroHeading">
        <mat-icon svgIcon="video" />
        Welcome to Melvin!
      </h2>
      <p i18n="@@landingMainIntroExplanationTop">
        Melvin is an intuitive tool for recording, editing, and providing
        accessible videos. In this short introductory video, you will get an
        initial overview of how to create, edit, and publish your own videos —
        or how you can use the Melvin player as a viewer.
      </p>
      <p i18n="@@landingMainIntroExplanationBottom">
        Whether recording, transcribing, editing, or viewing comfortably, Melvin
        helps you use videos easily and accessibly. Have fun exploring!
      </p>
    </div>
    @if (!disableTutorialVideos) {

    <iframe
      width="800"
      height="450"
      src="https://melvin.shuffle-projekt.de/view/Twwm0uQUJAtr51OnkIwpCO85qk7NcwJefAHrngMmMTQfjLHJXn56UqDnxejjxd9D?embed=true"
      title="Melvin videoplayer"
      frameborder="0"
      allowfullscreen
      referrerpolicy="strict-origin-when-cross-origin"
    ></iframe>
    } @else {
    <img
      alt=""
      aria-hidden="true"
      src="/assets/landing/recorder-screenshot-dark.png"
    />
    }
  </div>
</div>

<div class="feature-presentation-wrapper content-width">
  <div class="feature-explanation-wrapper">
    <div class="feature-explanation">
      <h2 i18n="@@landingMainRecordingHeading">
        <mat-icon svgIcon="video" />
        Recording
      </h2>
      <p i18n="@@landingMainRecordingExplanationTop">
        Start your recording directly in the browser, without any additional
        software. Plus, you have complete control over which audio and video
        sources you want to use.
      </p>
      <p i18n="@@landingMainRecordingExplanationBottom">
        You already have a recording? Simply upload it and use it too.
      </p>
    </div>
    @if (!disableTutorialVideos) {

    <iframe
      width="800"
      height="450"
      src="https://melvin.shuffle-projekt.de/view/pz6aQHJ6BVqFDKqMi8jAIW0AD6yiuGKUkTV30Yfihim9C9yqo3XHS3063OBklEvd?embed=true"
      title="Melvin videoplayer"
      frameborder="0"
      allowfullscreen
      referrerpolicy="strict-origin-when-cross-origin"
    ></iframe>
    } @else {
    <img
      alt=""
      aria-hidden="true"
      src="/assets/landing/recorder-screenshot-dark.png"
    />
    }
  </div>
</div>

<div class="feature-presentation-wrapper content-width">
  <div class="feature-explanation-wrapper">
    <div class="feature-explanation">
      <h2 i18n="@@landingMainSubtitlingHeading">
        <mat-icon svgIcon="edit" />
        Subtitling
      </h2>
      <p i18n="@@landingMainSubtitlingExplanation">
        After recording, your videos are automatically transcribed and subtitles
        are created. Using the editor, you can then make the final corrections
        manually, either alone or together with others.
      </p>
    </div>

    @if (!disableTutorialVideos) {
    <iframe
      width="800"
      height="450"
      src="https://melvin.shuffle-projekt.de/view/JBg0R0bymix6DndFTCNL8kNDvqOYttf2maVgV20px8OLaUodtioJf62PQUnXGAZN?embed=true"
      title="Melvin videoplayer"
      frameborder="0"
      allowfullscreen
      referrerpolicy="strict-origin-when-cross-origin"
    ></iframe>
    } @else {
    <img
      alt=""
      aria-hidden="true"
      src="/assets/landing/editor-screenshot-dark.png"
    />
    }
  </div>
</div>

<div class="feature-presentation-wrapper content-width">
  <div class="feature-explanation-wrapper">
    <div class="feature-explanation">
      <h2 i18n="@@landingMainSharingHeading">
        <mat-icon svgIcon="play-outline" /> Sharing
      </h2>
      <p i18n="@@landingMainSharingExplanationTop">
        Your recording can now be shared with our accessible player. You can
        simply share the link or embed the player in your website.
      </p>
      <p i18n="@@landingMainSharingExplanationBottom">
        Of course, you can also download your files and upload them elsewhere.
      </p>
    </div>

    @if (!disableTutorialVideos) {
    <iframe
      width="800"
      height="450"
      src="https://melvin.shuffle-projekt.de/view/iiTFXtfDAHCSsSC8u9o7riONiGYDzFy9FSleLuuD3upI3Gojtz3FiWF4S0OoC8YK?embed=true"
      title="Melvin videoplayer"
      frameborder="0"
      allowfullscreen
      referrerpolicy="strict-origin-when-cross-origin"
    ></iframe>
    } @else {
    <img
      alt=""
      aria-hidden="true"
      src="/assets/landing/player-screenshot-dark.png"
    />
    }
  </div>
</div>

}
