<div class="title-wrapper content-width">
  <h1>
    <span>Accessible videos - </span>recording, subtitling and sharing
    <span>with Melvin</span>
  </h1>
  <ul>
    <li class="chip">Open-Source</li>
    <li class="chip">Free of charge</li>
  </ul>
</div>
<div class="player-wrapper">
  <iframe
    width="1360"
    height="836"
    src="http://localhost:4200/view/UC2LXTDCDnDibFmwuR1Iai6j53bgk370EHxe62MGv4knmGhdOpDIREaHYR2EbAtm?embed=true"
    title="Melvin player"
    frameborder="0"
    allowfullscreen
    referrerpolicy="strict-origin-when-cross-origin"
  ></iframe>
</div>

<div class="feature-presentation-wrapper content-width">
  <div class="feature-explanation-wrapper">
    <div class="feature-explanation">
      <h2>
        <mat-icon svgIcon="video" />
        Recording
      </h2>
      <p>
        Start your recording directly in the browser, without any additional
        software. Plus, you have complete control over which audio and video
        sources you want to use.
      </p>
      <p>You already have a recording? Simply upload it and use it too.</p>
      <a>To the record tutorial</a>
    </div>
    <img src="assets/landing/recorder-screenshot-dark.png" alt="" />
  </div>
</div>

<div class="feature-presentation-wrapper content-width">
  <div class="feature-explanation-wrapper">
    <div class="feature-explanation">
      <h2>
        <mat-icon svgIcon="edit" />
        Subtitling
      </h2>
      <p>
        After recording, your videos are automatically transcribed and subtitles
        are created. Using the editor, you can then make the final corrections
        manually, either alone or together with others.
      </p>
      <a>To the editor tutorial</a>
    </div>

    <img src="assets/landing/editor-screenshot-dark.png" alt="" />
  </div>
</div>

<div class="feature-presentation-wrapper content-width">
  <div class="feature-explanation-wrapper">
    <div class="feature-explanation">
      <h2><mat-icon svgIcon="play-outline" /> Sharing</h2>
      <p>
        Your recording can now be shared with our accessible player. You can
        simply share the link or embed the player in your website.
      </p>
      <p>
        Of course, you can also download your files and upload them elsewhere.
      </p>
      <a>To the player tutorial</a>
    </div>
    <img src="assets/landing/player-screenshot-dark.png" alt="" />
  </div>
</div>

<div class="development-warning-wrapper">
  <div class="development-warning">
    <mat-icon svgIcon="wrench" class="icon" />
    <p>
      Melvin is currently still under development. However, you can already test
      the application now.
    </p>
    <p>
      In addition to improvements in accessibility and user experience, we are
      currently working on a <strong>livestream mode</strong>. Stay tuned and
      feel free to check back regularly.
    </p>
  </div>
</div>
