<div class="title-wrapper content-width">
  <h1>
    <span i18n="@@landingMainHeadingAccessibleVideos"
      >Accessible videos -
    </span>
    <span class="not-bold" i18n="@@landingMainHeadingFeatures"
      >recording, subtitling and sharing
    </span>
    <span class="bold" i18n="@@landingMainHeadingWithMelvin">with Melvin</span>
  </h1>
  <ul>
    <li class="chip landing-main-chip-dm" i18n="@@landingMainOpenSourceChip">
      Open-Source
    </li>
    <li class="chip landing-main-chip-dm" i18n="@@landingMainFreeOfChargeChip">
      Free of charge
    </li>
    <li class="chip wip" i18n="@@landingMainWIPChip">Work in progress</li>
  </ul>
</div>

<!-- <div class="player-wrapper">
  <iframe
    width="996"
    height="560"
    src="http://localhost:4200/view/UC2LXTDCDnDibFmwuR1Iai6j53bgk370EHxe62MGv4knmGhdOpDIREaHYR2EbAtm?embed=true"
    title="Melvin player"
    frameborder="0"
    allowfullscreen
    referrerpolicy="strict-origin-when-cross-origin"
  ></iframe>
</div> -->

<div class="feature-presentation-wrapper content-width">
  <div class="feature-explanation-wrapper">
    <div class="feature-explanation">
      <h2 i18n="@@landingMainRecordingHeading">
        <mat-icon svgIcon="video" />
        Recording
      </h2>
      <p i18n="@@landingMainRecordingExplanationTop">
        Start your recording directly in the browser, without any additional
        software. Plus, you have complete control over which audio and video
        sources you want to use.
      </p>
      <p i18n="@@landingMainRecordingExplanationBottom">
        You already have a recording? Simply upload it and use it too.
      </p>
      <!-- <a>To the record tutorial</a> -->
    </div>
    <iframe
      width="800"
      height="450"
      src="https://melvin.shuffle-projekt.de/view/kgv2CCDSjXFZhY6V6lJRBOvZkF3wsMhjqaKSbo8NMS00DlgnD2fj5A9qDu12BIlE?embed=true"
      title="Melvin videoplayer"
      frameborder="0"
      allowfullscreen
      referrerpolicy="strict-origin-when-cross-origin"
    ></iframe>
  </div>
</div>

<div class="feature-presentation-wrapper content-width">
  <div class="feature-explanation-wrapper">
    <div class="feature-explanation">
      <h2 i18n="@@landingMainSubtitlingHeading">
        <mat-icon svgIcon="edit" />
        Subtitling
      </h2>
      <p i18n="@@landingMainSubtitlingExplanation">
        After recording, your videos are automatically transcribed and subtitles
        are created. Using the editor, you can then make the final corrections
        manually, either alone or together with others.
      </p>
      <!-- <a>To the editor tutorial</a> -->
    </div>

    <iframe
      width="800"
      height="450"
      src="https://melvin.shuffle-projekt.de/view/CDGXvxYHbMFKmP2tVPwqrV3xjim6X7TnVKAf5msTt4ergZYt5cX3oKg9wk2CGBzy?embed=true"
      title="Melvin videoplayer"
      frameborder="0"
      allowfullscreen
      referrerpolicy="strict-origin-when-cross-origin"
    ></iframe>
  </div>
</div>

<div class="feature-presentation-wrapper content-width">
  <div class="feature-explanation-wrapper">
    <div class="feature-explanation">
      <h2 i18n="@@landingMainSharingHeading">
        <mat-icon svgIcon="play-outline" /> Sharing
      </h2>
      <p i18n="@@landingMainSharingExplanationTop">
        Your recording can now be shared with our accessible player. You can
        simply share the link or embed the player in your website.
      </p>
      <p i18n="@@landingMainSharingExplanationBottom">
        Of course, you can also download your files and upload them elsewhere.
      </p>
      <!-- <a>To the player tutorial</a> -->
    </div>
    <iframe
      width="800"
      height="450"
      src="https://melvin.shuffle-projekt.de/view/3do58LuBPaEPUydq64RQJPHXVXRuLdO65vmz1Q602it2Kdp2EuVFf9JR0prc58JR?embed=true"
      title="Melvin videoplayer"
      frameborder="0"
      allowfullscreen
      referrerpolicy="strict-origin-when-cross-origin"
    ></iframe>
  </div>
</div>

<aside class="development-warning-wrapper">
  <div class="development-warning">
    <mat-icon svgIcon="wrench" class="icon" />
    <p i18n="@@landingMainWIPExplanationTop">
      Melvin is currently still under development. However, you can already test
      the application now.
    </p>
    <p i18n="@@landingMainWIPExplanationBottom">
      In addition to improvements in accessibility and user experience, we are
      currently working on a <strong>livestream mode</strong>. Stay tuned and
      feel free to check back regularly.
    </p>
  </div>
</aside>
