.viewer-header-buttons {
  margin-left: auto;
  display: flex;

  > * {
    margin: 2px;
    height: 100%;
  }
}

.content {
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  width: 100%;
  // height: ;
  background-color: var(--color-background-grey);
  height: calc(100% - 60px); // header is 60px
  :fullscreen {
    height: 100%;
  }
  overflow-y: auto;

  .column-size-1 {
    flex-basis: 20%;
    flex-grow: 4;
    flex-shrink: 4;
    &:empty {
      flex-basis: 0%;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  .column-size-3 {
    flex-basis: 55%;
    flex-grow: 5;
    flex-shrink: 5;
    &:empty {
      flex-basis: 0%;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  .column-size-2 {
    flex-basis: 25%;
    flex-grow: 4;
    flex-shrink: 4;
    &:empty {
      flex-basis: 0%;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}

.mat-grid-list {
  // box-sizing: border-box;
  // width: 100%;
  background-color: var(--color-background-grey);
  // height: calc(100% - 60px); // header is 60px
}
mat-grid-tile {
  // margin: 10px;
  // padding: 7px;
  border-radius: 5px;
  background-color: white;
  box-shadow: none;
}

::ng-deep .box {
  margin: 10px;
  padding: 7px;
  background-color: white;
  box-shadow: none;
  border: 1px solid #e0e0e0;
  border-radius: 5px;

  &:has(video) {
    padding: 0px;
  }
}

.dark-mode-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-border-grey);
  border-radius: 5px;
  height: 100%;

  mat-icon {
    padding: 0 6px;
  }
}
