.content {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  // height: ;
  background-color: var(--color-background-grey);
  height: calc(100% - 60px); // header is 60px

  .left {
    width: 15%;
  }
  .center {
    width: 60%;
  }
  .right {
    width: 25%;
  }
}

.mat-grid-list {
  // box-sizing: border-box;
  // width: 100%;
  background-color: var(--color-background-grey);
  // height: calc(100% - 60px); // header is 60px
}
mat-grid-tile {
  // margin: 10px;
  // padding: 7px;
  border-radius: 5px;
  background-color: white;
  box-shadow: none;
}

::ng-deep .box {
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
  background-color: white;
  box-shadow: none;

  &:has(video) {
    padding: 0px;
  }
}
