<h2 mat-dialog-title>
  Add
  <span *ngIf="data.type === 'audioinput'">Audiosource</span>
  <span *ngIf="data.type === 'videoinput'">Videosource</span>
</h2>

<mat-dialog-content class="mat-dialog-content">
  <ng-container *ngIf="loading">
    <div class="flex justify-center" style="margin-top: 20px">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="!loading">
    <mat-form-field style="width: 100%">
      <mat-label>sources</mat-label>
      <mat-select
        [(ngModel)]="currentSelection"
        (selectionChange)="onSelectionChange()"
      >
        <mat-option *ngFor="let source of sources" [value]="source">
          {{ source.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 100%" *ngIf="mediaSource.mediaCategory">
      <mat-label>Title</mat-label>
      <input matInput type="text" [(ngModel)]="mediaSource.title" />
    </mat-form-field>

    <mat-form-field style="width: 100%" *ngIf="mediaSource.mediaCategory">
      <mat-label>Media Category</mat-label>
      <mat-select [(ngModel)]="mediaSource.mediaCategory">
        <mat-option value="{{ MediaCategory.OTHER }}">Other</mat-option>
        <mat-option value="{{ MediaCategory.SIGN_LANGUAGE }}"
          >Sign Language</mat-option
        >
        <mat-option value="{{ MediaCategory.SLIDES }}">Slides</mat-option>
        <mat-option value="{{ MediaCategory.SPEAKER }}">Speaker</mat-option>
      </mat-select>
    </mat-form-field>

    <br />

    <h2>Preview</h2>
    <div
      *ngIf="
        mediaSource && !streamLoading && currentSelection?.kind === 'videoinput'
      "
    >
      <app-media-source
        [mediaSource]="mediaSource"
        [readonly]="true"
      ></app-media-source>
    </div>

    <div
      *ngIf="
        mediaSource && !streamLoading && currentSelection?.kind === 'audioinput'
      "
    >
      <app-media-source
        [mediaSource]="mediaSource"
        [readonly]="true"
      ></app-media-source>
    </div>

    <div
      *ngIf="streamLoading"
      class="flex justify-center"
      style="margin-top: 20px; width: 400px; height: 200px"
    >
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onAddMediaSource()" mat-dialog-close>Add</button>
</mat-dialog-actions>
