:host {
  box-sizing: border-box;
  width: 100%;
}

.media-source-wrapper {
  // margin: 5px;
  // padding: 5px 10px;
  max-width: 100%;
  border: 1px solid var(--color-border-grey);
  background-color: var(--color-white);

  border-radius: 10px;

  // margin: 5px;
  box-sizing: border-box;
  width: 100%;

  .tile-header {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid var(--color-border-grey);
    padding: 8px;
    // margin-bottom: 8px;

    .header-buttons {
      display: flex;

      .meter-wrapper {
        height: 20px;
        width: 50px;
      }
    }

    .title {
      margin-bottom: 0px;
    }
    .subtitle {
      color: var(--color-dark-grey);
    }

    .media-category {
      color: var(--color-dark-grey);
    }

    .media-category.clickable {
      color: black;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .tile-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 5px;

    video {
      width: 90%;
      object-fit: cover;
      border-radius: 10px;
    }

    audio {
      width: 30%;
    }

    .meter-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;

      .meter {
        flex-grow: 1;
        width: 80%;
        height: 20px;
        display: flex;
      }
    }
  }
}
