<div class="media-source-wrapper">
  <div class="tile-header">
    <div>
      <h2 class="title">{{ mediaSource.title }}</h2>
      <div class="subtitle">
        <span
          *ngIf="mediaSource.mediaCategory"
          stlye="text-decoration: underline; cursor:pointer;"
        >
          {{ mediaSource.mediaCategory }}
        </span>
        <span
          *ngIf="
            mediaSource.mediaCategory && mediaSource.mediaDeviceInfo?.label
          "
        >
          |
        </span>
        {{ mediaSource.mediaDeviceInfo?.label }}
      </div>
    </div>
    <button *ngIf="!readonly" mat-icon-button (click)="onRemoveMediaSource()">
      <mat-icon svgIcon="delete"></mat-icon>
    </button>
  </div>
  <div class="tile-content">
    <ng-container [ngSwitch]="mediaSource.type">
      <!-- AUDIOINPUT -->

      <div *ngSwitchCase="'audioinput'">
        <audio [srcObject]="mediaSource.mediaStream" autoplay controls></audio>
      </div>

      <!-- VIDEOINPUT -->
      <div *ngSwitchCase="'videoinput'">
        <video [srcObject]="mediaSource.mediaStream" autoplay controls></video>
      </div>

      <!-- SCREENSHARING -->
      <div *ngSwitchCase="'screensharinginput'">
        <video [srcObject]="mediaSource.mediaStream" autoplay controls></video>
      </div>
    </ng-container>

    <div *ngIf="mediaSource.type === 'audioinput'">
      <mat-progress-bar mode="determinate" value="meter"></mat-progress-bar>
      {{ meter }}
    </div>
  </div>
</div>
