:host {
  box-sizing: border-box;
  width: 100%;
}

.media-source-wrapper {
  // margin: 5px;
  // padding: 5px 10px;
  max-width: 100%;
  border: 1px solid var(--color-border-grey);
  background-color: var(--color-white);

  border-radius: 10px;

  // margin: 5px;
  box-sizing: border-box;
  width: 100%;

  .tile-header {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid var(--color-border-grey);
    padding: 10px;
    // margin-bottom: 8px;

    .header-buttons {
      display: flex;
    }

    .title {
      margin-bottom: 0px;
    }
    .subtitle {
      color: var(--color-dark-grey);
    }

    .media-category {
      color: var(--color-dark-grey);
      margin-right: 10px;
    }

    .mat-mdc-chip.mat-mdc-standard-chip {
      height: 24px;
    }

    .media-category.clickable {
      color: var(--color-black);
    }
  }

  .clickable {
    cursor: pointer;
  }

  .tile-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    gap: 8px;

    video {
      width: 90%;
      object-fit: cover;
      border-radius: 10px;
    }

    audio {
      width: 30%;
    }

    .meter-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        text-align: center;
      }

      .meter {
        flex-grow: 1;
        width: 80%;
        height: 20px;
        display: flex;
      }
    }
  }
}
