<app-header>
  <span class="project-title" #projectTitle> Recorder </span>
  <div class="viewer-header-buttons"></div>
</app-header>
<section class="content">
  @if (loading) {
  <div class="flex justify-center" style="margin-top: 20px">
    <mat-spinner></mat-spinner>
  </div>
  } @if (!loading) {
  <div class="recording-wrapper">
    <mat-form-field class="" style="min-width: 300px">
      <mat-label>Aufnahmetitel</mat-label>
      <input
        matInput
        placeholder="Aufnahmetitel"
        [(ngModel)]="recordingTitle"
        required
      />
      <!-- value="Aufnahme vom {{ today | date }}" -->
    </mat-form-field>
    <mat-form-field *ngrxLet="languages$ as languages">
      <mat-label i18n="@@videoFormLanguageLabel">Language</mat-label>
      <mat-select required [(ngModel)]="language">
        @for (language of languages; track language) {
        <div>
          <mat-option [value]="language.code">
            {{ language.name }}
          </mat-option>
        </div>
        }
      </mat-select>
      <mat-error i18n="@@videoFormLanguageRequiredError"
        >Please select the primary language of the file content</mat-error
      >
    </mat-form-field>

    <div class="infotext">
      @if (recorderService.recording) {
      <div class="recording"></div>
      }

      <!--  -->
      @if (!this.recorderService.recordingMode) {
      <mat-icon svgIcon="info"></mat-icon>
      <p>
        Edit mode. You can add or delete sources. You need at least 1 source to
        continue.
      </p>
      <p>Switch to Recording Mode to start recording.</p>
      } @else if (!this.recorderService.recording) {
      <mat-icon svgIcon="info"></mat-icon>
      <p>Click Start Record to start the Recording</p>
      <p>Switch Edit mode to add or delete Sources again.</p>
      }@else {
      <mat-icon svgIcon="info"></mat-icon>
      <p>
        Recording ongoing. Press Stop recording if you want to save or dismiss
        your recording.
      </p>
      }
    </div>

    <!-- setup buttons -->
    <div class="buttons">
      <mat-slide-toggle
        [(ngModel)]="recorderService.recordingMode"
        [disabled]="
          recorderService.recording ||
          (recorderService.audios.length === 0 &&
            recorderService.videos.length === 0 &&
            recorderService.screensharings.length === 0)
        "
        color="primary"
      >
        Aufnahme modus
      </mat-slide-toggle>

      <!-- record buttons -->
      <button
        color="primary"
        mat-flat-button
        (click)="onClickStartRecord()"
        [disabled]="!recorderService.recordingMode || recorderService.recording"
      >
        Start Record
      </button>
      <button
        color="primary"
        mat-flat-button
        (click)="onClickStopRecord()"
        [disabled]="
          !recorderService.recordingMode || !recorderService.recording
        "
      >
        Stop Record
      </button>
    </div>
  </div>
  <hr />

  <div class="all-media-wrapper">
    <div class="media-category-wrapper">
      <h2>Audioquellen</h2>
      @if (recorderService.audios.length === 0) {
      <p>
        <i>Kein Audio hinzugefügt</i>
      </p>
      }
      <div class="media-list-wrapper">
        @for (audio of recorderService.audios; track audio; let index = $index)
        {
        <app-media-source [mediaSource]="audio"></app-media-source>
        }
      </div>
      <!--  -->
      @if (!recorderService.recordingMode) {
      <button
        color="primary"
        class="add-btn"
        mat-flat-button
        (click)="onAddAudioSource()"
      >
        add microphone
      </button>
      }
    </div>
    <div class="media-category-wrapper">
      <h2>Videoquellen</h2>
      @if (recorderService.videos.length === 0) {
      <p>
        <i>Kein Video hinzugefügt</i>
      </p>
      }
      <div class="media-list-wrapper">
        @for (video of recorderService.videos; track video; let index = $index)
        {
        <app-media-source [mediaSource]="video"></app-media-source>
        }
      </div>
      <!--  -->
      @if (!recorderService.recordingMode ) {
      <button
        color="primary"
        class="add-btn"
        mat-flat-button
        (click)="onAddVideoSource()"
      >
        add video
      </button>
      }
    </div>
    <div class="media-category-wrapper">
      <h2>Screensharingquellen</h2>
      @if (recorderService.screensharings.length === 0) {
      <p>
        <i>Kein Screensharing hinzugefügt</i>
      </p>
      }
      <div class="media-list-wrapper">
        @for ( screen of recorderService.screensharings; track screen; let index
        = $index) {
        <app-media-source [mediaSource]="screen"></app-media-source>
        }
      </div>
      <!--  -->
      @if (!recorderService.recordingMode) {
      <button
        class="add-btn"
        color="primary"
        mat-flat-button
        (click)="onAddScreenSharingSource()"
      >
        add screen sharing
      </button>
      }
    </div>
  </div>
  }
</section>
