.project-title {
  margin-left: 13px;
}

.content {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--color-background-grey);
  height: calc(100% - 60px); // header is 60px
  display: flex;
  flex-direction: column;

  .recording-wrapper {
    display: flex;
    margin-top: 10px;

    .infotext {
      flex: 1;
      display: flex;
      // flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      span {
        max-width: 400px;
        text-align: left;
      }
    }

    .buttons {
      margin-left: auto;
    }
  }

  .all-media-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;

    .media-category-wrapper {
      border: 1px solid var(--color-border-grey);
      padding: 20px;
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
      border: 0px 1px;
      overflow-y: auto;

      h2,
      p {
        display: flex;
        justify-content: center;
      }

      .media-list-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }
    }
  }
}

.add-btn {
  margin-top: 10px;
  width: 90%;
  align-self: center;
}

.recording {
  height: 25px;
  width: 25px;
  margin: 5px;

  border-radius: 50%;
  background-color: red;
}
