<app-header>
  <span class="project-title" #projectTitle> Recorder </span>
  <div class="viewer-header-buttons"></div>
</app-header>

<section class="content">
  <ng-container *ngIf="loading">
    <div class="flex justify-center" style="margin-top: 20px">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="!loading">
    <div class="recording-wrapper">
      <mat-form-field class="" style="min-width: 300px">
        <mat-label>Aufnahmetitel</mat-label>
        <input
          matInput
          placeholder="Aufnahmetitel"
          value="Aufnahme vom {{ today | date }}"
        />
      </mat-form-field>

      <button
        style="margin-left: auto"
        mat-stroked-button
        (click)="onClickStartRecord()"
        [disabled]="recording"
      >
        Start Record
      </button>
      <button
        mat-stroked-button
        (click)="onClickStopRecord()"
        [disabled]="!recording"
      >
        Stop Record
      </button>

      <div *ngIf="recording" class="recording"></div>
    </div>

    <hr />

    <div class="all-media-wrapper">
      <div class="media-category-wrapper">
        <h1>Audioquellen</h1>
        <p *ngIf="recorderService.audios.length === 0">
          <i>Kein Audio hinzugefügt</i>
        </p>
        <div class="media-list-wrapper">
          <ng-container
            *ngFor="let audio of recorderService.audios; let index = index"
          >
            <app-media-source
              [mediaSource]="audio"
              [readonly]="false"
              (removeMediaSourceElement)="
                onRemoveMediaSourceElement(audio, index)
              "
            ></app-media-source>
          </ng-container>
        </div>

        <!--  -->

        <button
          color="primary"
          class="add-btn"
          mat-flat-button
          (click)="onAddAudioSource()"
        >
          add microphone
        </button>
      </div>

      <div class="media-category-wrapper">
        <h1>Videoquellen</h1>
        <p *ngIf="recorderService.videos.length === 0">
          <i>Kein Video hinzugefügt</i>
        </p>
        <div class="media-list-wrapper">
          <ng-container
            *ngFor="let video of recorderService.videos; let index = index"
          >
            <app-media-source
              [mediaSource]="video"
              [readonly]="false"
              (removeMediaSourceElement)="
                onRemoveMediaSourceElement(video, index)
              "
            ></app-media-source>
          </ng-container>
        </div>

        <!--  -->

        <button
          color="primary"
          class="add-btn"
          mat-flat-button
          (click)="onAddVideoSource()"
        >
          add video
        </button>
      </div>

      <div class="media-category-wrapper">
        <h1>Screensharingquellen</h1>
        <p *ngIf="recorderService.screensharings.length === 0">
          <i>Kein Screensharing hinzugefügt</i>
        </p>
        <div class="media-list-wrapper">
          <ng-container
            *ngFor="
              let screen of recorderService.screensharings;
              let index = index
            "
          >
            <app-media-source
              [mediaSource]="screen"
              [readonly]="false"
              (removeMediaSourceElement)="
                onRemoveMediaSourceElement(screen, index)
              "
            ></app-media-source>
          </ng-container>
        </div>

        <!--  -->

        <button
          color="primary"
          class="add-btn"
          mat-flat-button
          (click)="onAddScreenSharingSource()"
        >
          add screen sharing
        </button>
      </div>
    </div>
  </ng-container>
</section>
