<div mat-dialog-title>
  <div class="dialog-header">
    <h1 i18n="@@viewerAdjustLayoutDialogTitle">Adjust Layout</h1>
    <button
      mat-icon-button
      mat-dialog-close
      cdkFocusInitial
      aria-label="Close"
      i18n-aria-label="@@viewerAdjustLayoutDialogCloseButton"
    >
      <mat-icon svgIcon="close"></mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content>
  <div class="hint" i18n="@@viewerAdjustLayoutDialogSettingsHint">
    The settings are applied directly.
  </div>

  <!-- <h3>Video</h3>
    <mat-radio-group
      aria-label="Anordnung"
      [value]="videoArrangement$ | ngrxPush"
      (change)="onChangeVideoArrangement($event)"
    >
      <mat-radio-button value="{{ VideoArrangement.CENTERED }}"
        >Ein zentrales Video
      </mat-radio-button>
      <mat-radio-button value="{{ VideoArrangement.SMALL_BIG }}">
        Kleines Video links und großes rechts
      </mat-radio-button>
      <mat-radio-button value="{{ VideoArrangement.BIG_SMALL }}">
        Großes Video links und kleines rechts
      </mat-radio-button>
      <mat-radio-button value="{{ VideoArrangement.MEDIUM_MEDIUM }}">
        Zwei gleichgroße Videos nebeneinander
      </mat-radio-button>
    </mat-radio-group> -->

  <h3 i18n="@@viewerAdjustLayoutDialogTranscriptHeader">Transcript</h3>
  <div class="input-wrapper">
    <mat-slide-toggle
      [checked]="transcriptEnabled$ | ngrxPush"
      (change)="onTranscriptEnabledChanged($event)"
      i18n="@@viewerAdjustLayoutDialogTranscriptToggleLabel"
    >
      Show transcript</mat-slide-toggle
    >
  </div>

  <div class="input-wrapper">
    <mat-form-field appearance="fill">
      <mat-label i18n="@@viewerAdjustLayoutDialogFontsizeLabel"
        >Font Size</mat-label
      >
      <mat-select
        [value]="transcriptFontsize$ | ngrxPush"
        (selectionChange)="onChangeFontsize($event)"
        [disabled]="!(transcriptEnabled$ | ngrxPush)"
      >
        <mat-option value="{{ SizeOptions.P80 }}"
          >{{ SizeOptions.P80 }}%
        </mat-option>
        <mat-option value="{{ SizeOptions.P100 }}"
          >{{ SizeOptions.P100 }}%
        </mat-option>
        <mat-option value="{{ SizeOptions.P120 }}"
          >{{ SizeOptions.P120 }}%
        </mat-option>
        <mat-option value="{{ SizeOptions.P140 }}"
          >{{ SizeOptions.P140 }}%
        </mat-option>
        <mat-option value="{{ SizeOptions.P160 }}"
          >{{ SizeOptions.P160 }}%
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="input-wrapper">
    <mat-radio-group
      aria-label="Position"
      [value]="transcriptPosition$ | ngrxPush"
      (change)="onTranscriptPositionChanged($event)"
      [disabled]="!(transcriptEnabled$ | ngrxPush)"
    >
      <mat-radio-button
        value="{{ TranscriptPosition.LEFT }}"
        i18n="@@viewerAdjustLayoutDialogTranscriptPositionLeft"
      >
        Transcript left
      </mat-radio-button>
      <mat-radio-button
        value="{{ TranscriptPosition.RIGHT }}"
        i18n="@@viewerAdjustLayoutDialogTranscriptPositionRight"
      >
        Transcript right
      </mat-radio-button>
      <!-- <mat-radio-button value="{{ TranscriptPosition.BOTTOM }}">
        Transkript unten
      </mat-radio-button> -->
      <!-- <mat-radio-button value="{{ TranscriptPosition.TOP }}">
        Transkript oben
      </mat-radio-button> -->
    </mat-radio-group>
  </div>

  <!-- <div class="input-wrapper">
    <mat-slide-toggle
      [checked]="transcriptOnlyMode$ | ngrxPush"
      (change)="onTranscriptOnlyModeChanged($event)"
    >
      Transcript only mode</mat-slide-toggle
    >
  </div> -->
</div>
