section {
  padding: 20px;
}

.buttons {
  margin-left: auto;
}

.changePasswordForm {
  max-width: 350px;
  border: 1px solid var(--color-border-grey);
  border-radius: 10px;
  padding: 10px;

  form {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }

  .error-message {
    display: flex;
    align-items: center;

    gap: 0.625rem;
    background-color: rgba(var(--color-red-rgb), 0.2);
    padding: 0.625rem 0.75rem;

    p {
      margin: 0;
    }
  }

  .success-message {
    display: flex;
    align-items: center;

    gap: 0.625rem;
    background-color: rgba(var(--color-green-rgb), 0.2);
    padding: 0.625rem 0.75rem;

    p {
      margin: 0;
    }
  }
}
