@use '@angular/material' as mat;

.container {
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.inner {
  width: 40rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  margin: 0 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 0.5rem;
}

button {
  width: 100%;
  max-width: 20rem;
}

.language-select {
  width: 100%;
  max-width: 20rem;
}
