<div class="landing-subpage-wrapper">
  <app-landing-back-link />
  <h1>Sitemap</h1>

  <p i18n="@@sitemapListExplanation">
    This sitemap lists all pages that do not require a login in alphabetical
    order.
  </p>

  @if (locale?.includes('de')) {
  <ul>
    @if(!disableLandingPage) {
    <li>
      <a routerLink="/guide"> Best Practice </a>
    </li>
    } @if (privacyUrl) {
    <li>
      <a [routerLink]="privacyUrl">Datenschutzerklärung</a>
    </li>
    } @if (accessibilityStatementUrl) {
    <li>
      <a [routerLink]="accessibilityStatementUrl"
        >Erklärung zur Barrierefreiheit</a
      >
    </li>
    }
    <li>
      <a routerLink="/sign-language">Gebärdensprache (DGS)</a>
    </li>
    @if(imprintUrl) {
    <li>
      <a [routerLink]="imprintUrl">Impressum</a>
    </li>
    } @if (!disableInstallationPage) {
    <li>
      <a routerLink="/installation"> Installation </a>
    </li>
    }
    <li>
      <a routerLink="/plain-language">Leichte Sprache</a>
    </li>

    <li>
      <a routerLink="/">Startseite</a>
    </li>
    <li>
      <a routerLink="/sitemap">Sitemap</a>
    </li>

    <li>
      <a routerLink="/tutorial">Tutorial</a>
    </li>
  </ul>
  } @else {
  <ul>
    @if (accessibilityStatementUrl) {
    <li>
      <a [routerLink]="accessibilityStatementUrl">Accessibility statement</a>
    </li>
    }
    <li>
      <a routerLink="/guide"> Best Practice </a>
    </li>
    @if (imprintUrl) {
    <li>
      <a [routerLink]="imprintUrl">Imprint</a>
    </li>
    } @if (!disableInstallationPage) {
    <li>
      <a routerLink="/installation"> Installation </a>
    </li>
    } @if (privacyUrl) {
    <li>
      <a [routerLink]="privacyUrl">Privacy</a>
    </li>
    }

    <li>
      <a routerLink="/">Startpage</a>
    </li>
    <li>
      <a routerLink="/sitemap">Sitemap</a>
    </li>

    <li>
      <a routerLink="/tutorial">Tutorial</a>
    </li>
  </ul>
  }
</div>
