@if ('settings' | featureEnabled) {
<div class="container">
  <h3>Settings</h3>

  <!-- <mat-form-field *ngrxLet="selectSpellchecking$ as spellchecking">
    <mat-label>Spellcheck</mat-label>
    <mat-select
      value="{{ spellchecking }}"
      (selectionChange)="onChangeSpellchecking($event)"
    >
      <mat-option value="enabled">Enabled</mat-option>
      <mat-option value="disabled">Disabled</mat-option>
    </mat-select>
  </mat-form-field> -->

  <ng-container *ngrxLet="selectSpellchecking$ as spellchecking">
    <mat-checkbox
      checked="spellchecking"
      (change)="onChangeSpellchecking($event)"
      i18n="@@editorSettingsSpellcheckingCheckbox"
      >Spellchecking
    </mat-checkbox>
  </ng-container>

  <ng-container *ngrxLet="showUsernames$ as showUsernames">
    <mat-checkbox
      checked="showUsernames"
      (change)="onToggleUsernames()"
      i18n="@@editorSettingsUsernamesCheckbox"
      >Show Usernames</mat-checkbox
    >
  </ng-container>

  <!-- <mat-slide-toggle
    [checked]="isCaptionTextValidationEnabled$ | ngrxPush"
    (change)="onChangeIsCaptionTextValidationEnabled($event)"
    labelPosition="before"
    >Text validation
  </mat-slide-toggle> -->
</div>
}
