<div class="container">
  <h3 i18n="@@editorSettingsHeadline">Settings</h3>

  <div
    class="spellcheck-wrapper"
    *ngrxLet="selectSpellchecking$ as spellchecking"
  >
    <mat-checkbox
      checked="spellchecking"
      (change)="onChangeSpellchecking($event)"
      i18n="@@editorSettingsSpellcheckingCheckbox"
      >Spellchecking
    </mat-checkbox>

    <button mat-icon-button (click)="onOpenDialogSpellcheckInfo()">
      <mat-icon svgIcon="info"></mat-icon>
    </button>
  </div>

  <ng-container *ngrxLet="showUsernames$ as showUsernames">
    <mat-checkbox
      checked="showUsernames"
      (change)="onToggleUsernames()"
      i18n="@@editorSettingsUsernamesCheckbox"
      >Show Usernames</mat-checkbox
    >
  </ng-container>

  <!-- <mat-slide-toggle
    [checked]="isCaptionTextValidationEnabled$ | ngrxPush"
    (change)="onChangeIsCaptionTextValidationEnabled($event)"
    labelPosition="before"
    >Text validation
  </mat-slide-toggle> -->
</div>
