<div
  class="container"
  (focusin)="onFocus()"
  (focusout)="onFocusOut()"
  [tabindex]="1"
>
  <div class="left">
    <app-caption-speaker
      *ngIf="'showSpeaker' | featureEnabled"
      [caption]="caption"
      [captionBefore]="captionBefore"
      [isFocused]="isFocused"
    ></app-caption-speaker>
    <app-caption-actions
      [isFocused]="isFocused"
      [caption]="caption"
    ></app-caption-actions>
  </div>

  <div class="center">
    <app-caption-text
      [caption]="caption"
      [isFocused]="isFocused"
    ></app-caption-text>
  </div>

  <div class="right">
    <app-caption-time
      [caption]="caption"
      [captionBefore]="captionBefore"
      [captionAfter]="captionAfter"
      [isFocused]="isFocused"
    ></app-caption-time>
  </div>
</div>
