.container {
  display: flex;
  animation: fadeIn 1s linear 0s forwards;
}

.left {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
}

.center {
  margin: 10px 20px;
  margin-top: 0;
}

.right {
  display: flex;
  flex: 0 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
