<div class="accordion-wrapper">
  <mat-accordion>
    <mat-expansion-panel class="shortcuts-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 i18n="@@shortcutsHeading">Shortcuts</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <ul>
          <li>
            <span i18n="@@shortcutsTogglePlayPause">Toggle Play / Pause</span>
            <span class="keys">{{ togglePlayPauseKeys }}</span>
          </li>
          <li>
            <span i18n="@@shortcutsRewind5Seconds">Rewind 5 Seconds</span>
            <span class="keys">{{ rewind5SecondsKeys }} </span>
          </li>
          <li>
            <span i18n="@@shortcutsSkip5Seconds">Skip 5 Seconds</span>
            <span class="keys">
              {{ skip5SecondsKeys }}
            </span>
          </li>
        </ul>

        <ul class="second-shortcut-list">
          <li>
            <span i18n="@@shortcutsJumpToWord">Jump to Word</span>
            <span class="keys">{{ jumpToWordKeys }}</span>
          </li>
          <li>
            <span i18n="@@shortcutsJumpToWordMouse">Jump to Word (Mouse)</span>
            <span class="keys">
              {{ jumpoToWordMouseKeys }}
              <mat-icon svgIcon="mouse-click"></mat-icon>
            </span>
          </li>
        </ul>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</div>
