.caption {
  border-radius: 5px;
  border: 1px solid var(--color-border-grey);
  color: var(--color-text);
  background-color: var(--color-white);
  outline: none;

  &.playing {
    color: var(--color-primary-700);
  }

  &.selected {
    border-width: 2px;
    border-color: var(--color-primary);
  }

  &.locked {
    border-width: 2px;
    color: var(--color-dark-grey-rgb);
    background-color: var(--color-background-grey);
    cursor: not-allowed;
  }
}

// .caption-time {
//   &.locked {
//     border-width: 2px;
//     color: var(--color-dark-grey-rgb);
//     background-color: var(--color-background-grey);
//     cursor: not-allowed;
//   }
// }
