html,
body {
  height: 100%;
}

* {
  color: var(--color-text);
  // background: var(--color-background);
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: var(--color-white);
}

input,
textarea {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

table {
  width: 100%;
}

a {
  color: var(--color-primary);
}

.clickable {
  cursor: pointer;
}

.cursor-ew-resize {
  cursor: ew-resize;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.display-none {
  display: none !important;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;

  h1 {
    margin: 0;
    display: flex;
    flex-direction: column;

    span {
      font-size: 1rem;
    }
  }
}
