html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: var(--color-white);
}

input,
textarea {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

table {
  width: 100%;
}

a {
  color: var(--color-primary);
}

.clickable {
  cursor: pointer;
}

.cursor-ew-resize {
  cursor: ew-resize;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.display-none {
  display: none !important;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
  margin-top: 0.875rem;
  gap: clamp(3rem, 15vw + 0.125rem, 6rem);

  h1 {
    margin: 0;
    display: flex;

    flex-direction: column;

    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;

    &:not(:has(span)) {
      font-size: clamp(1.5rem, 3vw + 0.25rem, 2rem);
      font-weight: bold;
      line-height: 100%;
    }

    span {
      font-size: clamp(1.5rem, 3vw + 0.25rem, 2rem);
      font-weight: bold;
      margin-bottom: 0.375rem;
      line-height: 100%;
    }
  }
}

// screenreader only
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// landing page styles
.landing-subpage-wrapper {
  max-width: 43.75rem;
  padding: 1.25rem;
  margin-inline: auto;
  min-height: calc(100vh - 18.875rem);

  h1 {
    font-size: clamp(1.875rem, 4vw + 0.25rem, 2.5rem);
    margin-bottom: 2.5rem;
    font-weight: 500;
  }

  h1.with-subheading {
    margin-bottom: 0.625rem;
  }

  .subheading {
    font-size: 1.25rem;
    margin: 0;
  }

  h2 {
    font-size: clamp(1.5rem, 3vw + 0.25rem, 2rem);
    margin-top: 3.75rem;
    font-weight: 400;
  }

  h3 {
    font-size: clamp(1.25rem, 2.5vw + 0.25rem, 1.5rem);
    margin-top: 2.5rem;
    font-weight: 400;
  }

  p,
  a {
    line-height: 150%;
    font-size: 1rem;
  }
}

.break-long-text {
  word-wrap: break-word;
  overflow-wrap: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

// NG-Content for Upload Progess Component
button.upload-outline-button {
  border: 1px solid var(--color-dark-grey);
  color: var(--color-dark-grey);
}
