:root {
  body.dark-theme {
    color-scheme: dark;
    --color-white: #0d1116;
    --color-white-rgb: 13, 17, 22;
    --color-black: #eef5fb;
    --color-black-rgb: 238, 245, 251;
    --color-text: #eef5fb;

    --color-primary: #28a4d1;
    --color-primary-rgb: 34, 124, 157;
    --color-accent: #6bd9b1;
    --color-accent-rgb: 107, 217, 177;
    --color-warn: #fa6454;

    --color-warn-dark-bg: #bf4a3e;
    --color-success-dark-bg: #45826a;

    --color-gradient-green: #41c4ad;

    --color-light: var(--color-black);
    --color-dark: var(--color-white);

    --color-background-grey: #02040a;
    --color-border-grey: #3d444d;

    --color-light-grey: #151a1f;
    --color-light-grey-rgb: 21, 26, 31;

    --color-grey: #2e353d;
    --color-grey-rgb: 46, 53, 61;

    // darkmode specific colors
    --color-dm-chip-waiting-1: #b5b5ba;
    --color-dm-chip-waiting-2: #aaaaaf;
    --color-dm-chip-finished-1: #838489;
    --color-dm-chip-finished-2: #8e8f97;

    // General colors
    --color-red: #bf4a3e;
    --color-red-rgb: 191, 74, 62;
    --color-light-red: #e35a51;
    --color-light-red-rgb: 227, 90, 81;
    --color-blue: #387094;
    --color-blue-rgb: 58, 112, 148;
    --color-sky-blue: #83bed0;
    --color-sky-blue-rgb: 131, 190, 208;
    --color-light-blue: #77a9c7;
    --color-light-blue-rgb: 119, 169, 199;
    --color-green: #45826a;
    --color-green-rgb: 69, 130, 106;
    --color-olive-green: #a0c378;
    --color-olive-green-rgb: 160, 195, 120;
    --color-sea-green: #80b183;
    --color-sea-green-rgb: 128, 177, 131;
    --color-orange: #e17b45;
    --color-orange-rgb: 225, 123, 69;
    --color-yellow: #e1ad45;
    --color-yellow-rgb: 225, 173, 69;
    --color-light-yellow: #e4cb73;
    --color-light-yellow-rgb: 228, 203, 115;
    --color-gold: #e1b869;
    --color-gold-rgb: 225, 184, 105;

    --color-highlight-yellow: #0f27ae;

    // Editor user colors
    // --color-editor-user-unknown: var(--color-grey);
    // --color-editor-user-primary: var(--color-primary);
    // --color-editor-user-orange: #f76825;
    // --color-editor-user-turquoise: #0ba3a3;
    // --color-editor-user-red: #f7254c;
    // --color-editor-user-purple: #9d43ba;
    // --color-editor-user-green: #0ba339;
    // --color-editor-user-pink: #ca3483;
    // --color-editor-user-blue: #2592f7;

    --color-editor-user-unknown-rgb: var(--color-grey-rgb);
    --color-editor-user-primary-rgb: var(--color-primary-rgb);
    --color-editor-user-orange-rgb: 247, 104, 37;
    --color-editor-user-turquoise-rgb: 11, 163, 163;
    --color-editor-user-red-rgb: 247, 37, 76;
    --color-editor-user-purple-rgb: 157, 67, 186;
    --color-editor-user-green-rgb: 11, 163, 57;
    --color-editor-user-pink-rgb: 202, 52, 131;
    --color-editor-user-blue-rgb: 37, 146, 247;

    // primary palette
    --color-primary-50: #e5f4f9;
    --color-primary-100: #bfe4f1;
    --color-primary-200: #94d2e8;
    --color-primary-300: #69bfdf;
    --color-primary-400: #48b2d8;
    --color-primary-500: #28a4d1;
    --color-primary-600: #249ccc;
    --color-primary-700: #1e92c6;
    --color-primary-800: #1889c0;
    --color-primary-900: #0f78b5;
    --color-primary-A100: #e3f4ff;
    --color-primary-A200: #b0dfff;
    --color-primary-A400: #7dcbff;
    --color-primary-A700: #63c1ff;

    // accent palette
    --color-accent-50: #edfaf6;
    --color-accent-100: #d3f4e8;
    --color-accent-200: #b5ecd8;
    --color-accent-300: #97e4c8;
    --color-accent-400: #81dfbd;
    --color-accent-500: #6bd9b1;
    --color-accent-600: #63d5aa;
    --color-accent-700: #58cfa1;
    --color-accent-800: #4eca98;
    --color-accent-900: #3cc088;
    --color-accent-A100: #ffffff;
    --color-accent-A200: #dbffef;
    --color-accent-A400: #a8ffd9;
    --color-accent-A700: #8fffcd;

    // warn palette
    --color-warn-50: #feecea;
    --color-warn-100: #fed1cc;
    --color-warn-200: #fdb2aa;
    --color-warn-300: #fc9387;
    --color-warn-400: #fb7b6e;
    --color-warn-500: #fa6454;
    --color-warn-600: #f95c4d;
    --color-warn-700: #f95243;
    --color-warn-800: #f8483a;
    --color-warn-900: #f63629;
    --color-warn-A100: #ffffff;
    --color-warn-A200: #ffffff;
    --color-warn-A400: #ffd0ce;
    --color-warn-A700: #ffb8b4;

    --theme-gradient: linear-gradient(
      135deg,
      var(--color-gradient-green) 0%,
      var(--color-gradient-green) 25%,
      var(--color-primary) 100%
    );

    --color-waveform-cursor: var(--color-primary-900);
    --color-waveform-played: var(--color-primary);
    --color-waveform-unplayed: var(--color-dark-grey);
    --color-waveform-zoomed-background: rgba(var(--color-primary-rgb), 0.1);
  }
}
