<div class="mat-tab-content">
  <mat-accordion>
    <!-- Viewer with link -->
    <mat-expansion-panel expanded="true" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-icon svgIcon="link" />
        <mat-panel-title>Viewer Link</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col">
        <p>
          <b>Any person</b> who has this link can open the project as a viewer
          (anonymously)
        </p>
        <div class="flex">
          <input matInput [value]="viewerLink" class="link" readonly />
          <div>
            <button
              mat-button
              (click)="onClickCopyLink(viewerLink)"
              color="primary"
            >
              Copy link
            </button>
          </div>
        </div>
        <div style="margin-top: 40px">
          <p>
            If you want to <b>revoke access</b> for the current link, you can
            generate a new link:
          </p>
          <button mat-button (click)="onClickUpdateViewer()">
            Change access link
          </button>
        </div>
      </div>
    </mat-expansion-panel>

    <!-- Embed viewer -->
    <mat-expansion-panel hideToggle="true">
      <mat-expansion-panel-header>
        <mat-icon svgIcon="link" />
        <mat-panel-title>Embed</mat-panel-title>
      </mat-expansion-panel-header>
      @if(project && viewerLink){
      <app-embed [viewerLink]="viewerLink" />
      }
    </mat-expansion-panel>
  </mat-accordion>
</div>
