.mode-selection-wrapper {
  background: var(--theme-gradient);
  border-radius: 6px;
  padding: 20px 30px 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;

  .mat-radio-button {
    background-color: var(--color-white);
    border-radius: 15px;
    padding: 5px 10px;
    margin: 0 5px 10px 5px;
  }
}

.mat-mdc-form-field {
  width: 100%;
}

.custom-hint {
  font-size: 12px;
  margin: 5px 0 0 15px;
}

.custom-error {
  color: var(--color-red);
  font-size: 12px;
  margin: 5px 0 0 15px;
}
