<form [formGroup]="metadataGroup">
  <mat-button-toggle-group
    i18n-aria-label="@@sourceFormToggleButtonAriaLabel"
    aria-label="Project source mode"
    formControlName="sourceMode"
  >
    <mat-button-toggle value="video" i18n="@@sourceFormVideoToggleButton"
      >Upload video or audio files
    </mat-button-toggle>
    <mat-button-toggle value="live" i18n="@@sourceFormLiveToggleButton">
      Connect to livestream
    </mat-button-toggle>
  </mat-button-toggle-group>
</form>

@if (metadataGroup.value.sourceMode === 'video') {
<form [formGroup]="videoGroup">
  <app-upload-files
    formControlName="files"
    [acceptedFileFormats]="acceptedFileFormats"
    ariaDesribedByIds="new-project-video-audio-file-error-required new-project-too-many-audio-video-error"
  ></app-upload-files>
  <div class="files-error-wrapper">
    @if ( videoGroup.controls.files.touched &&
    videoGroup.controls.files.hasError('videoRequired') ) {
    <p
      id="new-project-video-audio-file-error-required"
      aria-live="polite"
      i18n="@@sourceFormVideoRequiredError"
    >
      At least one video or audio file is required
    </p>
    } @if (videoGroup.controls.files.hasError('tooManyVideos')) {
    <p
      id="new-project-too-many-audio-video-error"
      aria-live="polite"
      i18n="@@sourceFormTooManyVideosError"
    >
      A maximum of one video or audio file may be uploaded
    </p>
    }
  </div>
</form>
} @if (metadataGroup.value.sourceMode === 'live') {
<form [formGroup]="liveGroup">
  <mat-form-field>
    <mat-label i18n="@@sourceFormURLInputLabel"
      >URL to the livestream</mat-label
    >
    <input matInput formControlName="url" />
    @if (liveGroup.controls.url.hasError('required')) {
    <mat-error i18n="@@sourceFormURLRequiredError"
      >The URL to the livestream is required</mat-error
    >
    } @if (liveGroup.controls.url.hasError('pattern')) {
    <mat-error i18n="@@sourceFormURLBadlyFormedError"
      >The URL is badly formed or contains invalid characters</mat-error
    >
    }
  </mat-form-field>
</form>
}
