:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  max-width: 1000px;
}

.controls {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.editor-container {
  margin-bottom: 2rem;
  position: relative;
  flex: 1 1 auto;
  box-sizing: border-box;
}

.editor {
  border-radius: 5px;
  position: absolute;
  inset: 0;
  overflow-y: scroll;
  border: 1px solid var(--color-border-grey);
  background-color: var(--color-white);
}
