<div class="controls">
  <button mat-icon-button (click)="onClickUndo()" [disabled]="!canUndo()">
    <mat-icon svgIcon="undo"></mat-icon>
  </button>
  <button mat-icon-button (click)="onClickRedo()" [disabled]="!canRedo()">
    <mat-icon svgIcon="redo"></mat-icon>
  </button>

  <div style="margin-left: auto">{{ CLIENT_STATUS[status] }}</div>
</div>

@if (editor && CLIENT_STATUS[status] === 'SYNCED') {
<ng-container *ngrxLet="spellchecking$ as spellchecking">
  <div class="editor-container" [spellcheck]="spellchecking">
    <tiptap-editor [editor]="editor" class="editor"></tiptap-editor>
  </div>
</ng-container>
}
