<div class="controls">
  <button mat-icon-button (click)="onClickUndo()">
    <mat-icon svgIcon="undo"></mat-icon>
  </button>
  <button mat-icon-button (click)="onClickRedo()">
    <mat-icon svgIcon="redo"></mat-icon>
  </button>
  <mat-checkbox
    [(ngModel)]="showUsernames"
    (ngModelChange)="onToggleUsernames()"
    color="primary"
    >Show Usernames</mat-checkbox
  >
  <div style="margin-left: auto">{{ CLIENT_STATUS[status] }}</div>
</div>

@if (editor) {
<div class="editor-container">
  <tiptap-editor [editor]="editor" class="editor"></tiptap-editor>
</div>
}
