:host {
  background: var(--color-background-grey);
  min-height: 100%;
  display: block;
}

.highlight-button {
  // color: var(--color-white) !important;
  // background-color: var(--color-primary);
}

.right-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.title-wrapper {
  margin-top: 0.25rem;
  display: flex;
  align-items: center;

  .project-title {
    padding-inline: 0.375rem;
    font-size: 1.25rem;
    max-width: clamp(5rem, 45vw + 0.125rem, 60rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover,
    &:focus {
      outline: 2px solid var(--color-primary);
    }
  }
}

.menu-header {
  padding-inline: 0.625rem;
  margin-block: 0.625rem;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  color: var(--color-text);
}

.actions-menu {
  display: flex;
}

.sticky {
  position: sticky;
  top: 4rem;
  padding-bottom: 0.375rem;
  border-bottom: 1px solid var(--color-border-grey);
  z-index: 2;
  overflow: hidden;
  background: var(--color-white);
}

.content-section {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height));
}

.controls-narrow-viewport {
  display: none;
}

.controls-wide-viewport {
  margin-bottom: 1rem;
}

.content {
  display: flex;
  padding: 1.25rem 1rem 1rem;

  justify-content: left;

  flex-direction: row;
  flex-grow: 1;
  gap: 1rem;

  .left {
    width: 100%;

    max-width: 20rem;
    min-width: 12.5rem;
    box-sizing: border-box;
  }

  .right {
    box-sizing: border-box;
    width: 100%;
    max-width: 52rem;

    display: flex;
    flex-direction: column;
  }
}

button.live {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.625rem;
  padding-left: 0.375rem;

  border-color: var(--color-red);

  &.active {
    border-color: transparent;
    mat-icon {
      color: var(--color-red);
    }
  }
}

.waveform-wrapper {
  min-height: 4rem;
}

.editor-transcription-info {
  border-radius: 0.3125rem;
  margin-block-end: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.625rem;

  .text-wrapper {
    .language {
      font-weight: 500;
    }
  }
}

// 20 * 2 (left max-width + gap * 2) + 52 (right max-width) + 2 (gap + outer spacing) = 96
// Funktioniert nicht, weil nicht alle Videos gleich breit sind ...
@media (min-width: 96rem) {
  .content {
    justify-content: center !important;
    transform: translateX(-10.5rem);
  }
}

@media (max-width: 62.5rem) {
  .controls-narrow-viewport {
    display: block;
    margin-inline: 1rem;
    margin-top: 1.25rem;
  }

  .controls-wide-viewport {
    display: none;
  }

  .content {
    padding-top: 1rem;

    .right {
      min-width: 65%;
    }
  }
}
