<app-header [editorView]="true" *ngrxLet="project$ as project">
  <div>
    <div>
      <div class="title-wrapper">
        <span
          #projectTitle
          class="project-title"
          [attr.contenteditable]="isOwner$ | ngrxPush"
          (blur)="onChangeProjectTitle(projectTitle.innerText, project)"
        >
          {{ project?.title }}
        </span>
        <button
          mat-icon-button
          [routerLink]="['/home/projects']"
          class="sm editor-back-button"
          style="margin-left: 1.25rem"
          i18n-matTooltip="@@editorBackToProjectsList"
          i18n-matTooltip="@@editorBackToProjectsList"
          matTooltip="Back to all projects"
          aria-label="Back to all projects"
        >
          <mat-icon svgIcon="folder_back_outline"></mat-icon>
        </button>
      </div>
      <div class="actions-menu">
        <!-- File Menu -->
        @if ('fileMenu' | featureEnabled) {
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          i18n="@@editorMenuFileLabel"
          class="editor-action-button"
        >
          File
        </button>
        }
        <mat-menu #menu="matMenu" class="dense">
          @if ('download' | featureEnabled) {
          <button
            mat-menu-item
            [matMenuTriggerFor]="downloadMenu"
            i18n="@@editorMenuFileDownloadLabel"
          >
            <mat-icon svgIcon="download"></mat-icon>
            Download
          </button>
          } @if (isOwner$ | ngrxPush) {
          <mat-divider></mat-divider>
          <button
            (click)="onDeleteProject()"
            mat-menu-item
            i18n="@@editorMenuFileDeleteLabel"
          >
            <mat-icon svgIcon="delete" />
            Delete
          </button>
          }
        </mat-menu>
        <mat-menu #downloadMenu="matMenu" class="dense">
          <ng-container *ngrxLet="projectMedia$ as projectMedia">
            <span class="menu-header" i18n="@@editorMenuVideosHeader"
              >Videos</span
            >
            @if (projectMedia) { @for (video of projectMedia.videos; track
            $index) {
            <button
              mat-menu-item
              (click)="onDownloadVideo(video, project?.title)"
            >
              {{ video.category | mediaCategory }}
              @if (video.title) { [{{ video.title }}] } (.{{ video.extension }})
            </button>
            } }
          </ng-container>

          <mat-divider />
          <span class="menu-header" i18n="@@editorMenuTranscriptionsHeader"
            >Transcripts
          </span>

          @for(transcription of transcriptionsList$ |ngrxPush; track
          transcription) {
          <button
            mat-menu-item
            [matMenuTriggerFor]="transcriptionDownloadMenu"
            [matMenuTriggerData]="{ transcription }"
          >
            {{
              transcription.language | writtenOutLanguage : transcription.title
            }}
          </button>
          }
        </mat-menu>

        <!-- transcriptionDownloadMenu -->
        <mat-menu #transcriptionDownloadMenu="matMenu" class="dense">
          <ng-template matMenuContent let-transcription="transcription">
            <button mat-menu-item (click)="onDownloadTxt(transcription.id)">
              Transcript (.txt)
            </button>
            <button mat-menu-item (click)="onDownloadSrt(transcription.id)">
              SubRip (.srt)
            </button>
            <button mat-menu-item (click)="onDownloadVtt(transcription.id)">
              WebVTT (.vtt)
            </button>
          </ng-template>
        </mat-menu>

        <!-- Transcription Menu -->
        @if ('transcriptionsMenu' | featureEnabled) {
        <button
          mat-button
          [matMenuTriggerFor]="transcription"
          i18n="@@editorMenuTranscriptionLabel"
          class="editor-action-button"
        >
          Transcription
        </button>
        }

        <mat-menu #transcription="matMenu" class="dense">
          <app-transcription-menu-content [projectId]="projectId" />
        </mat-menu>

        <button
          mat-button
          (click)="onOpenTranslationDialog()"
          i18n="@@editorMenuTranslateLabel"
          class="editor-action-button highlight-button"
        >
          Translate
        </button>
      </div>
    </div>
  </div>
  <div class="right-header">
    <ng-container *ngrxLet="activeUsers$ as activeUsers">
      @if (activeUsers.length > 0) {
      <app-avatar-group
        [users]="activeUsers"
        [editorView]="true"
      ></app-avatar-group>
      } @if (activeUsers.length === 0) {
      <div class="sktn-avatar-wrapper">
        <div class="sktn-avatar"></div>
      </div>
      }
    </ng-container>
    @if ('projectShare' | featureEnabled) {
    <button
      mat-flat-button
      style="margin: 0 0.75rem"
      class="compact"
      (click)="onClickShare()"
      i18n="@@editorShareProjectButtonLabel"
    >
      Share
    </button>
    }
  </div>
</app-header>
<!-- content -->
<section class="content-section">
  @if ('editorActions' | featureEnabled) {
  <div class="sticky">
    @if (showWaveform) {
    <div class="flex waveform-wrapper">
      @if ('showWaveform' | featureEnabled) {
      <app-waveform [zoomActivated]="showZoomedWave"></app-waveform>
      } @if (isLiveMode$ | ngrxPush) {
      <app-live-controls></app-live-controls>
      }
    </div>
    }
  </div>
  }

  <div class="controls-narrow-viewport">
    <app-video-controls></app-video-controls>
  </div>

  <div class="content">
    <div class="left">
      <app-video-player></app-video-player>
      <app-editor-settings></app-editor-settings>
      @if ('showShortcuts' | featureEnabled) {
      <app-shortcuts></app-shortcuts>
      }
      <app-user-test-controls></app-user-test-controls>
      @if ('live' | featureEnabled) {
      <div *ngrxLet="project$ as project">
        <button (click)="livestreamService.start(project?.id!)">Start</button>
        <button (click)="livestreamService.stop(project?.id!)">Stop</button>
        <button (click)="livestreamService.pause(project?.id!)">Pause</button>
        <button (click)="livestreamService.resume(project?.id!)">Resume</button>
        {{ project?.livestream?.livestreamStatus }}
        <br />
        <button (click)="livestreamService.startRecording(project?.id!)">
          Start Recording
        </button>
        <button (click)="livestreamService.stopRecording(project?.id!)">
          Stop Recording
        </button>
        <button (click)="livestreamService.pauseRecording(project?.id!)">
          Pause Recording
        </button>
        <button (click)="livestreamService.resumeRecording(project?.id!)">
          Resume Recording
        </button>
        {{ project?.livestream?.recordingStatus }}
        <br />
        <!-- <button (click)="connect(project?.id!)">Connect</button> -->
        <br />
      </div>
      }
    </div>
    <div
      class="right"
      *ngrxLet="selectedTranscriptionId$ as selectedTranscriptionId"
    >
      <div class="controls-wide-viewport">
        <app-video-controls></app-video-controls>
      </div>

      <ng-container *ngrxLet="project$ as project">
        <ng-container *ngrxLet="editorUsers$ as editorUsers">
          <ng-container *ngrxLet="activeUsers$ as activeUsers">
            <!-- <app-captions></app-captions> -->
            <!-- ADD FULLTEXT EDITOR HERE -->
            @if(selectedTranscriptionId && activeUsers.length > 0 &&
            activeUsers[0].id.length>0){
            <app-tiptap-editor
              lang="{{ project?.language }}"
              [transcriptionId$]="selectedTranscriptionId$"
              [activeUsers]="activeUsers"
              [editorUsers]="editorUsers"
              [projectId]="projectId"
            ></app-tiptap-editor>
            }
            <!-- ADD FULLTEXT EDITOR HERE -->
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>
