.box {
  height: calc(100%);
  display: flex;
  flex-direction: column;
  // justify-content: ;

  :last-child {
  }
}

.mat-menu-item-wrapper {
  max-width: 300px;
  .mat-mdc-checkbox {
    width: 100%;
    height: 100%;
  }
}

.video-wrapper {
  display: flex;
  justify-content: center;

  height: 100%;
  max-height: 100%;

  // TODO set max-height

  .main-video-container {
    display: flex;
    position: relative;
    // height: fit-content;
    max-height: 100%;

    // min-height: 60vh; // TODO min viewport height of video container adjust here
  }

  .inner-resizer-wrapper {
    outline-width: 2px;
    outline-offset: -1px;

    .inner-resizer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      align-self: center;

      width: 1.375rem;
      margin-inline: 1px;
      box-sizing: border-box;
      padding-inline: 0.1875rem;

      // width: 5px;
      // padding-left: 3px;
      // padding-right: 3px;
      // margin-left: 1px;
      // margin-right: 1px;

      // background-color: var(--color-background-grey);

      cursor: col-resize;

      .visual-resize-handle {
        width: 3px;
        height: 5%;
        min-height: 40px;
        background-color: var(--color-dark-grey);
        border-radius: 10px;

        padding-left: 0.5px;
        padding-right: 0.5px;
      }

      &:hover {
        background-color: var(--color-background-grey);
        .visual-resize-handle {
          background-color: var(--color-text);
        }
      }
    }
  }

  .secondary-videos {
    position: relative;
    width: 100%;
    overflow-y: auto;

    .scrollable-view {
      display: flex;
      flex-direction: column;
      position: absolute;
      inset: 0;
    }

    .spacer {
      flex: 1 1 auto;
    }
  }
}

.position-relative {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.loading-spinner {
  z-index: 1;
  background: rgba(1, 1, 1, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.views-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-white);
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    margin: 0px;
    // min-width: 30px;
    width: 3rem;
  }

  span {
    display: none;
  }

  &:hover,
  &:focus,
  &.menu-open {
    .views-menu-button-text {
      display: block;
      // margin-right: 10px;
    }
  }
}

.viewer-caption {
  // min-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .captions {
    line-height: 100%;
  }

  &.over-video {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    text-align: center;
    transition: transform 0.2s;
    // height: fit-content;

    &.overlay-shown {
      transform: translate(0, -100px);
    }
    &.overlay-hidden {
      // transition: 4s ease;
    }
  }

  &.under-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    text-align: center;
    min-height: 2.2rem;

    span {
      // min-height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &.translate-top {
    transform: translate(0, -60px);
  }

  span {
    padding: 5px;

    // line-height: 1.4em;
    // font-size: 1.2em;
  }
}
