<div class="box">
  <audio
    #viewerAudio
    (loadedmetadata)="onAudioLoadMetadata($event)"
    [volume]="volume$ | ngrxPush"
    [muted]="muted$ | ngrxPush"
    [playbackRate]="currentSpeed$ | ngrxPush"
  >
    @if (playingAudio) {
    <source src="{{ playingAudio.url }}" type="{{ playingAudio.mimetype }}" />
    }
  </audio>
  <!--  -->

  <div
    class="position-relative"
    *ngrxLet="showLoadingSpinner$ as showLoadingSpinner"
  >
    @if (showLoadingSpinner ) {
    <div class="loading-spinner">
      <mat-spinner mode="indeterminate"></mat-spinner>
    </div>
    }
    <div
      #allVideosContainerRef
      class="video-wrapper"
      *ngrxLet="bigVideo$ as bigVideo"
    >
      <!-- main video  -->
      <ng-container *ngrxLet="shownSmallVideos$ as shownSmallVideos">
        @if (bigVideo) {
        <div
          #mainVideoContainerRef
          class="main-video-container"
          [style.width.%]="
            shownSmallVideos.length === 0 ? 100 : mainVideoContainerWidthPercent
          "
          [style.min-width.%]="
            shownSmallVideos.length === 0 ? 100 : mainVideoContainerWidthPercent
          "
        >
          <app-video-container
            size="big"
            [video]="bigVideo"
          ></app-video-container>
        </div>
        } @if (shownSmallVideos.length > 0) {
        <div
          tabindex="0"
          class="inner-resizer-wrapper"
          (mousedown)="onMouseDown($event)"
          (keydown)="onKeyDown($event)"
          role="separator"
          aria-orientation="vertical"
          aria-label="Move to resize video"
          [@fade]="overlayService.showOverlay ? 'show' : 'hide'"
        >
          <!-- TODO da reinschreiben, dass man pfeiltasten benutzen soll zum resizen find ich irgendwie komisch. -->
          <div class="inner-resizer">
            <div class="visual-resize-handle"></div>
            <!-- <div class="visual-resize-handle"></div> -->
          </div>
        </div>
        } @if (shownSmallVideos.length > 0) {
        <div class="secondary-videos">
          <div class="scrollable-view">
            <div class="spacer"></div>
            <!-- secondary video -->
            @for (video of shownSmallVideos; track video) { @if (video.shown) {
            <app-video-container
              size="small"
              [video]="video"
            ></app-video-container>
            } }
            <div class="spacer"></div>
          </div>
        </div>
        }
      </ng-container>
    </div>
    @if (subtitlesEnabled$ | ngrxPush) {
    <div
      *ngrxLet="combinedCaptionsStyling$ as combined"
      class="viewer-caption {{ combined.position }} {{
        overlayService.showOverlay ? 'overlay-shown' : 'overlay-hidden'
      }}"
    >
      <!-- over / under -->
      <span
        *ngrxLet="viewerService.currentCaption$ as currentCaption"
        class="captions"
        [ngStyle]="{
          'font-size.%': combined.fontsize,
          color: combined.color,
          'background-color': combined.backgroundColor,
        }"
      >
        {{ currentCaption?.text || '-' }}</span
      >
    </div>
    }
  </div>
</div>
