.box {
  height: calc(100%);
  display: flex;
  flex-direction: column;
}

.mat-menu-item-wrapper {
  max-width: 18.75rem;

  .mat-mdc-checkbox {
    width: 100%;
    height: 100%;
  }
}

.video-wrapper {
  display: flex;
  justify-content: center;

  height: 100%;
  max-height: 100%;

  .main-video-container {
    display: flex;
    position: relative;
    max-height: 100%;
  }

  .inner-resizer-wrapper {
    outline-width: 2px;
    outline-offset: -1px;

    .inner-resizer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      align-self: center;

      width: 1.375rem;
      margin-inline: 1px;
      box-sizing: border-box;
      padding-inline: 0.1875rem;

      cursor: col-resize;

      .visual-resize-handle {
        width: 0.25rem;
        height: 5%;
        min-height: 2.5rem;
        background-color: var(--color-dark-grey);
        border-radius: 0.625rem;

        padding-inline: 1px;
      }

      &:hover {
        background-color: var(--color-background-grey);
        .visual-resize-handle {
          background-color: var(--color-text);
        }
      }
    }
  }

  .secondary-videos {
    position: relative;
    width: 100%;
    overflow-y: auto;

    .scrollable-view {
      display: flex;
      flex-direction: column;
      position: absolute;
      inset: 0;
    }

    .spacer {
      flex: 1 1 auto;
    }
  }
}

.position-relative {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.loading-spinner {
  z-index: 1;
  background: rgba(1, 1, 1, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  animation: fadeInOut 2s ease-in forwards;

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.views-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-white);

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    margin: 0;
    width: 3rem;
  }

  span {
    display: none;
  }

  &:hover,
  &:focus,
  &.menu-open {
    .views-menu-button-text {
      display: block;
    }
  }
}

.viewer-caption {
  display: flex;
  justify-content: center;
  align-items: center;

  .captions {
    line-height: 100%;
  }

  &.over-video {
    position: absolute;
    left: 0.625rem;
    right: 0.625rem;
    bottom: 0.625rem;
    text-align: center;
    transition: transform 0.5s;
  }

  &.under-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.25rem;
    text-align: center;
    min-height: 2.2rem;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &.translate-top {
    transform: translate(0, -6.25rem);
  }

  span {
    padding: 0.3125rem;
  }
}

.show-animated {
  transition: all 1s;
  opacity: 1;
}
.hide-animated {
  transition: all 1s;
  opacity: 0;
}
