.table-actions {
  justify-content: space-between;
  margin-block-start: 1.5rem;
  display: flex;
  gap: 1.5rem;

  .filter-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    p {
      margin: 0;
      padding-top: 1.25rem;
      box-sizing: border-box;
      height: 100%;
      font-weight: 500;
    }
  }
}

.team-seletion {
  padding-top: 20px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
