<div class="container">
  <mat-tab-group [selectedIndex]="selectedTabIndex">
    <mat-tab i18n-label="@@projectDetailTabMenuGeneral" label="General">
      <app-project-general [projectId]="projectId"></app-project-general>
    </mat-tab>
    <mat-tab
      i18n-label="@@projectDetailTabMenuTranscription"
      label="Transcription"
    >
      <ng-template matTabContent>
        <app-project-transcription
          [projectId]="projectId"
        ></app-project-transcription>
      </ng-template>
    </mat-tab>
    <mat-tab i18n-label="@@projectDetailTabMenuActivity" label="Activity">
      <ng-template matTabContent>
        <app-project-activity [projectId]="projectId"></app-project-activity>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
