<div class="landing-subpage-wrapper">
  <h1>Tutorial</h1>

  <h2>Create Videos</h2>
  <h3>Record videos in the browser</h3>
  <mat-tab-group>
    <mat-tab label="Text">
      <ul>
        <li class="step">
          <p class="number">01.</p>
          <div class="content">test</div>
        </li>
        <li class="step">
          <p class="number">02.</p>
          <div class="content">test</div>
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Video">
      <iframe
        width="800"
        height="450"
        src="https://melvin.shuffle-projekt.de/view/kgv2CCDSjXFZhY6V6lJRBOvZkF3wsMhjqaKSbo8NMS00DlgnD2fj5A9qDu12BIlE?embed=true"
        title="Melvin videoplayer"
        frameborder="0"
        allowfullscreen
        referrerpolicy="strict-origin-when-cross-origin"
      ></iframe>
    </mat-tab>
  </mat-tab-group>

  <h3>YYYYY</h3>
  <mat-tab-group>
    <mat-tab label="Text"> </mat-tab>
    <mat-tab label="Video">
      <iframe
        width="800"
        height="450"
        src="https://melvin.shuffle-projekt.de/view/XHxfcuRF9mhiGHIYJTSUZ2oASmteMJubXeIvt53Sr4mJHgcmHb18lF2Sutkm9KbU?embed=true"
        title="Melvin videoplayer"
        frameborder="0"
        allowfullscreen
        referrerpolicy="strict-origin-when-cross-origin"
      ></iframe>
    </mat-tab>
  </mat-tab-group>

  <h2>YYYYY</h2>
  <mat-tab-group>
    <mat-tab label="Text"> </mat-tab>
    <mat-tab label="Video">
      <iframe
        width="800"
        height="450"
        src="https://melvin.shuffle-projekt.de/view/CDGXvxYHbMFKmP2tVPwqrV3xjim6X7TnVKAf5msTt4ergZYt5cX3oKg9wk2CGBzy?embed=true"
        title="Melvin videoplayer"
        frameborder="0"
        allowfullscreen
        referrerpolicy="strict-origin-when-cross-origin"
      ></iframe>
    </mat-tab>
  </mat-tab-group>

  <h3>YYYYY</h3>
  <mat-tab-group>
    <mat-tab label="Text"> </mat-tab>
    <mat-tab label="Video">
      <iframe
        width="800"
        height="450"
        src="https://melvin.shuffle-projekt.de/view/Mgn1v7HRF6nitO4U2FHOYIp2zwKRBrdYH7cEXllp3YM6rVAokLDxTzMSb86serAg?embed=true"
        title="Melvin videoplayer"
        frameborder="0"
        allowfullscreen
        referrerpolicy="strict-origin-when-cross-origin"
      ></iframe>
    </mat-tab>
  </mat-tab-group>

  <h3>YYYYY</h3>
  <mat-tab-group>
    <mat-tab label="Text"> </mat-tab>
    <mat-tab label="Video">
      <iframe
        width="800"
        height="450"
        src="https://melvin.shuffle-projekt.de/view/nG90fXTDbyAhOKBMgKnmri4Rxr2fQKFY6j5VHqV6OuAbVnxpgq8JzvSkS2UD5Wg7?embed=true"
        title="Melvin videoplayer"
        frameborder="0"
        allowfullscreen
        referrerpolicy="strict-origin-when-cross-origin"
      ></iframe>
    </mat-tab>
  </mat-tab-group>

  <h2>YYYYY</h2>
  <mat-tab-group>
    <mat-tab label="Text"> </mat-tab>
    <mat-tab label="Video">
      <iframe
        width="800"
        height="450"
        src="https://melvin.shuffle-projekt.de/view/3do58LuBPaEPUydq64RQJPHXVXRuLdO65vmz1Q602it2Kdp2EuVFf9JR0prc58JR?embed=true"
        title="Melvin videoplayer"
        frameborder="0"
        allowfullscreen
        referrerpolicy="strict-origin-when-cross-origin"
      ></iframe>
    </mat-tab>
  </mat-tab-group>

  <h3>YYYYY</h3>
  <mat-tab-group>
    <mat-tab label="Text"> </mat-tab>
    <mat-tab label="Video">
      <iframe
        width="800"
        height="450"
        src="https://melvin.shuffle-projekt.de/view/Lj05D4Jsn4H1eEZpVe10OLxB5ZoZVKu1tiCWmMG1WEfxpUqNDYXfi2WW20YD60HQ?embed=true"
        title="Melvin videoplayer"
        frameborder="0"
        allowfullscreen
        referrerpolicy="strict-origin-when-cross-origin"
      ></iframe>
    </mat-tab>
  </mat-tab-group>
</div>
