.box {
  height: calc(100% - 12px);
  display: flex;
  flex-direction: column;
  // justify-content: ;

  :last-child {
  }
}

.mat-menu-item-wrapper {
  max-width: 300px;
  .mat-mdc-checkbox {
    width: 100%;
    height: 100%;
  }
}

.video-wrapper {
  display: flex;
  justify-content: center;

  height: 100%;
  max-height: 100%;

  // TODO set max-height

  .main-video-container {
    display: flex;
    position: relative;
    // height: fit-content;
    max-height: 100%;

    // min-height: 60vh; // TODO min viewport height of video container adjust here
  }

  .inner-resizer-wrapper {
    .inner-resizer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      align-self: center;

      margin-left: 4px;
      margin-right: 4px;
      width: 5px;

      background-color: #e0e0e0;

      cursor: col-resize;

      .visual-resize-handle {
        width: 1px;
        height: 10%;
        min-height: 40px;
        background-color: #676767;

        margin-left: 0.5px;
        margin-right: 0.5px;
      }

      &:hover {
        background-color: #d0d0d0;
      }
    }
  }

  .secondary-videos {
    position: relative;
    width: 100%;
    overflow-y: auto;

    .scrollable-view {
      display: flex;
      flex-direction: column;
      position: absolute;
      inset: 0;
    }

    .spacer {
      flex: 1 1 auto;
    }
  }
}

.position-relative {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 125px); // controls are 125px
}

.loading-spinner {
  z-index: 1;
  background: rgba(1, 1, 1, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.views-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    margin: 0px;
    // min-width: 30px;
    width: 3rem;
  }

  span {
    display: none;
  }

  &:hover,
  &:focus,
  &.menu-open {
    .views-menu-button-text {
      display: block;
      // margin-right: 10px;
    }
  }
}

.viewer-caption {
  // min-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &.over-video {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    text-align: center;
    transition: transform 0.2s;
    // height: fit-content;
  }

  &.under-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    text-align: center;
    min-height: 2.2rem;

    span {
      // min-height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  span {
    padding: 5px;

    // line-height: 1.4em;
    // font-size: 1.2em;
    &.backgroundColor-black {
      background-color: black;
    }
    &.backgroundColor-white {
      background-color: white;
    }
    &.backgroundColor-red {
      background-color: red;
    }
    &.backgroundColor-blue {
      background-color: blue;
    }
    &.backgroundColor-yellow {
      background-color: yellow;
    }

    &.color-black {
      color: black;
    }
    &.color-white {
      color: white;
    }
    &.color-red {
      color: red;
    }
    &.color-blue {
      color: blue;
    }
    &.color-yellow {
      color: yellow;
    }

    &.fontsize-small {
      font-size: 80%;
    }
    &.fontsize-medium {
      font-size: 100%;
    }
    &.fontsize-large {
      font-size: 120%;
    }
    &.fontsize-larger {
      font-size: 140%;
    }
  }
}
