<div class="box">
  <audio
    #viewerAudio
    (loadedmetadata)="onAudioLoadMetadata()"
    [volume]="volume$ | ngrxPush"
    [playbackRate]="playbackSpeed"
  >
    <source
      *ngIf="project?.media?.video"
      src="{{ project?.media?.video }}"
      type="video/mp4"
    />
  </audio>
  <!--  -->

  <div class="position-relative">
    <button
      #trigger="matMenuTrigger"
      class="views-menu-button {{ trigger.menuOpen ? 'menu-open' : '' }}"
      mat-button
      [matMenuTriggerFor]="viewsMenu"
    >
      <span>Weitere Ansichten</span> <mat-icon svgIcon="more"></mat-icon>
    </button>

    <mat-menu #viewsMenu="matMenu">
      <div class="mat-menu-item-wrapper" mat-menu-item>
        <mat-checkbox
          (click)="$event.stopPropagation()"
          [checked]="!hiddenVideos.includes('mainVideo')"
          (change)="onChangeViewsMenu($event, null)"
          [disabled]="mainVideoId === 'mainVideo'"
        >
          Hauptvideo
        </mat-checkbox>
      </div>

      <div
        class="mat-menu-item-wrapper"
        mat-menu-item
        *ngFor="let video of project?.media?.additionalVideos"
      >
        <mat-checkbox
          (click)="$event.stopPropagation()"
          [checked]="!hiddenVideos.includes(video.id)"
          (change)="onChangeViewsMenu($event, video)"
          [disabled]="mainVideoId === video.id"
        >
          {{ video.title }}
        </mat-checkbox>
      </div>
    </mat-menu>

    <div class="video-wrapper" [style.max-height.px]="mainVideoHeight">
      <div></div>
      <!-- main video start -->
      <video
        #mainVideo
        *ngIf="mainVideoId === 'mainVideo'"
        class="main-video"
        [muted]="true"
        [playbackRate]="playbackSpeed"
        (loadedmetadata)="onVideoLoadMetadata()"
      >
        <source src="{{ project?.media?.video }}" type="video/mp4" />
      </video>

      <ng-container *ngFor="let video of project?.media?.additionalVideos">
        <video
          #mainVideo
          *ngIf="video.id === mainVideoId"
          class="main-video"
          [muted]="true"
          [playbackRate]="playbackSpeed"
          (loadedmetadata)="onVideoLoadMetadata()"
        >
          <source src="{{ video.video }}" type="video/mp4" />
        </video>
      </ng-container>
      <!-- main video end -->
      <!-- secondary videos start -->
      <div
        class="secondary-videos"
        [style.width.%]="
          hiddenVideos.length === project?.media?.additionalVideos?.length
            ? 0
            : 100
        "
      >
        <!-- main video as secondary start -->

        <!-- single secondary video start -->
        <div class="secondary-video-container">
          <video
            *ngIf="
              !hiddenVideos.includes('mainVideo') && mainVideoId !== 'mainVideo'
            "
            #secondaryVideo
            class="secondary-video"
            [muted]="true"
            [playbackRate]="playbackSpeed"
            (loadedmetadata)="onVideoLoadMetadataSecondVideo()"
          >
            <source
              *ngIf="project?.media?.video"
              src="{{ project?.media?.video }}"
              type="video/mp4"
            />
          </video>
          <div class="video-overlay">
            <span> Hauptvideo </span>
            <button
              mat-stroked-button
              color="basic"
              (click)="onChangeMainVideo('mainVideo')"
            >
              Als Hauptansicht
            </button>
          </div>
        </div>
        <!-- main video as secondary stop -->
        <div
          class="secondary-video-container"
          *ngFor="let video of project?.media?.additionalVideos"
        >
          <!-- single secondary video start -->
          <video
            *ngIf="!hiddenVideos.includes(video.id) && mainVideoId !== video.id"
            #secondaryVideo
            class="secondary-video"
            [muted]="true"
            [playbackRate]="playbackSpeed"
            (loadedmetadata)="onVideoLoadMetadataSecondVideo()"
          >
            <source src="{{ video.video }}" type="video/mp4" />
          </video>
          <div class="video-overlay">
            <span>
              {{ video.title }}
            </span>
            <button
              mat-stroked-button
              color="basic"
              (click)="onChangeMainVideo(video.id)"
            >
              Als Hauptansicht
            </button>
          </div>
          <!-- single secondary video end -->
        </div>
        <!-- secondary videos end -->
      </div>
    </div>
    <ng-container *ngIf="subtitlesEnabledInVideo$ | ngrxPush">
      <div
        *ngrxLet="combinedCaptionsStyling$ as combined"
        class="viewer-caption {{ combined.position }}"
      >
        <!-- over / under -->
        <span
          *ngrxLet="viewerService.currentCaption$ as currentCaption"
          class="fontsize-{{ combined.fontsize }} color-{{
            combined.color
          }} backgroundColor-{{ combined.backgroundColor }}"
        >
          {{ currentCaption?.text || '-' }}</span
        >
      </div>
    </ng-container>
  </div>
  <div class="controls">
    <!--mat-progress-bar mode="determinate" value="40"></mat-progress-bar-->
    <div class="video-progress-slider-wrapper">
      <mat-slider #matsliderprogress min="0" [max]="viewerAudio.duration">
        <input
          matSliderThumb
          [(ngModel)]="viewerAudio.currentTime"
          (input)="onVideoProgressChange($event)"
        />
      </mat-slider>
    </div>

    <div class="main-controls">
      <div class="left">
        <button
          mat-icon-button
          class="md"
          matTooltip="Play or pause"
          aria-label="Play or pause"
          (click)="viewerAudio.paused ? onPlayVideo() : onPauseVideo()"
        >
          <mat-icon
            [svgIcon]="!viewerAudio.paused ? 'pause_circle' : 'play_circle'"
          ></mat-icon>
        </button>

        <button
          mat-icon-button
          class="md"
          matTooltip="Mute or unmute Sound"
          aria-label="Mute or unmute Sound"
          (click)="viewerAudio.muted = !viewerAudio.muted"
        >
          <mat-icon
            [svgIcon]="viewerAudio.muted === true ? 'volume_off' : 'volume_on'"
          ></mat-icon>
        </button>

        <mat-slider
          class="volume-slider"
          min="0"
          max="1"
          step="0.01"
          discrete
          [displayWith]="sliderLabelVolume"
          [disabled]="viewerAudio.muted"
        >
          <input
            matSliderThumb
            [value]="volume$ | ngrxPush"
            (change)="onVolumeChange($event)"
          />
        </mat-slider>
      </div>
      <div class="center">
        <ng-container
          *ngrxLet="subtitlesEnabledInVideo$ as subtitlesEnabledInVideo"
        >
          <button mat-icon-button class="md" [matMenuTriggerFor]="captionMenu">
            <mat-icon
              *ngIf="subtitlesEnabledInVideo"
              svgIcon="caption_selected"
              class="svg-green"
            ></mat-icon>
            <mat-icon
              *ngIf="!subtitlesEnabledInVideo"
              svgIcon="caption_not_selected"
              class="svg-black"
            ></mat-icon>
          </button>

          <button mat-icon-button class="md" (click)="onToggleShowTranscript()">
            <mat-icon svgIcon="transcript" class="svg-black"></mat-icon>
          </button>
          <!-- caption menu -->

          <mat-menu #captionMenu="matMenu">
            <ng-container *ngrxLet="selectTranscriptionId$ as selectedId">
              <ng-container *ngrxLet="transcriptions$ as transcriptions">
                <button
                  mat-menu-item
                  (click)="onTurnOffCaptions(subtitlesEnabledInVideo)"
                >
                  <mat-icon
                    svgIcon="{{ subtitlesEnabledInVideo ? '' : 'done' }}"
                  ></mat-icon>
                  <span>Deaktiviert</span>
                </button>

                <button
                  *ngFor="let transcription of transcriptions"
                  mat-menu-item
                  (click)="
                    onChangeTranscription(
                      transcription,
                      subtitlesEnabledInVideo
                    )
                  "
                >
                  <mat-icon
                    svgIcon="{{
                      subtitlesEnabledInVideo && transcription.id === selectedId
                        ? 'done'
                        : ''
                    }}"
                  ></mat-icon>
                  <span>{{ transcription.title }}</span>
                </button>
              </ng-container>
            </ng-container>
            <hr />
            <button mat-menu-item (click)="onOpenCaptionsSettingsDialog()">
              <mat-icon svgIcon="setting"></mat-icon>
              <span>Einstellungen</span>
            </button>
          </mat-menu>
        </ng-container>
        <!--  -->
      </div>
      <div class="right">
        <div class="playback-speed-wrapper">
          <button mat-icon-button class="sm" (click)="decreasePlaybackSpeed()">
            <mat-icon svgIcon="minus" class="svg-black"></mat-icon>
          </button>
          <div class="playback-speed-text">
            {{ playbackSpeed }}
          </div>
          <button mat-icon-button class="sm" (click)="increasePlaybackSpeed()">
            <mat-icon svgIcon="plus" class="svg-black"></mat-icon>
          </button>
        </div>

        <button mat-icon-button class="md">
          <mat-icon svgIcon="fullscreen" class="svg-black"></mat-icon>
        </button>
      </div>
    </div>
    <div>
      {{ viewerAudio.currentTime * 1000 | duration }} /
      {{
        viewerAudio.duration ? (viewerAudio.duration * 1000 | duration) : '-'
      }}
    </div>
  </div>
  {{ viewerAudio.readyState }}
</div>
