<div class="box">
  <audio
    #viewerAudio
    (loadedmetadata)="onAudioLoadMetadata($event)"
    [volume]="volume$ | ngrxPush"
    [playbackRate]="currentSpeed$ | ngrxPush"
  >
    <source
      *ngIf="project.media?.video"
      src="{{ project.media?.video }}"
      type="video/mp4"
    />
  </audio>
  <!--  -->

  <div class="position-relative">
    <div class="loading-spinner" *ngIf="viewerAudio.readyState === 1">
      <mat-spinner mode="indeterminate"></mat-spinner>
    </div>
    <button
      #trigger="matMenuTrigger"
      class="views-menu-button {{ trigger.menuOpen ? 'menu-open' : '' }}"
      mat-button
      [matMenuTriggerFor]="viewsMenu"
    >
      <span>Weitere Ansichten</span> <mat-icon svgIcon="more"></mat-icon>
    </button>

    <mat-menu #viewsMenu="matMenu">
      <!-- //TODO Wollen wir hier das main video anzeigen?  -->
      <div
        class="mat-menu-item-wrapper"
        mat-menu-item
        *ngFor="let video of smallVideos"
        (click)="onToggleVideoShown(video)"
      >
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="onToggleVideoShown(video)"
          [checked]="video.shown"
        >
          {{ video.title }}
        </mat-checkbox>
      </div>
    </mat-menu>

    <div
      #allVideosContainerRef
      class="video-wrapper"
      [style.max-height.px]="mainVideoHeight"
      *ngIf="bigVideo && smallVideos"
    >
      <!-- main video  -->
      <div
        #mainVideoContainerRef
        class="main-video-container"
        [style.min-width.%]="mainVideoContainerWidthPercent"
      >
        <app-video-container
          size="big"
          [video]="bigVideo"
          (videoMetadataLoaded)="resetVideoDimensions()"
        ></app-video-container>
      </div>

      <div
        tabindex="0"
        class="inner-resizer"
        (mousedown)="onMouseDown($event)"
        (keydown)="onKeyDown($event)"
        [style.height.px]="allVideosContainerRef.clientHeight"
      ></div>

      <div
        class="secondary-videos"
        *ngIf="shownVideosCount > 0"
        [style.height.px]="allVideosContainerRef.clientHeight"
      >
        <!-- secondary video -->
        <ng-container *ngFor="let video of smallVideos">
          <app-video-container
            *ngIf="video.shown"
            size="small"
            [video]="video"
            (switchToBig)="onSwitchToBigVideo(video)"
            (videoMetadataLoaded)="resetVideoDimensions()"
          ></app-video-container>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="subtitlesEnabledInVideo$ | ngrxPush">
      <div
        *ngrxLet="combinedCaptionsStyling$ as combined"
        class="viewer-caption {{ combined.position }}"
      >
        <!-- over / under -->
        <span
          *ngrxLet="viewerService.currentCaption$ as currentCaption"
          class="fontsize-{{ combined.fontsize }} color-{{
            combined.color
          }} backgroundColor-{{ combined.backgroundColor }}"
        >
          {{ currentCaption?.text || '-' }}</span
        >
      </div>
    </ng-container>
  </div>

  <app-controls> </app-controls>
</div>
