.mat-mdc-form-field {
  margin-top: 5px;
  width: 100%;
}

.stepper-navigation-btns {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-fieldset {
  margin-top: 20px;
  padding: 20px 30px;
  border-radius: 6px;
}
