@if (!disableLandingPage) {
<app-landing-header />
}

<div class="wrapper" [class.showHeader]="!disableLandingPage">
  <main>
    @if(isLoggedIn$ |ngrxPush) {
    <div class="admin-wrapper">
      <div class="admin-header">
        <h1>Administration</h1>
        <button
          mat-stroked-button
          (click)="onHandleLogout()"
          i18n="@@adminLogoutButtonLabel"
        >
          Logout
        </button>
      </div>

      <div class="table-actions">
        <div class="filter-wrapper">
          <mat-form-field>
            <mat-label i18n="@@adminFilterLabel">Filter</mat-label>
            <input
              matInput
              (keyup)="onApplyFilter($event)"
              [formControl]="filterControl"
            />
          </mat-form-field>
          <p>
            {{ filteredUsersCount }}
            <span i18n="@@adminFilterUsersCountLabel">Users</span>
          </p>
        </div>

        <button
          mat-flat-button
          (click)="onOpenCreateUserDialog()"
          i18n="@@adminCreateUserButtonLabel"
        >
          Create User
        </button>
      </div>

      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="username">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="name"
            i18n="@@adminTableHeaderName"
          >
            Name
          </th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            i18n="@@adminTableHeaderEmail"
          >
            Email
          </th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="email-verified">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="isEmailVerified"
            i18n="@@adminTableHeaderEmailVerified"
          >
            Email Verified
          </th>
          <td mat-cell *matCellDef="let element">
            @if (element.isEmailVerified) {
            <span i18n="@@adminTableEmailVerifiedYes">Yes</span>
            } @else {
            <span i18n="@@adminTableEmailVerifiedNo">No</span>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="projects">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="projectCount"
            i18n="@@adminTableHeaderProjects"
          >
            Projects
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.projectCount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="filesize-total">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="mbOnDisc"
            i18n="@@adminTableHeaderTotalFileSize"
          >
            Total File Size
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.mbOnDisc * 1_000_000 | fileSize }}
          </td>
        </ng-container>

        <ng-container matColumnDef="total-video-length">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="accumulatedDuration"
            i18n="@@adminTableHeaderTotalVideoLength"
          >
            Total Video Length
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.accumulatedDuration | duration }}
          </td>
        </ng-container>

        <ng-container matColumnDef="more">
          <th mat-header-cell *matHeaderCellDef i18n="@@adminTableHeaderMore">
            More
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              [matMenuTriggerData]="{ user: element }"
              [matMenuTriggerFor]="menu"
              aria-label="More"
            >
              <mat-icon svgIcon="more" />
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-menu #menu="matMenu">
        <ng-template matMenuContent let-user="user">
          @if (!user.isEmailVerified) {
          <button mat-menu-item (click)="onVerifyUserEmail(user)">
            <mat-icon svgIcon="person_check" />
            <span i18n="@@adminTableActionVerifyEmail">Verify Email</span>
          </button>
          }

          <button mat-menu-item (click)="onOpenEditEmailDialog(user)">
            <mat-icon svgIcon="edit" />
            <span i18n="@@adminTableActionEditEmail">Edit Email</span>
          </button>
          <button mat-menu-item (click)="onOpenResetPasswordDialog(user)">
            <mat-icon svgIcon="refresh" />
            <span i18n="@@adminTableActionResetPassword">Reset Password</span>
          </button>
          <button mat-menu-item (click)="onDeleteUser(user)">
            <mat-icon svgIcon="delete" />
            <span i18n="@@adminTableActionDeleteUser">Delete User</span>
          </button>
        </ng-template>
      </mat-menu>
    </div>
    } @else {
    <div class="login-wrapper">
      <div class="login-form">
        <h1 i18n="@@adminLoginHeader">Admin Login</h1>
        <mat-form-field class="username-field">
          <mat-label i18n="@@adminLoginFieldName">Name</mat-label>
          <input matInput type="text" [formControl]="usernameControl" />
          @if (usernameControl.invalid && (usernameControl.dirty ||
          usernameControl.touched)) {
          <mat-error i18n="@@adminLoginFieldErrorNameRequired">
            name required
          </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n="@@adminLoginFieldPassword">Password</mat-label>
          <input matInput type="password" [formControl]="passwordControl" />
          @if (passwordControl.invalid && (passwordControl.dirty ||
          passwordControl.touched)) {
          <mat-error i18n="@@adminLoginFieldErrorPasswordRequired">
            Password required
          </mat-error>
          }
        </mat-form-field>

        <div aria-live="polite">
          @if(loginError$ | ngrxPush; as loginError) {
          <p class="error-message">
            <mat-icon svgIcon="warning"></mat-icon>
            {{ loginError }}
          </p>
          }
        </div>

        <button
          (click)="onHandleLogin()"
          mat-flat-button
          i18n="@@adminLoginButtonLabel"
        >
          Login
        </button>
      </div>
      <a mat-button [routerLink]="['/']" i18n="@@adminLoginBackToStartpage"
        >Back to the Startpage</a
      >
    </div>
    }
  </main>

  <app-landing-footer />
</div>
