<div class="container" [class.focused]="isFocused">
  <!-- Todo(bene)-->
  <button
    mat-stroked-button
    (click)="onClickDelete()"
    i18n-matTooltip="@@captionDeleteCaptionTooltip"
    matTooltip="Delete caption"
    [matTooltipShowDelay]="1000"
  >
    <mat-icon svgIcon="delete"></mat-icon>
  </button>

  <button
    *ngIf="'captionHistory' | featureEnabled"
    mat-stroked-button
    (click)="onClickHistory()"
    i18n-matTooltip="@@captionRevertShowCaptionHistoryTooltip"
    matTooltip="Show caption history"
    [matTooltipShowDelay]="1000"
  >
    <mat-icon svgIcon="history"></mat-icon>
  </button>

  <button
    *ngIf="'captionFlag' | featureEnabled"
    mat-stroked-button
    (click)="onToggleFlag()"
    class="flag"
    [class.active]="isFlagged"
    i18n-matTooltip="@@captionToggleFlagTooltip"
    matTooltip="Toggle flag"
    [matTooltipShowDelay]="1000"
  >
    <mat-icon svgIcon="flag"></mat-icon>
  </button>
</div>
