.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3px;

  button {
    --height: 32px;
    background: var(--color-white);
    min-width: unset;
    line-height: var(--height);
    width: var(--height);
    height: var(--height);
    padding: 0;
    margin-left: 3px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      --height: 20px;
      margin: 0;
      padding: 0;
      line-height: var(--height);
      width: var(--height);
      height: var(--height);
    }
  }

  button.flag.active {
    color: var(--color-red);
  }

  &:not(.focused) {
    button.flag.active {
      border-color: transparent;
      background: transparent;
      opacity: 1;
    }
  }

  &.focused {
    button {
      pointer-events: all;
      opacity: 1;
    }
    button.flag.active {
      border-color: var(--color-red);
    }
  }
}
