<div class="media-source-wrapper">
  <div class="tile-header">
    <div>
      <h3 class="title">{{ mediaSource.title }}</h3>
      <div class="subtitle">
        @if ( videoSource?.mediaCategory || screenSource?.mediaCategory ) {
        <mat-chip
          class="media-category"
          [matMenuTriggerFor]="mediaCategoryMenu"
          [disabled]="liveKitService.sessionInProgress"
          [class.clickable]="!liveKitService.sessionInProgress"
        >
          @if ( videoSource?.mediaCategory) {
          {{ videoSource!.mediaCategory | mediaCategory }}
          } @if ( screenSource?.mediaCategory) {
          {{ screenSource!.mediaCategory | mediaCategory }}
          }
        </mat-chip>
        }
        {{ videoSource?.label || audioSource?.label }}
      </div>
    </div>
    <mat-menu #mediaCategoryMenu="matMenu">
      @for (mediaCategory of mediaCategoryArray; track mediaCategory) {
      <button mat-menu-item (click)="onChangeCategory(mediaCategory)">
        <mat-icon
          [svgIcon]="
            videoSource?.mediaCategory === mediaCategory ||
            screenSource?.mediaCategory === mediaCategory
              ? 'check'
              : ''
          "
        ></mat-icon>
        {{ mediaCategory | mediaCategory }}
      </button>
      }
    </mat-menu>
    <div class="header-buttons">
      @if (!liveKitService.sessionInProgress) {
      <button mat-icon-button class="md" (click)="onRemoveMediaSource()">
        <mat-icon svgIcon="delete"></mat-icon>
      </button>
      }
    </div>
  </div>
  <div class="tile-content">
    @if (screenSource) {
    <video #screenVideo></video>
    @if (screenSource.audioTrack) {
    <div class="meter-wrapper">
      <span> Audio level </span>
      <div class="meter">
        <app-audio-meter
          [mediaStream]="screenSource.audioTrack.mediaStream!"
        ></app-audio-meter>
      </div>
    </div>
    } } @if (audioSource) {
    <div class="meter-wrapper">
      <span> Audio level </span>
      <div class="meter">
        <app-audio-meter
          [mediaStream]="audioSource.audioTrack.mediaStream!"
        ></app-audio-meter>
      </div>
    </div>
    } @if (videoSource) {
    <video #video [muted]="true"></video>
    }
  </div>
</div>
