<div class="controls" *ngIf="viewerService.audio">
  <!--mat-progress-bar mode="determinate" value="40"></mat-progress-bar-->
  <div class="video-progress-slider-wrapper">
    <mat-slider
      class="video-progress-slider"
      min="0"
      [max]="viewerService.audio.duration"
      discrete
      [displayWith]="audioProgressLabel"
    >
      <input matSliderThumb [(ngModel)]="viewerService.audio.currentTime" />
      <!-- (input)="onVideoProgressChange($event)" -->
    </mat-slider>
  </div>

  <div class="main-controls">
    <div class="left">
      <button
        mat-icon-button
        class="md"
        matTooltip="Play or pause"
        aria-label="Play or pause"
        (click)="!viewerService.audio.paused ? onPauseVideo() : onPlayVideo()"
      >
        <mat-icon
          [svgIcon]="
            !viewerService.audio.paused ? 'pause-viewer' : 'play-viewer'
          "
        ></mat-icon>
      </button>

      <!-- replay and forward -->
      <button
        mat-icon-button
        class="md"
        (click)="onSeek($event.shiftKey ? -30 : -10)"
      >
        <mat-icon [svgIcon]="'replay'"></mat-icon>
      </button>
      <button
        mat-icon-button
        class="md"
        (click)="onSeek($event.shiftKey ? 30 : 10)"
      >
        <mat-icon [svgIcon]="'forward'"></mat-icon>
      </button>

      <!-- sound -->

      <button
        mat-icon-button
        class="md"
        matTooltip="Mute or unmute Sound"
        aria-label="Mute or unmute Sound"
        (click)="onMuteAudio()"
      >
        <mat-icon
          *ngIf="!viewerService.audio.muted"
          svgIcon="volume"
          class="svg-black"
        ></mat-icon>
        <mat-icon
          *ngIf="viewerService.audio.muted"
          svgIcon="volume-mute"
        ></mat-icon>
      </button>

      <mat-slider
        class="volume-slider"
        min="0"
        max="1"
        step="0.01"
        discrete
        [displayWith]="sliderLabelVolume"
        [disabled]="viewerService.audio.muted"
      >
        <input
          matSliderThumb
          [value]="volume$ | ngrxPush"
          (change)="onVolumeChange($event)"
        />
      </mat-slider>
    </div>
    <div class="center">
      <button mat-icon-button class="md" [matMenuTriggerFor]="captionMenu">
        <mat-icon svgIcon="caption_not_selected" class="svg-black"></mat-icon>
      </button>

      <button mat-icon-button class="md" (click)="onToggleShowTranscript()">
        <mat-icon svgIcon="transcript" class="svg-black"></mat-icon>
      </button>

      <button
        mat-icon-button
        class="md"
        [disabled]="!(signLanguageAvailable$ | ngrxPush)"
        (click)="onToggleSignLanguageVideo()"
      >
        <mat-icon svgIcon="sign_language" class="svg-black"></mat-icon>
      </button>

      <button mat-icon-button class="md" [matMenuTriggerFor]="galleryMenu">
        <mat-icon svgIcon="gallery" class="svg-black"></mat-icon>
      </button>
    </div>
    <div class="right">
      <button
        mat-icon-button
        class="md"
        [matMenuTriggerFor]="playbackSpeedMenu"
      >
        <mat-icon svgIcon="speed"></mat-icon>
      </button>

      <button
        mat-icon-button
        class="md fullscreen-button"
        (click)="onRequestFullscreen()"
      >
        <mat-icon
          svgIcon="{{
            isFullscreenActive() ? 'fullscreen-close' : 'fullscreen'
          }}"
          class="svg-black"
        ></mat-icon>
      </button>
    </div>
  </div>
  <div class="information-row">
    <div>
      {{ viewerService.audio.currentTime * 1000 | duration }} /
      {{
        viewerService.audio.duration
          ? (viewerService.audio.duration * 1000 | duration)
          : '-'
      }}
    </div>
    <div>
      {{ viewerService.audio.paused ? 'Pausiert' : 'Gestartet' }}
    </div>
  </div>
</div>

<!-- playbackSpeed menu -->
<mat-menu #playbackSpeedMenu="matMenu">
  <!-- <h3>Tempo</h3>
  <hr /> -->
  <ng-container *ngrxLet="currentSpeed$ as currentSpeed">
    <button
      *ngFor="let speed of [0.25, 0.5, 0.75, 1, 1.25, 1.5, 2, 2.5, 3]"
      mat-menu-item
      (click)="changePlaybackSpeed(speed)"
    >
      <mat-icon
        svgIcon="{{ currentSpeed === speed ? 'check-all' : '' }}"
        class="svg-black"
      ></mat-icon>
      <span> {{ speed }}x</span>
    </button>
  </ng-container>
</mat-menu>

<!-- caption menu -->
<mat-menu #captionMenu="matMenu">
  <ng-container *ngrxLet="subtitlesEnabledInVideo$ as subtitlesEnabledInVideo">
    <ng-container *ngrxLet="transcriptions$ as transcriptions">
      <button
        mat-menu-item
        (click)="onTurnOffCaptions(subtitlesEnabledInVideo)"
      >
        <mat-icon
          svgIcon="{{ subtitlesEnabledInVideo ? '' : 'done' }}"
        ></mat-icon>
        <span>Deaktiviert</span>
      </button>

      <button
        *ngFor="let transcription of transcriptions.list"
        mat-menu-item
        (click)="onChangeTranscription(transcription, subtitlesEnabledInVideo)"
      >
        <mat-icon
          svgIcon="{{
            subtitlesEnabledInVideo &&
            transcription.id === transcriptions.selectedId
              ? 'done'
              : ''
          }}"
        ></mat-icon>
        <span>{{ transcription.title }}</span>
      </button>
    </ng-container>
    <hr />
    <button mat-menu-item (click)="onOpenCaptionsSettingsDialog()">
      <mat-icon svgIcon="setting"></mat-icon>
      <span>Einstellungen</span>
    </button>
  </ng-container>
</mat-menu>

<!-- gallery Menu  -->
<!-- //TODO There is a duplicate code in player.component.ts -->
<mat-menu #galleryMenu="matMenu">
  <!-- <h3>Weitere Ansichten</h3>
  <hr /> -->
  <!-- //TODO Wollen wir hier das main video anzeigen?  -->
  <div
    class="mat-menu-item-wrapper"
    mat-menu-item
    *ngFor="let video of smallVideos$ | ngrxPush"
    (click)="onClickToggleVideoShown($event, video)"
    (keydown)="onKeypressToggleVideoShown($event, video)"
  >
    <!-- (change)="onCheckToggleVideoShown($event, video)" -->

    <mat-checkbox [checked]="video.shown">
      {{ video.title }}
      <mat-icon
        *ngIf="video.category === 'sign_language'"
        svgIcon="sign_language"
        class="svg-black"
      ></mat-icon>
    </mat-checkbox>
  </div>
</mat-menu>
