.controls {
  padding: 0px 5px 5px 5px;
  height: 125px;

  border-top: 1px solid #e0e0e0;

  mat-slider {
    --mdc-slider-handle-color: var(--color-black); // TODO
    --mdc-slider-focus-handle-color: var(--color-black);
    --mdc-slider-hover-handle-color: var(--color-black);
    --mdc-slider-active-track-color: var(--color-black);
    --mdc-slider-inactive-track-color: var(--color-black);
    // --mdc-slider-label-container-color: var(--color-black);

    --mat-mdc-slider-value-indicator-opacity: 1;
    --mdc-slider-label-label-text-color: red;

    --mat-mdc-slider-ripple-color: #808080;
    --mat-mdc-slider-hover-ripple-color: #80808080;
    --mat-mdc-slider-focus-ripple-color: #80808080;

    // --mdc-slider-inactive-track-height: 12px;
    // --mdc-slider-handle-height: 25px;
    // --mdc-slider-handle-width: 40px;
    // --mdc-slider-inactive-track-shape: 20px;

    // --mdc-slider-disabled-handle-color: rgb(240, 135, 153);
    // --mdc-slider-disabled-active-track-color: orange;
    // --mdc-slider-disabled-inactive-track-color: brown;
    // --mdc-slider-with-tick-marks-disabled-container-color: green;
    // --mdc-slider-with-tick-marks-active-container-color: #000;
    // --mdc-slider-with-tick-marks-inactive-container-color: var(
    //   --color-primary-500
    // );
    // --mat-mdc-slider-value-indicator-opacity: 0.6;
  }

  .mdc-slider__value-indicator-text {
    // color: red !important;
    background-color: black;
    opacity: 1;
  }

  .video-progress-slider-wrapper {
    display: flex;
    justify-content: center;
    .mat-mdc-slider {
      width: 100%;
      margin: 0 24px;
    }
  }

  .main-controls {
    display: flex;
    align-items: center;

    // justify-content: space-between;
    .left {
      flex-basis: 33.333%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
    }
    .center {
      flex-basis: 33.333%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
    .right {
      flex-basis: 33.333%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 5px;
    }

    .volume-slider {
      width: 100%;
      max-width: 300px;
      margin: 0 24px;
    }

    // .playback-speed-wrapper {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   border: 1px solid var(--color-border-grey);
    //   border-radius: 6px;
    //   height: 100%;

    //   button {
    //     margin: 3px;
    //   }

    //   .playback-speed-text {
    //     width: 6ch;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //   }
    // }
  }
  .information-row {
    display: flex;
    justify-content: space-between;
  }
}
