.controls {
  padding: 0px 5px;

  mat-slider {
    --mdc-slider-handle-color: black;
    --mdc-slider-focus-handle-color: black;
    --mdc-slider-active-track-color: black;
    --mdc-slider-inactive-track-color: black;
    // --mdc-slider-inactive-track-height: 12px;
    // --mdc-slider-handle-height: 25px;
    // --mdc-slider-handle-width: 40px;
    // --mdc-slider-inactive-track-shape: 20px;
  }

  .mdc-slider__value-indicator-text {
    // color: red !important;
    background-color: black;
    opacity: 1;
  }

  .video-progress-slider-wrapper {
    display: flex;
    justify-content: center;
    .mat-mdc-slider {
      width: 100%;
      margin: 0 24px;
    }
  }

  .volume-slider {
    // border: 1px solid black;
    width: 100%;
    max-width: 300px;
    margin: 0 24px;
  }

  .main-controls {
    display: flex;
    align-items: center;

    // justify-content: space-between;
    .left {
      flex-basis: 33.333%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .center {
      flex-basis: 33.333%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .right {
      flex-basis: 33.333%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .playback-speed-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-border-grey);
    border-radius: 5px;

    .playback-speed-text {
      width: 35px;
      display: flex;
      justify-content: center;
    }
  }
}
