<div class="landing-subpage-wrapper">
  <h1>Leichte Sprache</h1>

  <h2>Ziel der Webseite Melvin</h2>
  <img alt="" aria-hidden="true" src="assets/plain-language/untertitel.png" />

  <p>
    Melvin ist ein Computer·programm.
    <br />
    Mit Melvin können Sie Videos mit Untertiteln machen.
    <br />
    Damit man lesen kann
    <br />
    was in einem Video gesagt wird.
  </p>

  <p>
    Die Videos sind dann barriere·frei.
    <br />
    Die Videos können Sie teilen.
    <br />
    Das alles geht einfach und schnell.
  </p>

  <p>Es gibt eine Anleitung für Melvin.</p>

  <p>
    Eine Anleitung erklärt
    <br />
    wie Melvin funktioniert.
  </p>

  <p>
    Und worauf Sie achten müssen
    <br />
    bei den Videos.
  </p>

  <h2>Aufbau der Webseite</h2>
  <!-- TODO add screenshot of landing page (in german) when ready -->

  <p>
    Auf der Start·seite
    <br />
    stehen die wichtigsten Funktionen von Melvin:
  </p>

  <ul>
    <li>Aufnehmen</li>
    <li>Untertiteln</li>
    <li>Teilen</li>
  </ul>

  <p>
    Wenn Sie auf „Anmelden“ klicken <br />
    können Sie sich <br />
    in Ihrem Benutzer-Konto anmelden. <br />
    Oder ein neues Benutzer-Konto machen.
  </p>

  <p>
    Wenn Sie schon angemeldet sind <br />
    ist dort der Knopf „Zu den Projekten“. <br />
    Da finden Sie Ihre früheren Videos.
  </p>

  <p>Ganz unten auf der Seite sind:</p>
  <ul>
    <li>Adresse</li>
    <li>Telefon·nummer</li>
    <li>Erklärung zur Barriere·freiheit</li>
    <li>Datenschutz·erklärung</li>
    <li>und mehr Informationen</li>
  </ul>

  <h2>Erklärung zur Barriere·freiheit und Melde·stelle</h2>

  <img alt="" aria-hidden="true" src="assets/plain-language/barrierefrei.png" />

  <p>
    Wir versuchen <br />
    diese Internet·seite barriere·frei zu machen.
  </p>

  <p>
    So steht es auch im Gesetz. <br />
    Mehr dazu finden Sie in der <br />
    <strong>Erklärung zur Barriere·freiheit.</strong>
  </p>

  <p>
    Wenn Sie eine Barriere finden: <br />
    Sagen Sie es uns.
  </p>

  <p>
    Sie können uns auch fragen <br />
    wie wir die Seite barriere·frei machen.
  </p>

  <p>
    Sprechen Sie mit: <br />
    <span class="margin-left">Prof. Dr. Gottfried Zimmermann</span>
  </p>

  <p>
    Adresse: <br />
    <span class="margin-left">Hochschule der Medien </span> <br />
    <span class="margin-left">Nobelstr. 10 </span> <br />
    <span class="margin-left"> 70569 Stuttgart </span>
  </p>

  <p>
    Email:
    <a href="mailto:melvin@hdm-suttgart.de">melvin&#64;hdm-suttgart.de</a>
  </p>

  <p>Telefon: <a href="tel:004971189232751">0049 711 8923 2751</a></p>

  <p>Ihr Recht:</p>

  <p>
    Wenn wir nach 4 Wochen nicht antworten <br />
    können Sie sich beschweren.
  </p>

  <p>
    Schreiben Sie an: <br />
    <span class="margin-left">Simone Fischer</span>
  </p>

  <p>
    Adresse: <br />
    <span class="margin-left">Else-Josenhans-Straße 6</span>
    <br />
    <span class="margin-left">70173 Stuttgart</span>
  </p>

  <p>
    Email:
    <a href="mailto:Poststelle@bfbmb.bwl.de">Poststelle&#64;bfbmb.bwl.de</a>
  </p>

  <p>Telefon: <a href="tel:00497112793366">0049 711 279-3366</a></p>

  <p>
    Es gibt jemanden <br />
    der Ihnen helfen kann: <br />
    Der "kommunale Beauftragte für die Belange von Menschen mit <br />
    Behinderungen". <br />
    Von Ihrem Wohnort.
  </p>

  <p>Seine Telefon·nummer kann Ihnen das Rathaus geben.</p>

  <p>
    Hinweis: Gruppen können uns verklagen. <br />
    Das steht im Gesetz mit der Nummer § 12 Absatz 1 Satz 1 Nummer 4 L-BGG.
  </p>

  <h2>Weitere Informationen in Leichter Sprache</h2>
  <p>
    Wir haben sonst keine Informationen <br />
    in Leichter Sprache
  </p>
</div>
