@switch (data.type) { @case ('delete') {
<h1 mat-dialog-title i18n="@@deleteConfirmationDialogTitleDelete">
  Delete {{ data.subject }}
</h1>
} @case ('leave') {
<h1 mat-dialog-title i18n="@@deleteConfirmationDialogTitleLeave">
  Leave {{ data.subject }}
</h1>
} }

<div mat-dialog-content>
  @if (data.description) {
  <p class="text">{{ data.description }}</p>
  } @switch (data.type) { @case ('delete') {
  <p i18n="@@deleteConfirmationDialogAreYouSure">
    Are you sure you want to delete this {{ data.subject }}?
  </p>
  } @case ('leave') {
  <p i18n="@@deleteConfirmationDialogAreYouSure">
    Are you sure you want to leave this {{ data.subject }}?
  </p>
  } }
</div>
<div mat-dialog-actions align="end">
  <button
    mat-button
    (click)="onAbort()"
    i18n="@@deleteConfirmationDialogAbortButton"
  >
    Abort
  </button>
  <button
    mat-button
    (click)="onConfirm()"
    i18n="@@deleteConfirmationDialogConfirmButton"
    cdkFocusInitial
  >
    Confirm
  </button>
</div>
