<div mat-dialog-title>
  <div class="dialog-header">
    @switch (data.type) { @case ('delete') {
    <h1 i18n="@@deleteConfirmationDialogTitleDelete">
      Delete {{ data.subject }}
    </h1>
    } @case ('leave') {
    <h1 i18n="@@deleteConfirmationDialogTitleLeave">
      Leave {{ data.subject }}
    </h1>
    } @case ('deleteTranscription') {
    <h1 i18n="@@deleteConfirmationDialogTitleDeleteTranscription">
      Delete {{ data.subject }}
    </h1>
    } @case ('deleteAccount') {
    <h1 i18n="@@deleteConfirmationDialogTitleDeleteAccount">
      Delete {{ data.subject }}
    </h1>
    } }
  </div>
</div>

<mat-dialog-content>
  <div class="content">
    @if (data.description) {
    <p class="text break-long-text">{{ data.description }}</p>
    } @switch (data.type) { @case ('delete') {
    <p i18n="@@deleteConfirmationDialogAreYouSureDelete">
      Are you sure you want to delete this {{ data.subject }}?
    </p>
    } @case ('leave') {
    <p i18n="@@deleteConfirmationDialogAreYouSureLeave">
      Are you sure you want to leave this {{ data.subject }}?
    </p>
    }@case ('deleteTranscription') {
    <p i18n="@@deleteConfirmationDialogAreYouSureDeleteTranscription">
      Are you sure you want to delete this {{ data.subject }}?
    </p>
    } }
  </div>

  @if (data.level === DeleteConfirmLevel.HIGH_PASSWORD) {
  <div class="password-confirmation">
    <p i18n="@@deleteConfirmationDialogPasswordExplanation">
      To delete your account you need to enter your password
    </p>

    <form [formGroup]="passwordFormGroup">
      <mat-form-field>
        <mat-label i18n="@@deleteConfirmationDialogPasswordLabel">
          Password
        </mat-label>
        <input formControlName="password" matInput type="password" />
        <mat-error i18n="@@deleteConfirmationDialogPasswordError">
          Password is required
        </mat-error>
      </mat-form-field>
    </form>

    <div aria-live="polite">
      @if (error) {
      <p class="error-message">
        <mat-icon svgIcon="warning"></mat-icon>
        {{ error }}
      </p>
      }
    </div>
  </div>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    (click)="onAbort()"
    i18n="@@deleteConfirmationDialogAbortButton"
  >
    Abort
  </button>
  <button
    mat-flat-button
    (click)="onConfirm()"
    i18n="@@deleteConfirmationDialogConfirmButton"
    cdkFocusInitial
  >
    Confirm
  </button>
</mat-dialog-actions>
