.footer-foundation-link-dm {
  background-image: url('/assets/logo-foundation.svg');

  width: 8rem;
  height: 2.5rem;
  display: block;

  background-size: contain;
}

body.dark-theme {
  .footer-foundation-link-dm {
    background-image: url('/assets/logo-foundation-white.svg');
  }
}
