.hint {
  color: var(--color-black);

  margin-bottom: 1.875rem;
}

.form-field-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  mat-label {
    margin-bottom: 1.25rem;
  }
}

.like-captions-text {
  margin-top: 0.625rem;
  width: 100%;
  height: 4.375rem;
  padding-inline: 0.25rem;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
