<div mat-dialog-title>
  <div class="dialog-header">
    <h1 i18n="@@viewerCaptionsSettingsDialogTitle">Caption settings</h1>

    <button
      mat-icon-button
      mat-dialog-close
      cdkFocusInitial
      i18n-aria-label="@@viewerCaptionsSettingsDialogCloseButton"
      aria-label="Close"
    >
      <mat-icon svgIcon="close" />
    </button>
  </div>
</div>

<div mat-dialog-content>
  <div class="hint" i18n="@@viewerCaptionsSettingsDialogHint">
    The settings are applied directly.
  </div>

  <div
    class="form-field-wrapper"
    *ngrxLet="backgroundColor$ as backgroundColor"
  >
    <mat-label
      for="captionsBackgroundColor"
      i18n="@@viewerCaptionsSettingsDialogBackgroundColorLabel"
    >
      Captions background color
    </mat-label>
    <mat-form-field appearance="fill">
      <mat-select
        id="captionsBackgroundColor"
        [value]="backgroundColor"
        (selectionChange)="onChangeBackgroundColor($event)"
      >
        <mat-option
          value="{{ ColorOptions.BLACK }}"
          i18n="@@viewerCaptionsSettingsDialogBackgroundColorOptionBlack"
          >black
        </mat-option>
        <mat-option
          value="{{ ColorOptions.WHITE }}"
          i18n="@@viewerCaptionsSettingsDialogBackgroundColorOptionWhite"
          >white
        </mat-option>
        <mat-option
          value="{{ ColorOptions.YELLOW }}"
          i18n="@@viewerCaptionsSettingsDialogBackgroundColorOptionYellow"
          >yellow
        </mat-option>
        <mat-option
          value="{{ ColorOptions.RED }}"
          i18n="@@viewerCaptionsSettingsDialogBackgroundColorOptionRed"
          >red
        </mat-option>
        <mat-option
          value="{{ ColorOptions.BLUE }}"
          i18n="@@viewerCaptionsSettingsDialogBackgroundColorOptionBlue"
          >blue
        </mat-option>
        <mat-option
          value="{{ ColorOptions.TRANSPARENT }}"
          i18n="@@viewerCaptionsSettingsDialogBackgroundColorOptionTransparent"
          >transparent
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-field-wrapper" *ngrxLet="color$ as color">
    <mat-label
      for="captionColor"
      i18n="@@viewerCaptionsSettingsDialogFontColorLabel"
    >
      Captions fontcolor</mat-label
    >
    <mat-form-field appearance="fill">
      <mat-select
        id="captionsColor"
        [value]="color"
        (selectionChange)="onChangeColor($event)"
      >
        <mat-option
          value="{{ ColorOptions.BLACK }}"
          i18n="@@viewerCaptionsSettingsDialogFontColorOptionBlack"
          >black</mat-option
        >
        <mat-option
          value="{{ ColorOptions.WHITE }}"
          i18n="@@viewerCaptionsSettingsDialogFontColorOptionWhite"
          >white</mat-option
        >
        <mat-option
          value="{{ ColorOptions.YELLOW }}"
          i18n="@@viewerCaptionsSettingsDialogFontColorOptionYellow"
          >yellow</mat-option
        >
        <mat-option
          value="{{ ColorOptions.RED }}"
          i18n="@@viewerCaptionsSettingsDialogFontColorOptionRed"
          >red</mat-option
        >
        <mat-option
          value="{{ ColorOptions.BLUE }}"
          i18n="@@viewerCaptionsSettingsDialogFontColorOptionBlue"
          >blue</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-field-wrapper" *ngrxLet="fontsize$ as fontsize">
    <mat-label
      for="captionsFontsize"
      i18n="@@viewerCaptionsSettingsDialogFontsize"
    >
      Captions fontsize
    </mat-label>
    <mat-form-field appearance="fill">
      <mat-select
        id="captionsFontsize"
        [value]="fontsize"
        (selectionChange)="onChangeFontsize($event)"
      >
        <mat-option value="{{ SizeOptions.P100 }}"
          >{{ SizeOptions.P100 }}%
        </mat-option>
        <mat-option value="{{ SizeOptions.P150 }}"
          >{{ SizeOptions.P150 }}%
        </mat-option>
        <mat-option value="{{ SizeOptions.P200 }}"
          >{{ SizeOptions.P200 }}%
        </mat-option>
        <mat-option value="{{ SizeOptions.P250 }}"
          >{{ SizeOptions.P250 }}%
        </mat-option>
        <mat-option value="{{ SizeOptions.P300 }}"
          >{{ SizeOptions.P300 }}%
        </mat-option>
        <mat-option value="{{ SizeOptions.P400 }}"
          >{{ SizeOptions.P400 }}%
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-field-wrapper" *ngrxLet="position$ as position">
    <mat-label
      for="captionsFontsize"
      i18n="@@viewerCaptionsSettingsDialogPositionLabel"
    >
      Captions position
    </mat-label>
    <mat-form-field appearance="fill">
      <mat-select
        id="captionsPosition"
        [value]="position"
        (selectionChange)="onChangePosition($event)"
      >
        <mat-option
          value="{{ CaptionPositionOptions.OVER_VIDEO }}"
          i18n="@@viewerCaptionsSettingsDialogPositionOptionOver"
        >
          In front of the video
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    *ngrxLet="combined$ as combined"
    class="like-captions-text color-{{ combined.color }} backgroundColor-{{
      combined.backgroundColor
    }}"
    i18n="@@viewerCaptionsSettingsDialogExampletext"
    [ngStyle]="{
      'font-size.%': combined.fontsize,
      color: combined.color,
      'background-color': combined.backgroundColor,
      'line-height': '1em'
    }"
  >
    Example text: This is what the subtitles will look like.
  </div>
</div>
