<div
  class="container"
  [class.focused]="isFocused"
  [class.selected]="isSelected"
  (focusin)="onFocus()"
  (focusout)="onBlur()"
  [tabindex]="1"
>
  <!-- Play from start, Loop Buttons -->
  <div class="top">
    <div *ngIf="'captionPlayActions' | featureEnabled" class="play-actions">
      <button
        mat-icon-button
        class="sm"
        (click)="onClickPlayFromStart()"
        i18n-matTooltip="@@captionPlayFromThisCaptionTooltip"
        matTooltip="Play from this caption."
        matTooltipPosition="above"
        [matTooltipShowDelay]="1000"
      >
        <mat-icon svgIcon="skip_next"></mat-icon>
      </button>

      <button
        mat-icon-button
        class="sm"
        (click)="onClickLoop()"
        i18n-matTooltip="@@captionLoopThisCaptionTooltip"
        matTooltip="Loop this caption."
        matTooltipPosition="above"
        [matTooltipShowDelay]="1000"
      >
        <mat-icon svgIcon="repeat"></mat-icon>
      </button>
    </div>
  </div>

  <div
    class="content"
    [style.border-color]="
      lockedBy ? 'var(--color-editor-user-' + lockedBy.color + ')' : undefined
    "
    [class.invalid]="!formControl.valid"
  >
    <!-- Text Input -->
    <textarea
      [class.small]="formControl.hasError('maximumNumberOfLines')"
      rows="2"
      cols="50"
      [formControl]="formControl"
      [readonly]="!!lockedBy"
      [spellcheck]="false"
    >
    </textarea>

    <!-- NEW Badge -->
    <div *ngIf="isNew" class="new">New</div>

    <!-- Saved indicator -->
    <div *ngIf="showSaveSpinner" class="save-spinner">
      <mat-spinner strokeWidth="2" diameter="20"></mat-spinner>
    </div>

    <!-- Undo Button -->
    <!-- TODO: Fix focus issue -->
    <!-- <div class="undo-container" [class.visible]="isTextModified">
      <button
        mat-icon-button
        class="sm"
        (click)="onClickUndo()"
        i18n-matTooltip="@@captionUndoTextChangesTooltip"
        matTooltip="Undo changes"
        matTooltipPosition="above"
        [matTooltipShowDelay]="500"
      >
        <mat-icon svgIcon="clear"></mat-icon>
      </button>
    </div> -->

    <!-- Play Progress Bar -->
    <ng-container *ngrxLet="progress$ as progress">
      <mat-progress-bar
        *ngIf="progress.show && ('captionProgressBar' | featureEnabled)"
        [value]="progress.value"
      ></mat-progress-bar>
    </ng-container>

    <!-- Locked-By -->
    <div *ngIf="lockedBy" class="locked">
      <div
        class="inner"
        [style.background-color]="
          'var(--color-editor-user-' + lockedBy.color + ')'
        "
        i18n-matTooltip="@@captionSomeoneEditsThisCaptionTooltip"
        [matTooltip]="lockedBy.name + ' edits this caption.'"
      >
        <span>{{ lockedBy.name.charAt(0) }}</span>
        <!-- <mat-icon svgIcon="lock"></mat-icon> -->
      </div>
    </div>
  </div>

  <!-- Error-Message -->
  <div *ngIf="!formControl.valid" class="error-message">
    {{ errorMessage }}
  </div>
</div>
