<div class="box">
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Informationen zum Video </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenState ? 'Weniger anzeigen' : 'Mehr anzeigen' }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>Veröffentlichung: {{ project.createdAt | date }}</p>
    <p>Status: {{ project.status | readableStatus }}</p>
    <p>Sprache: {{ project.language | shortLanguageCode }}</p>
    <!-- <h3>Downloads</h3>
    <div class="downloads">
      <div>as pdf.</div>
      <div>as vtt.</div>
      <div>as srt.</div>
    </div> -->
  </mat-expansion-panel>
</div>
