<div class="box">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>{{ project.title }}</h2>
      </mat-panel-title>
      <mat-panel-description> Infobox </mat-panel-description>
    </mat-expansion-panel-header>
    <h3>Metadaten</h3>
    <p>Veröffentlichung: {{ project.createdAt | date }}</p>
    <p>Status: {{ project.status | readableStatus }}</p>
    <p>Sprache: {{ project.language | shortLanguageCode }}</p>
    <!-- <h3>Downloads</h3>
    <div class="downloads">
      <div>as pdf.</div>
      <div>as vtt.</div>
      <div>as srt.</div>
    </div> -->
  </mat-expansion-panel>
</div>
