<div class="landing-subpage-wrapper">
  <app-landing-back-link />

  <h1 i18n="@@imprintMainHeading">Imprint</h1>

  <h2 i18n="@@imprintPartnerHeading">Project partners:</h2>

  <p i18n="@@imprintPartnerUpperText">
    Melvin is part of the SHUFFLE project funded by the Stiftung Innovation in
    der Hochschullehre. Three other universities are involved in the project
    under the direction of the Hochschule der Medien:
  </p>

  <ul>
    <li>
      <a href="https://www.ph-freiburg.de/" i18n="@@imprintFreiburg">
        Freiburg University of Education
      </a>
    </li>
    <li>
      <a href="https://www.ph-heidelberg.de/" i18n="@@imprintHeidelberg">
        Heidelberg University of Education
      </a>
    </li>
    <li>
      <a href="https://www.uni-bielefeld.de/" i18n="@@imprintBielefeld">
        University Bielefeld
      </a>
    </li>
  </ul>

  <p i18n="@@imprintPartnerLowerText">
    Hochschule der Medien Stuttgart is a body under public law. It is legally
    represented by the Rector Prof. Dr. Alexander W. Roos.
  </p>

  <p i18n="@@imprintVATNumber">
    <strong>VAT ID number:</strong> DE 224 427 890
  </p>

  <h3 i18n="@@imprintResponsiblePersonHeading">Responsible for the website:</h3>

  <p>
    Prof. Dr. Gottfried Zimmermann<br />
    Hochschule der Medien<br />
    Nobelstr. 10<br />
    70569 Stuttgart
  </p>

  <ul>
    <li>
      <a href="mailto:zimmermanng@hdm-stuttgart.de"
        >zimmermanng&#64;hdm-stuttgart.de
      </a>
    </li>
    <li>
      <a href="tel:004971189232751">+49 711 8923-2751</a>
    </li>
  </ul>

  <h3 i18n="@@imprintResponsibleAuthorityHeading">
    Responsible regulatory authority:
  </h3>

  <p>
    Ministerium für Wissenschaft, Forschung und Kunst Baden-Württemberg<br />
    Königstraße 46<br />
    70173 Stuttgart
  </p>

  <h2 i18n="@@imprintDisclaimerHeading">Disclaimer</h2>

  <h3 i18n="@@imprintWebsiteContentHeading">1. Content of the website</h3>

  <p i18n="@@imprintWebsiteContentText">
    The author (provider of this website) assumes no liability for the
    topicality, correctness, completeness or quality of the information
    provided. Liability claims against the author relating to material or
    immaterial damage caused by the use or non-use of the information provided
    or by the use of incorrect or incomplete information are fundamentally
    excluded, unless there is evidence of wilful intent or gross negligence on
    the part of the author. All content is subject to change and non-binding.
    The author expressly reserve the right to change, supplement or delete parts
    of the pages or the entire website without prior notice or to cease
    publication temporarily or permanently.
  </p>

  <h3 i18n="@@imprintReferencesHeading">2. References and links</h3>
  <p i18n="@@imprintReferencesText">
    In the case of direct or indirect references to external websites ("links")
    that lie outside the author's area of responsibility, a liability obligation
    would only come into force in the event that the author is aware of the
    content and it would be technically possible and reasonable for him to
    prevent use in the event of illegal content. The author hereby expressly
    declares that no illegal content was recognizable on the linked pages at the
    time the links were created. The author has no influence whatsoever on the
    current and future design, content or authorship of the linked pages. The
    author therefore expressly distances himself from all contents of all linked
    pages that were changed after the link was created. This statement applies
    to all links and references set within the author's own website as well as
    to third-party entries in guest books, discussion forums and mailing lists
    set up by the author. Liability for illegal, incorrect or incomplete content
    and in particular for damages resulting from the use or non-use of such
    information lies solely with the provider of the page to which reference is
    made, and not with the person who merely refers to the respective
    publication via links.
  </p>

  <h3 i18n="@@imprintCopyrightHeading">3. Copyright and trademark law</h3>
  <p i18n="@@imprintCopyrightUpperText">
    The author makes every effort to respect the copyright of the graphics,
    sound documents, video sequences and texts used in all publications, to use
    graphics, sound documents, video sequences and texts created by themselves
    or to use license-free graphics, sound documents, video sequences and texts.
  </p>

  <p i18n="@@imprintCopyrightLowerText">
    All brand names and trademarks mentioned on the website and potentially
    protected by third parties are subject without restriction to the
    regulations of the applicable trademark law and the ownership rights of the
    respective registered owners. The mere mention of a trademark does not imply
    that it is not protected by third-party rights! The copyright for published
    objects created by the author or author himself remains solely with the
    author/authors of the pages or texts and contents. Reproduction or use of
    such graphics, audio documents, video sequences and texts in other
    electronic or printed publications is not permitted without the express
    consent of the author(s).
  </p>

  <h3 i18n="@@imprintLegalValidityHeading">
    4. Legal validity of this disclaimer
  </h3>
  <p i18n="@@imprintLegalValidityText">
    This disclaimer is to be regarded as part of the internet publication which
    you were referred from. If sections or individual terms of this statement
    are not legal or correct, the content or validity of the other parts remain
    uninfluenced by this fact.
  </p>

  <p i18n="@@imprintSourceText">
    Source: <a href="https://www.juraforum.de/">www.Juraforum.de</a> - Legal
    portal with lawyer search as at: August 2017
  </p>
</div>
