<div mat-dialog-title>
  <div class="dialog-header">
    <div>
      <h1>Edit Email</h1>
    </div>
  </div>
</div>

<mat-dialog-content>
  @if (user) {
  <p class="current-email">
    <span>Current Email:</span> <span>{{ user.email }}</span>
  </p>

  <mat-form-field>
    <mat-label i18n="@@adminEditEmailDialogNewEmailLabel">New Email</mat-label>
    <input matInput [formControl]="newEmailControl" />
    <mat-error>
      @if(newEmailControl.hasError('required')) {
      <span i18n="@@adminEditEmailDialogEmailErrorRequired"
        >Email required</span
      >

      } @if(newEmailControl.hasError('email')) {
      <span i18n="@@adminEditEmailDialogEmailErrorInvalid"
        >Valid email address required</span
      >
      }
    </mat-error>
  </mat-form-field>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onAbort()">Abort</button>
  <button mat-flat-button (click)="onConfirm()" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
