<div mat-dialog-title>
  <div class="dialog-header">
    <div>
      <h1>Edit Email</h1>
    </div>

    <button mat-icon-button [mat-dialog-close]="true" aria-label="Close">
      <mat-icon svgIcon="close" />
    </button>
  </div>
</div>

<mat-dialog-content>
  @if(newEmailLoading$ | ngrxPush) {
  <mat-spinner diameter="30" />
  } @else { @if(userWithNewEmail$ | ngrxPush; as userWithNewEmail) {
  <p class="current-email">
    <span>Email successfully changed to:</span>
    <span>{{ userWithNewEmail.email }}</span>
  </p>
  } @else {
  <p class="current-email">
    <span>Current Email:</span> <span>{{ user.email }}</span>
  </p>

  <mat-form-field>
    <mat-label i18n="@@adminEditEmailDialogNewEmailLabel">New Email</mat-label>
    <input matInput [formControl]="newEmailControl" />
    <mat-error>
      @if(newEmailControl.hasError('required')) {
      <span i18n="@@adminEditEmailDialogEmailErrorRequired"
        >Email required</span
      >

      } @if(newEmailControl.hasError('email')) {
      <span i18n="@@adminEditEmailDialogEmailErrorInvalid"
        >Valid email address required</span
      >
      }
    </mat-error>
  </mat-form-field>

  <div aria-live="polite">
    @if(newEmailError$ | ngrxPush; as newEmailError) {
    <p class="error-message">
      <mat-icon svgIcon="warning"></mat-icon>
      {{ newEmailError }}
    </p>
    }
  </div>

  <button mat-flat-button (click)="onChangeEmail()">Change</button>
  }}
</mat-dialog-content>
