<app-project-metadata-form [metadataGroup]="metadataGroup">
</app-project-metadata-form>
<form [formGroup]="videoGroup">
  <fieldset class="custom-fieldset">
    <legend i18n="@@videoFormFileLanguagesFieldsetLabel">
      Languages of uploaded files
    </legend>
    <ng-container formArrayName="uploadedFiles">
      @for (uploadedFileForm of uploadedFiles.controls; track uploadedFileForm; let i = $index) {
        <div
          [formGroup]="getFormGroup(uploadedFileForm)"
          class="file-language-wrapper"
          >
          <div class="file">
            <div class="file-content">
              @if (
                !(
                uploadedFileForm.value.content.type.includes('audio') ||
                uploadedFileForm.value.content.type.includes('video')
                )
                ) {
                <mat-icon
                  svgIcon="transcription-file"
                ></mat-icon>
              }
              @if (
                uploadedFileForm.value.content.type.includes('audio') ||
                uploadedFileForm.value.content.type.includes('video')
                ) {
                <mat-icon
                  svgIcon="video"
                ></mat-icon>
              }
              <p>{{ uploadedFileForm.value.content.name }}</p>
            </div>
          </div>
          <mat-form-field *ngrxLet="languages$ as languages">
            <mat-label i18n="@@videoFormLanguageLabel">Language</mat-label>
            <mat-select formControlName="language" required>
              @for (language of languages; track language) {
                <div>
                  <mat-option [value]="language.code">
                    {{ language.name }}
                  </mat-option>
                </div>
              }
            </mat-select>
            <mat-error i18n="@@videoFormLanguageRequiredError"
              >Please select the primary language of the file content</mat-error
              >
            </mat-form-field>
          </div>
        }
      </ng-container>
    </fieldset>
    <app-project-asr-form [asrGroup]="getFormGroup(videoGroup.controls.asrGroup)">
    </app-project-asr-form>
    @if (notIdenticalLanguages) {
      <app-alert
        i18n="@@videoFormDifferentLanguagesInfo"
        level="info"
        >The specified language of the video/audio file is different from the
        language used for automatic subtitle generation. Are you sure you want to
        proceed?</app-alert
        >
      }
    </form>
    