<div class="dropzone" [class.invalid-input]="showError">
  <div>
    <div class="input-ready-dropzone">
      @if (files.length !== 0) {
      <div>
        @for (file of files; track file) {
        <div class="file">
          <div class="file-content">
            @if ( !(file.type.includes('audio') || file.type.includes('video'))
            ) {
            <mat-icon svgIcon="transcription-file"></mat-icon>
            } @if (file.type.includes('audio') || file.type.includes('video')) {
            <mat-icon svgIcon="video"></mat-icon>
            }
            <div>
              {{ file.name }}
            </div>
          </div>
          <button
            mat-icon-button
            (click)="onRemoveFile(file); $event.stopPropagation()"
            i18n-matTooltip="@@uploadFilesFormRemoveFileTooltip"
            matTooltip="Remove file"
            aria-label="Remove file"
            i18n-aria-label="@@uploadFilesFormRemoveFileAriaLabel"
          >
            <mat-icon svgIcon="delete"></mat-icon>
          </button>
        </div>
        } @if(!acceptOnlyOneFile){
        <div class="file add-btn">
          <div class="file-content">
            <mat-icon svgIcon="add" />
            <label i18n="@@uploadFilesForAddMoreFileAriaLabel" for="fileDropRef"
              >Add more files
            </label>
          </div>
        </div>
        }
      </div>
      }
      <div>
        <input
          (change)="onAddFiles($event)"
          type="file"
          #fileDropRef
          id="fileDropRef"
          multiple
          required
          [accept]="acceptedFileFormats"
          [attr.aria-describedby]="ariaDesribedByIds"
        />
        @if (files.length === 0) {
        <div>
          <mat-icon svgIcon="upload"></mat-icon>
          <div class="intruction-text">
            @if (label === 'mediaAndTranscription') {
            <p i18n="@@uploadFilesFormDropzoneText">
              Drag your audio, video and subtitle file * here
            </p>
            } @else if (label === 'transcription') {
            <p i18n="@@uploadFilesFormDropzoneTextTranscription">
              Drag your subtitle file (.vtt or .srt) * here
            </p>
            } @else if (label === 'media') {
            <p i18n="@@uploadFilesFormDropzoneTextMedia">
              Drag your audio or video file * here
            </p>
            }

            <p i18n="@@uploadFilesFormDropzoneTextOr">or</p>
          </div>

          <label
            class="label-empty"
            for="fileDropRef"
            i18n="@@uploadFilesFormChooseFile"
            >Choose file
          </label>
        </div>
        }
      </div>
    </div>
  </div>
</div>
