<div class="container">
  @if (showMenu) {
    <button mat-flat-button color="warn" [matMenuTriggerFor]="menu">
      <mat-icon [svgIcon]="icon"></mat-icon>
      <span>{{ text }}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onClickPause()">
        <mat-icon svgIcon="pause"></mat-icon>
        <span>Aufzeichnung pausieren</span>
      </button>
      <button mat-menu-item (click)="onClickStop()">
        <mat-icon svgIcon="stop"></mat-icon>
        <span>Aufzeichnung beenden</span>
      </button>
    </mat-menu>
  }
  @if (!showMenu) {
    <button
      mat-flat-button
      color="warn"
      (click)="onClickStart()"
      [class.disabled]="disabled"
      >
      <mat-icon [svgIcon]="icon"></mat-icon>
      <span>{{ text }}</span>
    </button>
  }
</div>
