<h2 mat-dialog-title i18n="@@uploadRecordingTitle">
  Upload and Project creation: {{ data.title }}
</h2>
<mat-dialog-content class="mat-dialog-content">
  @if (!uploading) {
  <div class="inputs">
    <mat-form-field *ngrxLet="asrServiceConfig$ as asrServiceConfig">
      <mat-label i18n="@@uploadRecordingAsrServiceLabel">ASR Service</mat-label>
      <mat-select
        required
        [(value)]="asrSelection"
        (selectionChange)="onChangeAsrService($event)"
      >
        @for (service of asrServiceConfig; track service.asrVendor ) {
        <mat-option [value]="service">
          {{ service.fullName }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n="@@uploadRecordingLanguageLabel">Language</mat-label>
      <mat-select required [(value)]="language" [disabled]="!asrSelection">
        @if (asrSelection) { @for (lang of asrSelection.languages; track lang )
        {
        <mat-option [value]="lang.code">
          {{ lang.name }}
        </mat-option>
        } }
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <div class="infotext">
      <mat-icon svgIcon="info"></mat-icon>
      @if (readyToUpload) {
      <span i18n="@@uploadRecordingReadyToUploadHint">
        All files are ready. You can now upload the project or download the
        files locally.
      </span>
      }@else{
      <span i18n="@@uploadRecordingFilesProcessingHint">
        The files are being processed, please wait until all files are ready.
      </span>
      }
    </div>
  </div>

  } @else {
  <div>
    <div>
      <ul class="actions-list">
        @for (recording of data.recordings; track recording.id; let i = $index)
        {
        <li class="action-item">
          <div class="status">
            <mat-icon
              [svgIcon]="
                recording.upload.error
                  ? 'warning'
                  : recording.upload.result
                  ? 'check'
                  : 'setting'
              "
            ></mat-icon>
          </div>
          <div class="content">
            <div class="title">
              <span class="header" i18n="@@uploadRecordingFileHeader">
                @if(i ===0){ Metadata and main video } @else { Aditional Video }
              </span>
              <span class="subheader">
                {{ recording.title }}
              </span>
            </div>
            @if (recording.upload.result) {
            <!-- recording successfully uploaded -->
            <div i18n="@@uploadRecordingSuccessfullyUploaded">
              Successfully uploaded!
            </div>
            } @else if (recording.upload.error) {
            <!-- recording upload failed -->
            <div i18n="@@uploadRecordingFailedWithError">
              Failed with error: {{ recording.upload.error.error.message }}
            </div>
            } @else {
            <!-- upload ongoing -->
            <div class="progressbar-wrapper">
              <mat-progress-bar
                mode="determinate"
                [value]="recording.upload.progress"
              ></mat-progress-bar>
            </div>
            }
          </div>
          <div class="actions">
            <button mat-icon-button (click)="onDownloadVideoLocally(recording)">
              <mat-icon svgIcon="download"></mat-icon>
            </button>
          </div>
        </li>
        }
      </ul>
    </div>

    @if (!this.uploadingDone) {
    <!-- <div class="progress-wrapper">
      <h3>Dateien werden hochgeladen.</h3>
      <mat-progress-bar
        mode="determinate"
        [value]="displayCompleteUploadProgress()"
      ></mat-progress-bar>
    </div> -->

    <div>
      <div class="infotext">
        <mat-icon svgIcon="info"></mat-icon>
        <span i18n="@@uploadRecordingWaitingForUploadHint">
          Please wait until all files have been uploaded.
        </span>
      </div>
    </div>

    }@else{
    <!--  -->
    @if (uploadingError) { @if (data.recordings[0].upload.error) {
    <div class="infotext">
      <mat-icon svgIcon="info"></mat-icon>
      <span i18n="@@uploadRecordingDownloadLocallyHint">
        Download the videos manually and try to create the projects with the
        files manually.
      </span>
    </div>
    <!-- TODO -->
    <!-- <button mat-flat-button color="accent">Try again!</button> -->

    }@else {
    <div class="infotext">
      <mat-icon svgIcon="info"></mat-icon>
      <span i18n="@@uploadRecordingAdditionalVideoFailedHint">
        The project and the main file could be uploaded and created! However, a
        problem has occurred with an additional video. Check in the project
        details which video could not be uploaded and upload it manually if
        necessary.
      </span>
    </div>
    <!-- TODO -->
    <!-- <button mat-flat-button color="accent">Try again!</button> -->

    }
    <!--  -->
    } @else {

    <div class="infotext">
      <mat-icon svgIcon="info"></mat-icon>
      <span i18n="@@uploadRecordingAllSuccessfulHint">
        The project has been successfully created, you can now close this
        dialogue close this dialogue! You will find the project in the project
        list, but it may still be possibly still being processed.
      </span>
    </div>
    } }
  </div>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-flat-button
    [disabled]="!readyToUpload"
    (click)="onDownloadVideosLocally()"
    color="accent"
    i18n="@@uploadRecordingDownloadFilesButton"
  >
    Download recordings locally
  </button>

  @if (!uploading) {

  <button
    color="warn"
    mat-flat-button
    (click)="onClose()"
    i18n="@@uploadRecordingDiscardButton"
  >
    Discard and close
  </button>

  <button
    color="primary"
    mat-flat-button
    [disabled]="!readyToUpload"
    (click)="onUploadRecording()"
    i18n="@@uploadRecordingUploadButton"
  >
    Upload and create project
  </button>

  }@else {

  <button
    color="primary"
    mat-flat-button
    [disabled]="!uploadingDone"
    (click)="onClose()"
    i18n="@@uploadRecordingRecordAnotherVideoButton"
  >
    Record another video
  </button>

  }
</mat-dialog-actions>
