<h2 mat-dialog-title>Upload and Project creation: {{ data.title }}</h2>
<mat-dialog-content class="mat-dialog-content">
  @if (!uploading) {
  <div class="inputs">
    <mat-form-field *ngrxLet="asrServiceConfig$ as asrServiceConfig">
      <mat-label>ASR Service</mat-label>
      <mat-select
        required
        [(value)]="asrSelection"
        (selectionChange)="onChangeAsrService($event)"
      >
        @for (service of asrServiceConfig; track service.asrVendor ) {
        <mat-option [value]="service">
          {{ service.fullName }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Language</mat-label>
      <mat-select required [(value)]="language" [disabled]="!asrSelection">
        @if (asrSelection) { @for (lang of asrSelection.languages; track lang )
        {
        <mat-option [value]="lang.code">
          {{ lang.name }}
        </mat-option>
        } }
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <div class="infotext">
      <mat-icon svgIcon="info"></mat-icon>
      @if (readyToUpload) {
      <span>
        Alle Daten sind bereit. Du kannst das Projekt jetzt hochladen oder dir
        die Dateie lokal runterladen.
      </span>
      }@else{
      <span>
        Die Dateien werden verarbeite, bitte warte bis alle Dateien fertig sind.
      </span>
      }
    </div>
  </div>

  } @else {
  <div>
    <div>
      <ul class="actions-list">
        @for (recording of data.recordings; track recording.id; let i = $index)
        {
        <li class="action-item">
          <div class="status">
            <mat-icon
              [svgIcon]="
                recording.upload.error
                  ? 'warning'
                  : recording.upload.result
                  ? 'check'
                  : 'setting'
              "
            ></mat-icon>
          </div>
          <div class="content">
            <div class="title">
              <span class="header">
                @if(i ===0){Metadaten und Hauptvideo}@else {Zusätzliches Video}
              </span>
              <span class="subheader">
                {{ recording.title }}
              </span>
            </div>
            @if (recording.upload.result) {
            <!-- recording successfully uploaded -->
            <div>Successfully uploaded!</div>
            } @else if (recording.upload.error) {
            <!-- recording upload failed -->
            <div>
              Failed with error: {{ recording.upload.error.error.message }}
            </div>
            } @else {
            <!-- upload ongoing -->
            <div class="progressbar-wrapper">
              <mat-progress-bar
                mode="determinate"
                [value]="recording.upload.progress"
              ></mat-progress-bar>
            </div>
            }
          </div>
          <div class="actions">
            <button mat-icon-button (click)="onDownloadVideoLocally(recording)">
              <mat-icon svgIcon="download"></mat-icon>
            </button>
          </div>
        </li>
        }
      </ul>
    </div>

    @if (!this.uploadingDone) {
    <!-- <div class="progress-wrapper">
      <h3>Dateien werden hochgeladen.</h3>
      <mat-progress-bar
        mode="determinate"
        [value]="displayCompleteUploadProgress()"
      ></mat-progress-bar>
    </div> -->

    <div>
      <div class="infotext">
        <mat-icon svgIcon="info"></mat-icon>
        <span> Bitte warte bis alle Dateien hochgeladen wurden. </span>
      </div>
    </div>

    }@else{
    <!--  -->
    @if (uploadingError) { @if (data.recordings[0].upload.error) {
    <div class="infotext">
      <mat-icon svgIcon="info"></mat-icon>
      <span>
        Lade die Videos manuell runter und versuche das Projekte mit den Dateien
        manuell zu erstellen.
      </span>
    </div>
    <!-- TODO -->
    <!-- <button mat-flat-button color="accent">Try again!</button> -->

    }@else {
    <div class="infotext">
      <mat-icon svgIcon="info"></mat-icon>
      <span>
        Das Projekt und die Hauptdatei konnte hochgeladen und erstellt werden!
        Es ist aber ein Problem bei einem zusätzlichen Video aufgetreten. Prüfe
        in den Projektdetails welches Video nicht hochgeladen werden konnte und
        lade es bei Bedarf manuell hoch.
      </span>
    </div>
    <!-- TODO -->
    <!-- <button mat-flat-button color="accent">Try again!</button> -->

    }
    <!--  -->
    } @else {

    <div class="infotext">
      <mat-icon svgIcon="info"></mat-icon>
      <span>
        Das Projekt wurde erfolgreich erstellt, du kannst diesen Dialog jetzt
        schließen! Du findest das Projekt in der Projektliste, es ist aber
        eventuell noch in der Verarbeitung.
      </span>
    </div>
    } }
  </div>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-flat-button
    [disabled]="!readyToUpload"
    (click)="onDownloadVideosLocally()"
    color="accent"
  >
    Aufnahmen lokal runterladen
  </button>

  @if (!uploading) {

  <button color="warn" mat-flat-button (click)="onClose()">
    Verwerfen und schließen
  </button>

  <button
    color="primary"
    mat-flat-button
    [disabled]="!readyToUpload"
    (click)="onUploadRecording()"
  >
    Hochladen und Projekt erstellen
  </button>

  }@else {

  <button
    color="primary"
    mat-flat-button
    [disabled]="!uploadingDone"
    (click)="onClose()"
  >
    Ein weiteres Video aufnehmen
  </button>

  }
</mat-dialog-actions>
