<div mat-dialog-title>
  <div class="dialog-header">
    <h1>
      <span i18n="@@uploadRecordingTitle">Project creation</span>
      {{ data.title }}
    </h1>
  </div>
</div>

<mat-dialog-content class="mat-dialog-content">
  <div class="inputs">
    <p i18n="@@uploadRecordingLanguageFormIntroduction">
      Please select the main language of the recording.
    </p>
    <form [formGroup]="formGroup">
      <mat-form-field class="language-form-field">
        <mat-label i18n="@@uploadRecordingLanguageLabel">Language</mat-label>
        <mat-select formControlName="language" required>
          @for (lang of languages; track lang ) {
          <mat-option [value]="lang.code">
            {{ lang.name }}
          </mat-option>
          }
        </mat-select>
        <mat-error i18n="@@uploadRecordingLanguageError">
          Language is required
        </mat-error>
      </mat-form-field>
    </form>
  </div>

  <div>
    @if (readyToUpload) {

    <ul class="actions-list">
      @for (uploadHandler of uploadHandlers; track uploadHandler.file.name) {
      <li class="action-item">
        <div class="progressbar-wrapper">
          <app-upload-progress
            [progress$]="uploadHandler.progress$"
            [title]="uploadHandler.file.name"
            [fileSize]="uploadHandler.file.size"
          >
            <button
              mat-icon-button
              class="upload-outline-button"
              (click)="onDownloadVideoLocally(uploadHandler.file)"
              [attr.aria-label]="'Download ' + uploadHandler.file.name"
            >
              <mat-icon svgIcon="download" />
            </button>
          </app-upload-progress>
        </div>
      </li>
      }
    </ul>
    } @else {
    <div class="spinner-wrapper">
      <mat-spinner diameter="50" />
    </div>
    }
  </div>

  <div>
    <div class="infotext">
      <mat-icon svgIcon="info" />
      @if (!uploading) { @if (readyToUpload) {
      <p i18n="@@uploadRecordingReadyToUploadHint">
        All files are ready. You can now upload the project or download the
        files locally.
      </p>
      }@else{
      <p i18n="@@uploadRecordingFilesProcessingHint">
        The files are being processed, please wait until all files are ready.
      </p>
      } } @else { @if (!this.uploadingDone) {

      <p i18n="@@uploadRecordingWaitingForUploadHint">
        Please wait until all files have been uploaded.
      </p>

      }@else{ @if (uploadingError) { @if (data.recordings[0].upload.error) {

      <p i18n="@@uploadRecordingDownloadLocallyHint">
        Download the videos manually and try to create the projects with the
        files manually.
      </p>

      }@else {

      <p i18n="@@uploadRecordingAdditionalVideoFailedHint">
        The project and the main file could be uploaded and created! However, a
        problem has occurred with an additional video. Check in the project
        details which video could not be uploaded and upload it manually if
        necessary.
      </p>

      } } @else {

      <p i18n="@@uploadRecordingAllSuccessfulHint">
        The project has been successfully created, you can now close this
        dialog! You will find the project in the project list, but it may still
        be being processed.
      </p>

      } } }
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  @if (!uploadingDone) {
  <button
    mat-stroked-button
    (click)="onClose()"
    class="discard-button mat-warn"
  >
    @if (!uploading ) {
    <span i18n="@@uploadRecordingDiscardButton"> Discard and close </span>
    } @else {
    <span i18n="@@uploadRecordingCancelButton"> Cancel and close </span>
    }
  </button>
  } @if (!uploading) {
  <button
    mat-flat-button
    [disabled]="!readyToUpload"
    (click)="onUploadRecording()"
    i18n="@@uploadRecordingUploadButton"
  >
    Upload and create project
  </button>

  }@else {

  <button
    mat-flat-button
    [disabled]="!uploadingDone"
    (click)="onClose(true)"
    i18n="@@uploadRecordingToProjectlistButton"
  >
    To Projectlist
  </button>

  <button
    mat-flat-button
    [disabled]="!uploadingDone"
    (click)="onClose()"
    i18n="@@uploadRecordingRecordAnotherVideoButton"
  >
    Record another video
  </button>

  }
</mat-dialog-actions>
