// Delete when the feedback link gets removed
.feedback-link {
  flex-shrink: 0;
}

.viewer-header-buttons {
  margin-left: auto;
  display: flex;
  gap: 0.625rem;
  margin-right: 0.625rem;

  > * {
    height: 100%;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.875rem;
}

.login-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  padding: 1rem;

  .error-message {
    margin-bottom: 1rem;
    max-width: 21.875rem;
  }

  .error-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
  }
}

.overlay-hidden {
  cursor: none !important;
}

.content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  &.fullscreen-active {
    height: 100%;
  }

  :fullscreen {
    height: 100%;
  }

  .default-main-content {
    display: flex;
    height: fit-content;
    justify-content: center;

    height: 100%;

    .player {
      width: 70%;
      height: 100%;
      position: relative;

      &.transcript-visible {
        width: 70%;
      }

      &.transcript-hidden {
        width: 100%;
      }

      .title-wrapper {
        position: absolute;
        z-index: 10;
        width: 100%;
        background: var(--color-white);
        color: var(--color-text);
        top: 0;

        display: flex;
        gap: 0.3125rem;
        justify-content: space-between;
        align-items: center;

        padding-inline: 1rem;
        box-sizing: border-box;
      }

      .controls-wrapper {
        position: absolute;
        z-index: 10;
        width: 100%;
        background: var(--color-white);
        bottom: 0;
      }
    }

    .transcript {
      position: relative;

      width: 30%;
      min-width: 18.75rem;

      max-height: 100%;
      color: var(--color-text);

      &.left {
        border-right: 1px solid var(--color-border-grey);
      }
      &.right {
        border-left: 1px solid var(--color-border-grey);
      }
    }
  }

  overflow-y: auto;
}

::ng-deep .box {
  padding: 0.5rem;

  background-color: var(--color-white);
  box-shadow: none;

  &:has(video) {
    padding: 0px;
  }
}

@media (max-width: 45rem) {
  .content {
    .default-main-content {
      justify-content: initial;

      display: grid;
      grid-template-rows: 50% 50%;

      .player {
        width: 100%;
        height: 100%;

        position: relative;

        &.transcript-visible {
          width: 100%;
        }

        &.transcript-hidden {
          width: 100%;
        }
      }

      .transcript {
        width: 100%;
        min-height: 50%;

        &.left {
          border-right: none;
        }
        &.right {
          border-left: none;
        }
      }

      .title-wrapper {
        display: flex;
        align-items: center;

        h1 {
          font-size: 1.125rem;
          line-height: 120%;
        }

        h1,
        app-logo {
          margin: 0.125rem 1rem !important;
        }
      }
    }

    .default-main-content:has(.player.transcript-hidden) {
      grid-template-rows: 1fr;
    }
  }
}
