<ng-container *ngrxLet="selectLoading$ as selectLoading">
  <ng-container *ngrxLet="viewerError$ as viewerError">
    @if (selectLoading) {

    <section class="loading">
      <mat-spinner></mat-spinner>
    </section>

    }@else if (viewerError) {
    <section class="login-error">
      <h2 i18n="@@viewerErrorTitle">Error while loading the project</h2>
      <p class="error-message" i18n="@@viewerErrorDescription">
        The project is no longer available under this link. The access link may
        have been changed or the project may no longer exist.
      </p>

      <div class="error-buttons">
        <!-- TODO -->
        <!-- <button mat-stroked-button>zum Login??</button>
        <button mat-stroked-button>
          zur Projektliste ? (anzeigen wenn eingeloggt?)
        </button>

        <button mat-stroked-button>Try Again??</button> -->
      </div>
    </section>
    }@else {

    <section
      class="content {{
        overlayService.showOverlay ? 'overlay-visible' : 'overlay-hidden'
      }} {{ isFullscreenActive() ? 'fullscreen-active' : '' }}"
      *ngrxLet="project$ as project"
    >
      <ng-container *ngrxLet="media$ as media">
        @if (project && media) {

        <ng-container *ngrxLet="transcriptPosition$ as transcriptPosition">
          <div class="default-main-content">
            @if ( transcriptPosition === 'left' ) {
            <div class="transcript left">
              <app-transcript></app-transcript>
            </div>
            }
            <div
              class="player {{
                transcriptPosition === 'off'
                  ? 'transcript-hidden'
                  : 'transcript-visible'
              }} "
            >
              <div
                #titleoverlay
                class="title-wrapper overlay"
                [@fade]="overlayService.showOverlay ? 'show' : 'hide'"
              >
                <h1 class="break-long-text">
                  {{ project?.title }}
                </h1>
                @if (feedbackLink) {
                <a
                  class="feedback-link"
                  href=""
                  mat-flat-button
                  i18n="@@viewerFeedbackLinkLabel"
                >
                  Provide Feedback ❤️
                </a>
                } @else {
                <app-logo
                  class="clickable"
                  [routerLink]="['']"
                  aria-label="Melvin Logo, to main webpage"
                  i18n-aria-label="@@viewerLogoAriaLabel"
                />
                }
              </div>
              <app-player [project]="project!" [media]="media!"></app-player>

              <div
                #controlsoverlay
                class="controls-wrapper overlay"
                [@fade]="overlayService.showOverlay ? 'show' : 'hide'"
              >
                <app-controls [media]="media!"> </app-controls>
              </div>
            </div>
            @if ( transcriptPosition === 'right' ) {
            <div class="transcript right">
              <app-transcript></app-transcript>
            </div>
            }
          </div>
        </ng-container>
        }
      </ng-container>
    </section>
    }
  </ng-container>
</ng-container>
