@if (!isFullscreenActive()) {
<app-header [viewer]="true">
  <span class="project-title" #projectTitle *ngrxLet="project$ as project">
    {{ project?.title }}
  </span>
  <div class="viewer-header-buttons">
    <button mat-stroked-button i18n="@@viewerHeaderHelpLabel">Help</button>
    <button
      mat-stroked-button
      (click)="onOpenAdjustLayoutDialog()"
      i18n="@@viewerHeaderHeaderAdjustLayout"
    >
      Adjust Layout
    </button>
    <!-- //TODO -->
    <!-- <div class="dark-mode-wrapper" *ngrxLet="darkMode$ as darkMode">
      <mat-icon svgIcon="light_mode" class="svg-black"></mat-icon>
      <mat-slide-toggle
        [checked]="darkMode"
        (toggleChange)="onToggleChange()"
      ></mat-slide-toggle>
      <mat-icon svgIcon="dark_mode" class="svg-black"></mat-icon>
    </div> -->
  </div>
</app-header>
}

<ng-container *ngrxLet="selectLoading$ as selectLoading">
  <ng-container *ngrxLet="viewerError$ as viewerError">
    @if (selectLoading) {

    <section class="loading">
      <mat-spinner color="accent"></mat-spinner>
    </section>

    }@else if (viewerError) {
    <section class="login-error">
      <h2>Fehler</h2>
      <p class="error-message">
        Das Projekt ist nicht mehr unter diesem Link verfügbar. Möglicherweise
        wurde der Zugriffslink geändert oder das Projekt existiert nicht mehr.
      </p>

      <div class="error-buttons">
        <button mat-stroked-button>zum Login??</button>
        <button mat-stroked-button>
          zur Projektliste ? (anzeigen wenn eingeloggt?)
        </button>

        <button mat-stroked-button>Try Again??</button>
      </div>
    </section>
    }@else {

    <section
      class="content {{ isFullscreenActive() ? 'fullscreen-active' : '' }}"
      *ngrxLet="project$ as project"
    >
      <ng-container *ngrxLet="media$ as media">
        @if (project && media) {
        <ng-container *ngrxLet="layoutSettings$ as layout">
          <div class="default-main-content horizontal">
            @if ( layout.transcriptEnabled && layout.transcriptPosition ===
            'left' ) {
            <div class="transcript">
              <app-transcript></app-transcript>
            </div>
            }
            <div
              class="player {{
                layout.transcriptEnabled
                  ? 'transcript-enabled'
                  : 'transcript-hidden'
              }}"
            >
              <app-player [project]="project!" [media]="media!"></app-player>
            </div>
            @if ( layout.transcriptEnabled && layout.transcriptPosition ===
            'right' ) {
            <div class="transcript">
              <app-transcript></app-transcript>
            </div>
            }
            <!-- <app-transcript
        *ngIf="
        layout.transcriptEnabled && layout.transcriptPosition === 'bottom'
        "
      ></app-transcript> -->
          </div>
          @if (!isFullscreenActive()) {
          <app-infobox [project]="project!"></app-infobox>
          }
        </ng-container>
        }
      </ng-container>
    </section>
    }
  </ng-container>
</ng-container>
