<div mat-dialog-title>
  <div class="dialog-header">
    <h1 i18n="@@viewerHeloDialogTitle">Help</h1>
    <button
      mat-icon-button
      mat-dialog-close
      cdkFocusInitial
      aria-label="Close"
      i18n-aria-label="@@viewerHelpDialogCloseButton"
    >
      <mat-icon svgIcon="close"></mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content>
  <div class="info-text">
    Diese Anwendung befindet sich in der Entwicklung. Es können also unerwartete
    Fehler auftreten. Mehr Informationen findest du auf der Webseite des
    <a href="https://shuffle-projekt.de/">Forschungsprojekts SHUFFLE</a>
    <br />br Bei Feedback oder Fragen findest du dort auch eine
    Kontaktmöglichkeit.
  </div>
</div>
