<div mat-dialog-title>
  <div class="dialog-header">
    <h1 i18n="@@viewerHeloDialogTitle">Help</h1>
    <button
      mat-icon-button
      mat-dialog-close
      cdkFocusInitial
      aria-label="Close"
      i18n-aria-label="@@viewerHelpDialogCloseButton"
    >
      <mat-icon svgIcon="close"></mat-icon>
    </button>
  </div>
</div>

<mat-dialog-content>
  <p i18n="@@helpDialogExplanation">
    This application is currently under development. Unexpected errors may
    therefore occur. You can find more information on the
    <a href="https://shuffle-projekt.de/">SHUFFLE research project website</a>.
    If you have any feedback or questions, you will also find a contact option
    there.
  </p>
</mat-dialog-content>
