table {
  width: 100%;

  tr {
    th {
      width: 25%;
      text-align: end;
      vertical-align: top;

      &.member-table-header {
        vertical-align: middle;
      }
    }

    td {
      width: 75%;
      padding-left: 30px;
    }
  }
}

.mat-chip {
  color: var(--color-black);
  background: linear-gradient(
    90deg,
    var(--color-gradient-a) 0%,
    var(--color-gradient-b) 100%
  );
  --color-gradient-a: rgba(var(--color-grey-rgb), 0.3);
  --color-gradient-b: rgba(var(--color-light-grey-rgb), 0.35);

  &.user-exists {
    --color-gradient-a: var(--color-light-yellow);
    --color-gradient-b: var(--color-gold);
  }

  .chip-icons {
    font-size: 18px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    margin-right: 4px;
  }
}

.mat-divider {
  margin: 10px 0;
}

.files {
  display: flex;
  flex-direction: row;

  .file {
    .file-content {
      display: flex;

      .file-name {
        margin: 0;
      }

      .mat-icon {
        margin-right: 10px;
      }
    }
  }
}

.tables-wrapper {
  .mat-divider {
    margin-bottom: 20px;
  }

  table {
    margin-bottom: 5px;
  }
}
