.mat-mdc-snack-bar-container.info .mat-mdc-snack-bar-action:not(:disabled) {
  color: var(--color-primary) !important;
}

.mat-mdc-snack-bar-container.success .mat-mdc-snack-bar-action:not(:disabled) {
  color: var(--color-green) !important;
}
.mat-mdc-snack-bar-container.error .mat-mdc-snack-bar-action:not(:disabled) {
  color: var(--color-warn) !important;
}
