mat-slider.black {
  --mdc-slider-handle-color: var(--color-black);
  --mdc-slider-focus-handle-color: var(--color-black);
  --mdc-slider-hover-handle-color: var(--color-black);
  --mdc-slider-active-track-color: var(--color-black);
  --mdc-slider-inactive-track-color: var(--color-black);
  // --mdc-slider-inactive-track-color: rgba(var(--color-black-rgb), 1);
  --mdc-slider-label-container-color: var(--color-black);

  // --mat-mdc-slider-value-indicator-opacity: 1;
  // --mdc-slider-label-label-text-color: red;

  --mat-mdc-slider-ripple-color: #808080;
  --mat-mdc-slider-hover-ripple-color: #80808080;
  --mat-mdc-slider-focus-ripple-color: #80808080;

  // --mdc-slider-inactive-track-height: 12px;
  // --mdc-slider-handle-height: 25px;
  // --mdc-slider-handle-width: 40px;
  // --mdc-slider-inactive-track-shape: 20px;

  // --mdc-slider-disabled-handle-color: rgb(240, 135, 153);
  // --mdc-slider-disabled-active-track-color: orange;
  // --mdc-slider-disabled-inactive-track-color: brown;
  // --mdc-slider-with-tick-marks-disabled-container-color: green;
  // --mdc-slider-with-tick-marks-active-container-color: #000;
  // --mdc-slider-with-tick-marks-inactive-container-color: var(
  //   --color-primary-500
  // );
  // --mat-mdc-slider-value-indicator-opacity: 0.6;

  .mdc-slider__value-indicator {
    opacity: 1 !important;
    .mdc-slider__value-indicator-text {
      color: var(--color-white) !important;
    }
  }
}

// old

// Use these to style a slider
// --mdc-slider-handle-color: black;
// --mdc-slider-focus-handle-color: black;
// --mdc-slider-active-track-color: black;
// --mdc-slider-inactive-track-color: black;
// --mdc-slider-inactive-track-height: 12px;
// --mdc-slider-handle-height: 25px;
// --mdc-slider-handle-width: 40px;
// --mdc-slider-inactive-track-shape: 20px;

// mat-slider.volume {
//   min-width: 60px;
//   max-width: 130px;
// }

// /* Change style of active track */
// .mat-primary .mdc-slider__track--active_fill {
//   background-color: var(--color-black);
//   border: 0px solid #ffffff !important; /* Removes border from active track */
//   border-radius: 3px;
// }

// /* Change style of inactive track */
// .mat-primary .mdc-slider__track--inactive {
//   background-color: var(--color-dark-grey) !important;
//   border-radius: 3px;
// }

// /* Change style of progress bar */
// // .mat-primary .mdc-slider__track--active_fill,
// // .mat-primary .mdc-slider__track--inactive,
// // .mat-primary .mdc-slider__track--active,
// // .mat-primary .mdc-slider__track {
// // height: 60px !important;
// // }

// /* Change style of thumb */
// .mat-primary .mdc-slider__thumb {
//   height: 24px;
//   width: 24px;
//   border-radius: 50%;
//   // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px rgba(0, 0, 0, 0.12),
//   //   0 1px 5px rgba(0, 0, 0, 0.2);
// }

// /* Change style of thumb when active */
// // .mat-primary .mdc-slider__thumb--with-indicator:after {
// //   background-color: #f44336; /* Change color of thumb indicator */
// // }

// /* Change style of numerical value */
// // .mat-primary .mdc-slider__value-indicator {
// //   background-color: #dadd0c;
// //   color: #ffffff;
// //   height: 24px;
// //   width: 24px;
// //   border-radius: 50%;
// //   font-size: 14px;
// //   font-weight: 500;
// //   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px rgba(0, 0, 0, 0.12),
// //     0 1px 5px rgba(0, 0, 0, 0.2);
// // }

// /* Hide numerical value when thumb is active */
// .mat-primary
//   .mdc-slider__thumb--with-indicator.mdc-slider__thumb--focused
//   .mdc-slider__value-indicator {
//   opacity: 0;
// }

// /* Change style of thumb knob */
// .mat-primary .mdc-slider__thumb-knob {
//   // background-color: var(--color-black);
//   border-color: var(--color-black) !important;
//   height: 16px;
//   width: 16px;
//   border-radius: 50%;
//   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px rgba(0, 0, 0, 0.12),
//     0 1px 5px rgba(0, 0, 0, 0.2);
// }

// /* Change style of focus indicator */
// // .mat-primary .mdc-slider__thumb--with-indicator .mdc-slider__thumb-knob:focus {
// //   outline: none;
// // }

// /* Change style of focus ripple */
// // .mat-primary .mat-mdc-focus-indicator {
// //   border-radius: 50%;
// //   background-color: rgba(244, 67, 54, 0.26);
// // }
