/** TODO(bene) */
/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
mat-slider.video-progress {
  padding: 0;
  height: 24px;
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  .mat-slider-track-fill,
  .mat-slider-wrapper,
  .mat-slider-track-wrapper,
  .mat-slider-track-background {
    height: 4px !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  .mat-slider-track-background,
  .mat-slider-track-fill {
    transition: none !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  .mat-slider-track-background {
    background-color: var(--color-dark-grey) !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  .mat-slider-wrapper {
    left: 0;
    right: 0;
    top: calc(50% - 2px);
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  .mat-slider-thumb {
    width: 12px;
    height: 12px;
    right: -6px;
    bottom: -6px;
    display: none;
    transform: none !important;
  }

  &:hover,
  &:focus {
    /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
    .mat-slider-thumb {
      display: block;
    }
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  &.mat-slider-min-value {
    /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
    .mat-slider-track-background {
      transform: none !important;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
    .mat-slider-thumb {
      background-color: var(--color-primary) !important;
    }
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
mat-slider.volume {
  min-width: 80px;
  height: 32px;
  padding: 0 !important;
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  .mat-slider-wrapper {
    top: 15px !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  .mat-slider-track-background {
    background-color: var(--color-dark-grey) !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  .mat-slider-track-fill {
    background-color: var(--color-black) !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  .mat-slider-thumb {
    background-color: var(--color-black) !important;
    transition: none !important;
    transform: scale(0.7) !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  .mat-slider-focus-ring {
    display: none !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
  &.mat-slider-min-value {
    /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
    .mat-slider-thumb {
      background-color: var(--color-dark-grey) !important;
    }
  }
}
