.mat-step-header .mat-step-icon {
  background-color: var(--color-light-grey);

  :first-child {
    color: var(--color-black);
  }
}

.mat-step-header .mat-step-icon-selected {
  background-color: var(--color-primary);
  :first-child {
    color: var(--color-white);
  }
}
