.chip {
  background-color: var(--color-light-grey);
  padding: 2px 8px;
  border-radius: 10px;
  white-space: nowrap;
  color: var(--color-black);

  background: linear-gradient(
    90deg,
    var(--color-gradient-a) 0%,
    var(--color-gradient-b) 100%
  );

  &.finished {
    --color-gradient-a: rgba(var(--color-grey-rgb), 0.3);
    --color-gradient-b: rgba(var(--color-light-grey-rgb), 0.3);
  }

  &.draft {
    --color-gradient-a: var(--color-light-blue);
    --color-gradient-b: var(--color-sky-blue);
  }

  &.live {
    --color-gradient-a: var(--color-orange);
    --color-gradient-b: var(--color-yellow);
  }

  &.waiting,
  &.processing {
    --color-gradient-a: rgba(var(--color-grey-rgb), 0.7);
    --color-gradient-b: rgba(var(--color-light-grey-rgb), 0.7);
  }

  &.error {
    --color-gradient-a: var(--color-light-red);
    --color-gradient-b: var(--color-orange);
  }
}
