.mdc-dialog__title::before {
  display: none !important;
}

body.dark-theme {
  .mat-mdc-dialog-container {
    .mat-mdc-dialog-surface {
      background-color: var(--color-light-grey);
      border: 1px solid var(--color-border-grey);
    }
  }
}
