body.dark-theme {
  .mat-mdc-chip,
  .mat-mdc-menu-item {
    &.finished,
    &.draft {
      background-color: var(--color-grey);
    }

    &.processing,
    &.waiting {
      * {
        color: var(--color-white);
      }
    }
  }
}

body {
  .mat-mdc-chip,
  .mat-mdc-menu-item {
    * {
      color: var(--color-text);
    }

    &.finished,
    &.draft {
      background-color: var(--color-background-grey);
    }

    &.live {
      background-color: var(--color-primary);
      * {
        color: var(--color-white);
      }
    }

    &.processing,
    &.waiting {
      background-color: var(--color-light-yellow);
    }

    &.error {
      background-color: var(--color-warn);
      * {
        color: var(--color-white);
      }
    }

    .status-icon {
      &.processing {
        animation: 4s linear infinite settings-spinner;
      }

      &.live {
        animation: 3s ease-in-out infinite live-record;
      }
    }
  }
}

@keyframes live-record {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes settings-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
