// todo check if this issue still persists
// https://github.com/angular/components/issues/26056
// https://github.com/angular/components/issues/26179
// register button is now white on white
.mdc-button--unelevated *,
.mdc-button--raised * {
  color: white !important;
}

.mat-mdc-icon-button.lg {
  --height: 50px;
  line-height: var(--height);
  width: var(--height);
  height: var(--height);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  .mat-mdc-button-touch-target {
    width: var(--height);
    height: var(--height);
  }

  mat-icon {
    --height: 40px;
    font-size: var(--height);
    height: var(--height);
    width: var(--height);
    line-height: var(--height);

    svg {
      height: var(--height);
      width: var(--height);
    }
  }
}

.mat-mdc-icon-button.sm {
  --height: 24px;
  line-height: var(--height);
  width: var(--height);
  height: var(--height);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  .mat-mdc-button-touch-target {
    width: var(--height);
    height: var(--height);
  }

  mat-icon {
    --height: 18px;
    // transform: translateY(-1px);
    font-size: var(--height);
    height: var(--height);
    width: var(--height);
    line-height: var(--height);

    svg {
      height: var(--height);
      width: var(--height);
    }
  }
}

.mat-mdc-icon-button.md {
  --height: 32px;
  line-height: var(--height);
  width: var(--height);
  height: var(--height);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  .mat-mdc-button-touch-target {
    width: var(--height);
    height: var(--height);
  }

  mat-icon {
    --height: 24px;
    font-size: var(--height);
    height: var(--height);
    width: var(--height);
    line-height: var(--height);

    svg {
      height: var(--height);
      width: var(--height);
    }
  }
}

button.compact {
  line-height: 32px !important;
}
