mat-form-field {
  --mat-form-field-error-text-color: var(--color-warn-500);
  --mdc-outlined-text-field-error-caret-color: var(--color-warn-500);
  --mdc-outlined-text-field-error-focus-label-text-color: var(--color-warn-500);
  --mdc-outlined-text-field-error-label-text-color: var(--color-warn-500);
  --mdc-outlined-text-field-error-focus-outline-color: var(--color-warn-500);
  --mdc-outlined-text-field-error-hover-outline-color: var(--color-warn-500);
  --mdc-outlined-text-field-error-outline-color: var(--color-warn-500);
}

// --mdc-filled-text-field-caret-color: #3f51b5;
// --mdc-filled-text-field-focus-active-indicator-color: #3f51b5;
// --mdc-filled-text-field-focus-label-text-color: rgba(63, 81, 181, .87);
// --mdc-filled-text-field-container-color: whitesmoke;
// --mdc-filled-text-field-disabled-container-color: #fafafa;
// --mdc-filled-text-field-label-text-color: rgba(0, 0, 0, .6);
// --mdc-filled-text-field-disabled-label-text-color: rgba(0, 0, 0, .38);
// --mdc-filled-text-field-input-text-color: rgba(0, 0, 0, .87);
// --mdc-filled-text-field-disabled-input-text-color: rgba(0, 0, 0, .38);
// --mdc-filled-text-field-input-text-placeholder-color: rgba(0, 0, 0, .6);
// --mdc-filled-text-field-error-focus-label-text-color: #f44336;
// --mdc-filled-text-field-error-label-text-color: #f44336;
// --mdc-filled-text-field-error-caret-color: #f44336;
// --mdc-filled-text-field-active-indicator-color: rgba(0, 0, 0, .42);
// --mdc-filled-text-field-disabled-active-indicator-color: rgba(0, 0, 0, .06);
// --mdc-filled-text-field-hover-active-indicator-color: rgba(0, 0, 0, .87);
// --mdc-filled-text-field-error-active-indicator-color: #f44336;
// --mdc-filled-text-field-error-focus-active-indicator-color: #f44336;
// --mdc-filled-text-field-error-hover-active-indicator-color: #f44336;
// --mdc-outlined-text-field-caret-color: #3f51b5;
// --mdc-outlined-text-field-focus-outline-color: #3f51b5;
// --mdc-outlined-text-field-focus-label-text-color: rgba(63, 81, 181, .87);
// --mdc-outlined-text-field-label-text-color: rgba(0, 0, 0, .6);
// --mdc-outlined-text-field-disabled-label-text-color: rgba(0, 0, 0, .38);
// --mdc-outlined-text-field-input-text-color: rgba(0, 0, 0, .87);
// --mdc-outlined-text-field-disabled-input-text-color: rgba(0, 0, 0, .38);
// --mdc-outlined-text-field-input-text-placeholder-color: rgba(0, 0, 0, .6);
// --mdc-outlined-text-field-error-caret-color: #f44336;
// --mdc-outlined-text-field-error-focus-label-text-color: #f44336;
// --mdc-outlined-text-field-error-label-text-color: #f44336;
// --mdc-outlined-text-field-outline-color: rgba(0, 0, 0, .38);
// --mdc-outlined-text-field-disabled-outline-color: rgba(0, 0, 0, .06);
// --mdc-outlined-text-field-hover-outline-color: rgba(0, 0, 0, .87);
// --mdc-outlined-text-field-error-focus-outline-color: #f44336;
// --mdc-outlined-text-field-error-hover-outline-color: #f44336;
// --mdc-outlined-text-field-error-outline-color: #f44336;
// --mat-form-field-focus-select-arrow-color: rgba(63, 81, 181, .87);
// --mat-form-field-disabled-input-text-placeholder-color: rgba(0, 0, 0, .38);
// --mat-form-field-state-layer-color: rgba(0, 0, 0, .87);
// --mat-form-field-error-text-color: #f44336;
// --mat-form-field-select-option-text-color: inherit;
// --mat-form-field-select-disabled-option-text-color: GrayText;
// --mat-form-field-enabled-select-arrow-color: rgba(0, 0, 0, .54);
// --mat-form-field-disabled-select-arrow-color: rgba(0, 0, 0, .38);
// --mat-form-field-hover-state-layer-opacity: .04;
// --mat-form-field-focus-state-layer-opacity: .12;

// --mat-form-field-container-text-font: Roboto, sans-serif;
// --mat-form-field-container-text-line-height: 24px;
// --mat-form-field-container-text-size: 16px;
// --mat-form-field-container-text-tracking: .03125em;
// --mat-form-field-container-text-weight: 400;
// --mat-form-field-outlined-label-text-populated-size: 16px;
// --mat-form-field-subscript-text-font: Roboto, sans-serif;
// --mat-form-field-subscript-text-line-height: 20px;
// --mat-form-field-subscript-text-size: 12px;
// --mat-form-field-subscript-text-tracking: .0333333333em;
// --mat-form-field-subscript-text-weight: 400;
