@use '@angular/material' as mat;
@use './custom_theme.scss' as custom_theme;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: custom_theme.$primary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
