@use '@angular/material' as mat;
@use './custom_theme.scss' as custom_theme;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: custom_theme.$primary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

:root {
  @include mat.slider-overrides(
    (
      value-indicator-width: 3.25rem,
      value-indicator-height: 3.25rem,
    )
  );
}
