@use '@angular/material' as mat;
@use './palettes.scss' as palettes;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: palettes.$primary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

.viewer-control-menu-dm {
  @include mat.theme(
    (
      color: palettes.$tertiary-palette,
    )
  );
}

:root {
  @include mat.slider-overrides(
    (
      value-indicator-width: fit-content,
      value-indicator-height: 1rem,
      value-indicator-text-transform: none,
      value-indicator-container-transform: translateX(-50%),
      value-indicator-border-radius: 0.25rem,
      value-indicator-padding: 0.25rem 0.375rem,
    )
  );
}
