<div class="mat-tab-content">
  @if(authUser$ | ngrxPush; as authUser) { @if (authUser?.id ===
  project.createdBy.id) {
  <form #addMemberForm class="add-member-form">
    <mat-form-field>
      <mat-label i18n="@@inviteCollaboratorAddUserInputLabel"
        >Collaborator email</mat-label
      >
      <input
        type="email"
        matInput
        [matAutocomplete]="auto"
        [formControl]="userControl"
      />
      <mat-hint i18n="@@inviteCollaboratorAddUserInputHint"
        >Addresses that are not linked to an account will be invited to the
        project via email.
      </mat-hint>
      @if (userControl.touched && userControl.dirty) { @if
      (userControl.hasError('required')) {
      <mat-error i18n="@@inviteCollaboratorInputErrorEmailRequired"
        >Email is required</mat-error
      >
      } @if(userControl.hasError('email')) {
      <mat-error i18n="@@inviteCollaboratorInputErrorEmailInvalid"
        >Email is invalid</mat-error
      >
      } @if(userControl.hasError('duplication')) {
      <mat-error i18n="@@inviteCollaboratorInputErrorUserDuplication"
        >User already added</mat-error
      >
      } }
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onAddMemberThroughSelect($event)"
      >
        @for (autoCompleteUser of autoCompleteUsers; track autoCompleteUser) {
        <mat-option [value]="autoCompleteUser">
          <span class="user-name">{{ autoCompleteUser.name }}</span>
          <br />
          <span class="user-email">{{ autoCompleteUser.email }}</span>
        </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="inviteMember()">
      Invite
    </button>
  </form>
  }
  <h2 i18n="@@inviteCollaboratorHeadingAllUsers">People with access</h2>

  <ul
    i18n-aria-label="@@inviteCollaboratorAllUserList"
    aria-label="People with access"
    class="access-list"
  >
    @for (user of project.users; track user) {
    <li class="collaborator">
      <div class="info">
        <app-avatar [user]="user" />
        <div class="name-email">
          <span
            >{{ user.name }}
            @if (authUser?.id === user.id) {
            <span i18n="@@inviteCollaboratorYouIndicator">(You)</span>
            }
          </span>
          <span> {{ user.email }}</span>
        </div>
      </div>
      <div class="part-in-project">
        @if (user.id === project.createdBy.id) {
        <span i18n="@@inviteCollaboratorOwnerInfo">Project Owner</span>
        } @else if (authUser?.id === project.createdBy.id) {
        <button
          mat-stroked-button
          i18n="@@inviteCollaboratorRemoveButton"
          (click)="removeUserFromProject(user)"
        >
          Remove
        </button>
        }
      </div>
    </li>
    }
  </ul>

  <div class="general-access">
    <h2 i18n="@@inviteCollaboratorHeadingGeneralAccess">General Access</h2>
    <div class="flex flex-col">
      <p i18n="@@inviteCollaboratorInviteLinkWarningText">
        Any person who has this link can join the project registered or
        anonymously.
      </p>
      <div class="general-access-buttons">
        <button
          (click)="onClickCopyLink(inviteLink)"
          i18n="@@inviteCollaboratorShareLinkButton"
          class="copy-button"
          mat-flat-button
        >
          <mat-icon svgIcon="public" />
          Copy link
        </button>

        @if (authUser?.id === project.createdBy.id) {
        <button
          (click)="onClickUpdateInvite()"
          i18n="@@inviteCollaboratorGenerateNewLinkButton"
          class="generate-button"
          mat-stroked-button
        >
          <mat-icon svgIcon="change" />
          Generate new link, revoke old one
        </button>
        }
      </div>
    </div>
  </div>
  }
</div>
