<div class="help-dialog-wrapper">
  <h1 i18n="@@editorHelpDialogShortcutsTitle">Keyboard shortcuts</h1>
  <mat-table [dataSource]="shortcuts">
    <ng-container matColumnDef="key">
      <mat-header-cell
        *matHeaderCellDef
        i18n="@@editorHelpDialogKeyboardShortcutsTableHeader"
        >
        Key
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @for (key of element.key; track key; let i = $index) {
          <div class="key-wrapper">
            <div class="key">
              <span>{{ key }}</span>
            </div>
            @if (i < element.key.length - 1) {
              <span class="plus-symbol">+</span>
            }
          </div>
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="command">
      <mat-header-cell
        *matHeaderCellDef
        i18n="@@editorHelpDialogShortcutsCommandTableHeader"
        >
        Command
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.command }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
