<div
  class="{{
    size === 'small'
      ? 'inner-secondary-video-container'
      : 'inner-main-video-container'
  }}"
>
  <video
    #viewerVideo
    title="{{ video.title }}"
    class="{{ size === 'small' ? 'secondary-video' : 'main-video' }}"
    tabindex="{{ size === 'big' ? 0 : -1 }}"
    [muted]="true"
    [playbackRate]="currentSpeed$ | ngrxPush"
    (loadedmetadata)="onVideoLoadMetadata($event)"
    (click)="onClickVideo()"
    (dblclick)="onDblClickVideo()"
    (keydown)="onKeyDownVideo($event)"
  >
    <source src="{{ video.resolutions[0].url }}" type="video/mp4" />
  </video>
  @if (size === 'small') {
  <div class="video-overlay">
    <div class="title">
      <!-- @if (video.category === 'sign_language') {
      <mat-icon svgIcon="sign_language"></mat-icon>
      } -->
      {{ video.category | mediaCategory }}
    </div>
    <button
      class="switch-button"
      mat-stroked-button
      color="basic"
      (click)="onChangeMainVideo()"
      tabindex="0"
    >
      <span i18n="@@viewerVideoContainerToMainviewAriaHidden" aria-hidden="true"
        >Switch</span
      >
      <span i18n="@@viewerVideoContainerToMainviewScreenreader" class="sr-only"
        >Switch video '{{ video.category | mediaCategory }}' to main view</span
      >
    </button>
  </div>
  }
</div>
