<app-video-player-media-element #mediaElement>
  <!-- Captions -->
  <ng-container *ngIf="subtitlesEnabled$ | ngrxPush">
    <div class="video-caption" *ngrxLet="currentCaption$ as currentCaption">
      <span>{{ currentCaption?.text }}</span>
    </div>
  </ng-container>
</app-video-player-media-element>

<!-- Actions -->
<div class="controls" *ngrxLet="currentSpeed$ as currentSpeed">
  <!-- Video progress -->
  <!-- <div class="progress-bar" *ngIf="'timeNavigation' | featureEnabled">
    <mat-slider
      min="0"
      [max]="duration$ | ngrxPush"
      [value]="currentTime$ | ngrxPush"
      class="video-progress"
      color="primary"
      step="1"
      (input)="onChangeVideoProgress($event)"
    ></mat-slider>
  </div> -->

  <!-- Play/Pause -->
  <!-- <button
    *ngIf="'playPause' | featureEnabled"
    mat-icon-button
    (click)="onClickPlayPause()"
    i18n-matTooltip="@@videoStartStopTooltip"
    matTooltip="Start or stop video"
    i18n-aria-label="@@videoStartStopTooltip"
    aria-label="Start or stop video"
    [matTooltipShowDelay]="500"
  >
    <mat-icon [svgIcon]="(isPlaying$ | ngrxPush) ? 'pause' : 'play'"></mat-icon>
  </button> -->

  <!-- Volume -->
  <button
    mat-icon-button
    (click)="onClickToggleVolume()"
    i18n-matTooltip="@@videoMuteUnmuteSoundTooltip"
    matTooltip="Mute or unmute Sound"
    i18n-aria-label="@@videoMuteUnmuteSoundTooltip"
    aria-label="Mute or unmute Sound"
    [matTooltipShowDelay]="500"
  >
    <mat-icon
      [svgIcon]="(volume$ | ngrxPush) === 0 ? 'volume_off' : 'volume_on'"
    ></mat-icon>
  </button>
  <mat-slider
    min="0"
    max="1"
    step="0.05"
    [value]="volume$ | ngrxPush"
    class="volume"
    (input)="onChangeVolume($event)"
  ></mat-slider>

  <!-- Spacer -->
  <div class="flex-1"></div>

  <!-- Subtitles -->
  <button
    mat-icon-button
    (click)="onClickToggleSubtitles()"
    i18n-matTooltip="@@videoShowHideSubtitlesTooltip"
    matTooltip="Show or hide subtitles in video"
    i18n-aria-label="@@videoShowHideSubtitlesTooltip"
    aria-label="Show or hide subtitles in video"
    [matTooltipShowDelay]="500"
  >
    <mat-icon
      svgIcon="subtitles"
      [style.opacity]="(subtitlesEnabled$ | ngrxPush) ? 1 : 0.5"
    ></mat-icon>
  </button>

  <!-- Settings -->
  <button
    mat-icon-button
    [matMenuTriggerFor]="settingsMenu"
    i18n-aria-label="@@videoSettingsTooltip"
    aria-label="Video settings"
    i18n-matTooltip="@@videoSettingsTooltip"
    matTooltip="Video settings"
    [matTooltipShowDelay]="500"
  >
    <mat-icon svgIcon="setting"></mat-icon>
  </button>

  <!-- Picture-in-Picture -->
  <button
    *ngIf="showPictureInPictureButton"
    mat-icon-button
    (click)="onClickPictureInPicture()"
    i18n-matTooltip="@@videoPictureInPictureTooltip"
    matTooltip="Show video in seperate window"
    i18n-aria-label="@@videoPictureInPictureTooltip"
    aria-label="Show video in seperate window"
    [matTooltipShowDelay]="500"
  >
    <mat-icon svgIcon="picture_in_picture"></mat-icon>
  </button>

  <!-- Settings Menu -->
  <mat-menu #settingsMenu="matMenu" class="dense">
    <button
      *ngIf="'playbackSpeed' | featureEnabled"
      mat-menu-item
      [matMenuTriggerFor]="playbackSpeedMenu"
      i18n-aria-label="@@videoPlaybackSpeedAria"
      aria-label="Video playback speed"
    >
      <mat-icon svgIcon="speed"></mat-icon>
      <span i18n="@@videoPlaybackSpeedLabel">Playback speed</span>
    </button>
  </mat-menu>

  <!-- Playback Speed Menu -->
  <mat-menu #playbackSpeedMenu="matMenu" class="dense">
    <button
      *ngFor="let speed of speedOptions"
      mat-menu-item
      (click)="onClickSetPlaybackSpeed(speed)"
    >
      <mat-icon [svgIcon]="currentSpeed === speed ? 'done' : ''"></mat-icon>
      <span> {{ speed === 1 ? 'Standard' : speed }}</span>
    </button>
  </mat-menu>
</div>
