:host {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  border: 1px solid var(--color-border-grey);
  border-radius: 0.3125rem;
  overflow: hidden;
}

.video-caption {
  position: absolute;
  left: 0.625rem;
  right: 0.625rem;
  bottom: 0.625rem;
  text-align: center;
  transition: transform 0.2s;

  span {
    line-height: 1.4em;
    font-size: 1.2em;
    background: var(--color-black);
    color: var(--color-white);
  }
}

.controls {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;

  mat-slider {
    margin: 0 1.5rem;
  }
}
