<mat-form-field class="password-field">
  <mat-label i18n="@@adminUserPasswordNewPasswordLabel">New Password</mat-label>
  <input matInput [value]="password" readonly />
  <button
    mat-icon-button
    matSuffix
    (click)="onCopyPasswordToClipboard(password)"
    aria-label="Copy to clipboard"
    i18n-aria-label="@@adminUserPasswordCopyToClipboardAriaLabel"
  >
    <mat-icon svgIcon="copy"></mat-icon>
  </button>
</mat-form-field>

<h2 i18n="@@adminUserPasswordPreparedEmailTitle">Prepared Email</h2>
<div class="prepared-email-wrapper">
  <div class="actions-wrapper">
    <button
      mat-icon-button
      (click)="onSendEmail(password)"
      aria-label="Send email"
      i18n-aria-label="@@adminUserPasswordSendEmailAriaLabel"
    >
      <mat-icon svgIcon="email" />
    </button>
    <button
      mat-icon-button
      (click)="onCopyTextToClipboard(password)"
      aria-label="Copy email text"
      i18n-aria-label="@@adminUserPasswordCopyEmailTextAriaLabel"
    >
      <mat-icon svgIcon="copy" />
    </button>
  </div>

  <div class="email-content" lang="en">
    <p>Hello {{ username }},</p>
    <p>
      <span>
        your password has been reset by an administrator. Your new password is:
      </span>
      <br />
      {{ password }}
    </p>
    <p>
      <span>Please log in and change your password as soon as possible: </span>
      <a href="{{ frontendBaseURL }}">{{ frontendBaseURL }}</a>
    </p>

    <p>
      This is a system-generated email. For any questions please contact the
      administrator.
    </p>
  </div>
</div>
