.password-field {
  margin-top: 0.5rem;
}

.prepared-email-wrapper {
  background-color: var(--color-background-grey);
  border-radius: 1.25rem;
  position: relative;

  .actions-wrapper {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: end;
    padding: 0.25rem;

    position: absolute;
    inset: 0 0 auto auto;
  }

  .email-content {
    padding-inline: 1rem;
    padding-block: 1rem;
    color: rgba(var(--color-black-rgb), 0.8);
  }
}
