<mat-form-field class="password-field">
  <mat-label>New Password</mat-label>
  <input matInput [value]="password" readonly />
  <button
    mat-icon-button
    matSuffix
    (click)="onCopyPasswordToClipboard(password)"
    aria-label="Copy to clipboard"
  >
    <mat-icon svgIcon="copy"></mat-icon>
  </button>
</mat-form-field>

<h2>Prepared Email</h2>
<div class="prepared-email-wrapper">
  <div class="actions-wrapper">
    <button mat-icon-button (click)="onSendEmail(password)">
      <mat-icon svgIcon="email" />
    </button>
    <button mat-icon-button (click)="onCopyTextToClipboard(password)">
      <mat-icon svgIcon="copy" />
    </button>
  </div>

  <div class="email-content" lang="en">
    <p>Hello {{ username }},</p>
    <p>
      <span>
        Your password has been reset by an administrator. Your new password is:
      </span>
      <br />
      {{ password }}
    </p>
    <p>
      <span>Please log in and change your password as soon as possible: </span>
      <a href="{{ frontendBaseURL }}">{{ frontendBaseURL }}</a>
    </p>

    <p>Best regards,</p>
  </div>
</div>
