<div class="landing-subpage-wrapper">
  <h1>Datenschutzerklärung</h1>
  <p>Letzte Aktualisierung: 28.11.2024</p>

  <h2>Vorbemerkung</h2>
  <p>
    Melvin ist eine Open-Source Plattform zur Erstellung und Verbreitung
    barrierefreier Videos. Diese Instanz von Melvin wird von der Hochschule der
    Medien bereitgestellt. Die Verwendung der Plattform durch Nutzer dient
    lediglich zu Testzwecken. Die Verfügbarkeit der Plattform wird nicht
    gewährleistet.
  </p>

  <p>
    Der Plattformbetreiber behält sich vor, diesen Dienst jederzeit einzustellen
    oder die Nutzung einzelner Nutzer einzuschränken. Beispielsweise die
    Löschung von Inhalten und Benutzerkonten nach längerer Inaktivität oder die
    Limitierung der Anzahl eingestellter Inhalte bei übermäßiger Nutzung der
    Plattform.
  </p>

  <h2>Verantwortlicher und Datenschutzbeauftragte</h2>
  <p>
    Verantwortlich für die Verarbeitung von personenbezogenen Daten ist die
    <br />
    Hochschule der Medien (HdM), <br />
    Nobelstraße 10, <br />
    70569 Stuttgart <br />
    Vertreten durch den Rektor: Prof. Dr. Alexander Roos. <br />
    Die Datenschutzbeauftragte erreichen Sie per E-Mail über:
    <a href="mailto:datenschutz@hdm-stuttgart.de"
      >datenschutz&#64;hdm-stuttgart.de</a
    >
  </p>

  <p>
    Projektleitung: <br />
    Prof. Dr. Gottfried Zimmermann <br />
    Tel.: <a href="tel:004971189232751">+49 (0)711 / 8923-2751</a> <br />
    E-Mail:
    <a href="mailto:zimmermanng@hdm-stuttgart.de"
      >zimmermanng&#64;hdm-stuttgart.de</a
    >
  </p>

  <h2>Verarbeitung von personenbezogenen Daten</h2>
  <p>
    Um Melvin-Inhalte nutzen zu können, werden folgende personenbezogene Daten
    von Ihnen benötigt, die bei der Registrierung erhoben werden:
  </p>

  <ul>
    <li>Nutzername: (z.B. Vor- und Nachname oder ein fiktiver Nutzername)</li>
    <li>E-Mail Adresse</li>
  </ul>

  <p>
    Nur so kann überprüft werden, ob Sie Zugriffsrechte auf einen bestimmten
    Melvin-Inhalt besitzen. Ausnahmen bilden Melvin-Inhalte, die öffentlich
    geteilt werden und somit ohne Anmeldung abrufbar sind.
  </p>

  <p>
    Weitere personenbezogene Daten, die während der Nutzung von Melvin anfallen:
  </p>

  <ul>
    <li>IP-Adresse</li>
    <li>Datum und Uhrzeit</li>
    <li>Aufrufende und Austritts-URL</li>
    <li>Durchgeführte Aktionen beim Erstellen und Bearbeiten von Inhalten</li>
  </ul>

  <p>
    Alle Medieninhalte, die Sie als Ersteller*in an Melvin übertragen, werden
    auf Servern der Hochschule der Medien gespeichert und verarbeitet. Dies
    beinhaltet vor allem Audio-, Video- und Textdaten. Der Plattformbetreiber
    übernimmt keine Kontrolle über die von Nutzern eingestellten Inhalte. Dem
    Nutzer ist es untersagt, Inhalte auf der Plattform einzustellen, die gegen
    gesetzliche Vorschriften, behördliche Anordnungen oder gegen die guten
    Sitten verstoßen. Ferner ist es Nutzern untersagt, Inhalte einzustellen, die
    Rechte, insbesondere Urheber- oder Markenrechte Dritter verletzen. Dies gilt
    insbesondere für personenbezogene Daten. Der Nutzer sichert zu, dass er
    berechtigt ist, die eingebrachten Daten entsprechend zu nutzen.
  </p>

  <p>
    Die bei der Registrierung angegebene E-Mail-Adresse ist durch andere Nutzer
    der Plattform einsehbar. Der Plattformbetreiber behält sich vor, die
    E-Mail-Adresse zu nutzen, um Nutzer über wichtige Änderungen der Plattform
    zu informieren (z.B. Änderung der Datenschutzrichtlinie).
  </p>

  <h2>Zweck der Verarbeitung</h2>
  <p>
    Melvin wird an der Hochschule der Medien in Verwaltung, Lehre und Forschung
    verwendet, um Videoinhalte zu erstellen, zu speichern, an andere
    Hochschulangehörige zu verteilen und zu verwalten. Zweck der
    Datenverarbeitung ist die Nutzung von Melvin als Tool zu Lehr- und
    Informationszwecken im Rahmen der dienstlichen Tätigkeit an der Hochschule
    der Medien zur Erfüllung der Hochschulaufgaben (Lehre, Forschung und
    Verwaltung).
  </p>

  <p>
    Es findet keine Verhaltenskontrolle auf Basis der persönlichen Nutzung von
    Melvin statt. Die Nutzung von Melvin zur Erstellung von personenbezogenen
    Statistiken ist nicht zulässig.
  </p>

  <h2>Rechtmäßigkeit der Datenverarbeitung, Rechtsgrundlagen</h2>

  <p>
    Die Datenverarbeitung erfolgt im Einklang mit und auf Basis der
    Datenschutz-Grundverordnung (DSGVO) und der sonstigen anwendbaren
    Datenschutzbestimmungen:
  </p>

  <ul>
    <li>
      für die Erfüllung von Dienstaufgaben gemäß Art. 6 Abs. 1 lit. c, Abs. 2, 3
      DSGVO
    </li>
    <li>für die Lehre gemäß Art. 6 Abs. 1 lit. c DSGVO</li>
    <li>für Beschäftigte und Bedienstete gemäß Art. 6 Abs. 1 lit. b DSGVO</li>
    <li>
      für die Datenverarbeitung im Rahmen von Vertragsbeziehungen gemäß Art. 6
      Abs. 1 lit. b DSGVO
    </li>
    <li>
      für die (freiwillige) Nutzung von Melvin durch Hochschulexterne gemäß Art.
      6 Abs. 1 lit. a DSGVO (Einwilligung)
    </li>
  </ul>

  <p>
    Im Fall der Hochschulangehörigen erfolgt die Verarbeitung obengenannter
    Daten in Verbindung mit §12 Landeshochschulgesetz Baden-Württemberg bei
    Studierenden der HdM (Bachelor- und Master-Studierende sowie Studierende im
    Weiterbildungsprogramm) und §15 Landesdatenschutzgesetz Baden-Württemberg
    bei Beschäftigten der HdM (Professor/innen, Mitarbeitende, Lehrbeauftragte).
  </p>

  <p>
    Für Hochschulexterne (z.B. Kooperations- und Projektpartner*innen) gilt die
    Bestätigung dieser Datenschutzrichtlinie als Einwilligung gemäß Art. 6 Abs.
    1 lit. a DSGVO.
  </p>

  <p>
    Die durch Melvin verwalteten Daten werden auf Servern der Hochschule der
    Medien in Stuttgart gespeichert.
  </p>

  <h2>Weitergabe und Empfänger von personenbezogenen Daten</h2>

  <p>
    Personenbezogene Daten, die im Zusammenhang mit der Nutzung von Melvin
    verarbeitet werden, werden grundsätzlich nicht an Dritte weitergegeben.
  </p>

  <h2>Cookies</h2>

  <p>
    Melvin nutzt zur Bereitstellung des Dienstes Cookies. Die Cookies werden
    ausschließlich eingesetzt, um den technischen Betrieb von Melvin zu
    gewährleisten oder um nutzerspezifische Einstellungen zu speichern (z.B.
    Dark/Light-Modus, Darstellung der Untertitel). Die Cookies werden nicht für
    das Tracking von Nutzer*innen verwendet.
  </p>

  <h2>Aufbewahrungsfristen und Löschung von Daten</h2>

  <p>
    Melvin-Inhalte werden dauerhaft gespeichert. Das Löschen von Melvin-Inhalten
    durch einen Nutzer über die Benutzeroberfläche führt zum Löschen aller
    zugehörigen Daten des gelöschten Melvin-Inhalts auf dem Server (z.B. Audio-
    und Videodateien, Datenbankeinträge). Die Löschung des Benutzerkontos führt
    zur Löschung aller Melvin-Inhalte, die der Nutzer erstellt hat. Ausgenommen
    sind Inhalte, bei denen der Nutzer nicht als Ersteller, sondern als
    Bearbeiter mitgewirkt hat (z.B. die Korrektur von Untertiteln eines
    Melvin-Inhalts von einem anderen Benutzer).
  </p>

  <h2>Datensicherheit</h2>

  <p>
    Für den Verlust von Daten haftet der Plattformbetreiber nach Maßgabe der
    vorstehenden Absätze nur dann, wenn ein solcher Verlust durch angemessene
    Datensicherungsmaßnahmen seitens des Nutzers nicht vermeidbar gewesen wäre.
  </p>

  <h2>Rechte der betroffenen Person</h2>
  <p>
    Es gelten die Rechte auf Auskunft, Berichtigung, Einschränkung der
    Verarbeitung, Löschung, Unterrichtung, Datenübertragung, Widerspruchsrecht,
    Widerruf der Einwilligung (für Hochschulexterne), automatisierte
    Entscheidung im Einzelfall einschließlich Profiling sowie Beschwerde bei
    einer Aufsichtsbehörde.   Die für die Hochschule der Medien zuständige
    Aufsichtsbehörde ist:
  </p>

  <p>
    Landesbeauftragter für Datenschutz und Informationsfreiheit
    Baden-Württemberg <br />
    Königstraße 10a <br />
    70173 Stuttgart
  </p>

  <p>
    Telefon: <a href="tel:00497116155410">0711/61 55 41-0</a> <br />
    Telefax: <a href="tel:00971161554115">0711/61 55 41-15</a>
  </p>

  <p>
    E-Mail:
    <a href="mailto:poststelle@lfdi.bwl.de">poststelle&#64;lfdi.bwl.de</a>
  </p>

  <p>
    Entsprechende Anfragen sowie die Ausübung Ihrer vorstehenden Rechte sollten
    nach Möglichkeit an die oben angegebenen Verantwortlichen schriftlich oder
    per E-Mail herangetragen werden.
  </p>
</div>
