.container {
  width: 160px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

button {
  width: 100%;
  background: var(--color-white);
  padding-left: 6px;
  padding-right: 6px;
}

.name {
  margin-left: 5px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
