<footer>
  <div class="spacer"></div>

  <div class="admin" *ngIf="showAdminControls$ | ngrxPush">
    <span>Admin:</span>
    <button mat-stroked-button (click)="onPopulate()">Populate DB</button>
  </div>

  <div class="links">
    <ul>
      <li i18n="@@footerImprintLinkLabel">
        <a [routerLink]="['/impressum']">Imprint</a>
      </li>
      <li i18n="@@footerContactLinktLabel">
        <a [routerLink]="['/kontakt']">Contact</a>
      </li>
    </ul>
  </div>

  <div class="logos">
    <div class="item">
      <app-logo [size]="50"></app-logo>
    </div>

    <div class="item">
      <img
        src="assets/logo-shuffle.svg"
        alt="Logo SHUFFLE"
        [height]="60"
        [width]="60"
      />
    </div>
  </div>

  <div class="copyright">
    &copy; <a href="https://www.shuffle-projekt.de" target="_blank">SHUFFLE</a>
    {{ year }}
  </div>
</footer>
