<h2 mat-dialog-title>Upload</h2>
<mat-dialog-content class="mat-dialog-content">
  <div>
    <h3>Dateien werden hochgeladen.</h3>
    Sobald alle Dateien hochgeladen wurden, taucht das Projekt in der
    Projektübersicht auf.
    <ul class="upload-list">
      @for (recording of data; track $index) {
      <li>
        <!-- {{ upload.name }} -->
        <mat-progress-bar
          mode="determinate"
          [value]="recording.upload.progress"
        ></mat-progress-bar>
        {{ recording.upload.progress | number : '1.0-0' }}%
        <!-- {{ (fileUpload.loaded / fileUpload.totalSize) * 100 }}% -->
        <!-- <button mat-icon-button (click)="onCancelUpload(fileUpload)">
          <mat-icon svgIcon="close"></mat-icon>
        </button> -->
      </li>
      }
    </ul>
  </div>
</mat-dialog-content>
<mat-dialog-actions> </mat-dialog-actions>
