<div class="landing-subpage-wrapper">
  <!-- <h1 class="with-subheading" i18n="@@guideMainHeading">Guide</h1> -->
  <h1 class="with-subheading">Leitfaden</h1>
  <p class="subheading">
    Didaktische Hinweise – Wie kann ich Melvin gut einsetzen?
  </p>

  <div class="decorative-image-wrapper">
    <img
      src="../../../../../assets/landing/guide-decoration.png"
      alt=""
      aria-hidden="true"
    />
  </div>

  <nav>
    <h2>Inhaltsverzeichnis</h2>
    <ul class="table-of-contents">
      <li>
        <a routerLink="./" fragment="why-didactic-tips">
          Warum didaktische Hinweise?
        </a>
      </li>
      <li>
        <a routerLink="./" fragment="planning-the-video">
          Planung des Videos
        </a>
      </li>
      <ul>
        <li>
          <a routerLink="./" fragment="didactic-planning">
            Didaktische Planung
          </a>
        </li>
        <li>
          <a routerLink="./" fragment="content-planning">
            Inhaltliche Planung
          </a>
        </li>
        <li>
          <a routerLink="./" fragment="technical-planning">
            Technische Planung
          </a>
        </li>
      </ul>
    </ul>
  </nav>

  <h2 id="why-didactic-tips">Warum didaktische Hinweise?</h2>
  <p>
    Digitalisierung in der Bildung dürfe „kein Selbstzweck“ sein, so eine
    Arbeitsgruppe des Hochschulforums Digitalisierung (Persiske & Friedrich
    2016, 5). Vielmehr müsse das Ziel der Konzepte für digitales Lernen und
    Lehren sein, die Qualität der Lehre, ihre Leistungsstärke, aber eben auch
    die Chancengerechtigkeit des Hochschulsystems weiter zu verbessern (Hanft et
    al 2019, 325) Insgesamt werden jedoch Chancengerechtigkeit, Inklusion  und
    Digitalisierung noch viel zu selten im Zusammenspiel betrachtet und auch
    noch zu wenig beforscht (Bosse et al. 2021; Hafer et al 2019) – und
    besonders nicht unter dem Aspekt fachdidaktischer Fragestellungen. Denn für
    digitale Tools ergeben sich zwar vielfältige Anwendungsmöglichkeiten, aber
    nicht alles, was technisch machbar ist, ist didaktisch sinnvoll und darüber
    hinaus barrierefrei.
  </p>

  <p>
    Auch Melvin als Videoplattform ist zunächst „nur“ ein Werkzeug, das
    Funktionen bereitstellt und gestalterische Freiräume eröffnet.
    Vorausschauende Überlegungen zur didaktischen Umsetzung der technischen
    Möglichkeiten können entscheidend dazu beitragen, einen barrierefreien und
    gleichberechtigten Zugang zu den Inhalten für alle Nutzenden zu
    gewährleisten. Solch ein didaktisch-reflektiertes Vorgehen bei der Anwendung
    von Melvin möchten diese didaktischen Hinweise befördern.
  </p>

  <h2>Planung des Videos</h2>
  <p>
    Bevor Sie mit der Produktion Ihres Videos beginnen, sollte das Video
    didaktisch, inhaltlich und technisch geplant werden. Dies soll dazu
    beitragen, dass Ihr Video die gewünschten Lernziele wie auch alle
    Studierenden erreicht.
  </p>

  <h3 id="didactic-planning">Didaktische Planung</h3>

  <dl>
    <div class="term-definition-wrapper">
      <dt>Übergeordnetes Lehrkonzept</dt>
      <dd>
        Vorab sind grundsätzliche Überlegungen wichtig, für welche Teile der
        Lehre bzw. auf welche Art die Videos eingesetzt werden. Welchem
        <strong>Zweck</strong> dienen die Videos, in welches
        <strong>übergeordnete Lehrkonzept</strong> sind die Videos eingebettet?
        Wenn diese Zielsetzung festgelegt ist, lässt sich die didaktische
        Gestaltung der Videos darauf basierend effektiver ableiten.
      </dd>
    </div>

    <hr aria-hidden="true" />

    <div class="term-definition-wrapper">
      <dt>Selbstgesteuertes Lernen</dt>
      <dd>
        Grundsätzlich führt das Bereitstellen von Videos dazu, dass Studierende
        stärker für ihr eigenes Lernen verantwortlich sind. Lernvideos sollten
        daher
        <strong>Strategien des Selbstgesteuerten Lernens</strong>
        (SDL<sup>1</sup>) fördern und dazu motivieren, sich aktiv mit den
        Inhalten auseinanderzusetzen.
      </dd>
    </div>

    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Länge des Videos</dt>
      <dd>
        Je nach Zielsetzung und Zweck sind Lernvideos unterschiedlich lang,
        sollten aber - um einen „cognitive overload“ zu vermeiden - eine
        bestimmte Länge nicht überschreiten. Basierend auf Erfahrungswerten
        beträgt die empfohlene
        <strong>maximale Dauer 20 Minuten </strong> (Weber 2023).
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Struktur des Videos</dt>
      <dd>
        Je länger das Video ist, desto wichtiger sind
        <strong>Strukturierung und inhaltliche Pausen</strong>, um die
        Übersichtlichkeit zu wahren. Planen Sie daher erkennbare Strukturen
        (Einleitung, Hauptteil, Schlussteil) vorab ein. Die Erstellung eines
        <strong>Manuskripts, eines Storyboards</strong> oder gar eines
        Drehbuches kann hilfreich sein, um die Abfolge der Inhalte und den
        eigenen Sprechtext zu gliedern.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt lang="en">Inverted Classroom</dt>
      <dd>
        Dient das Video im Rahmen des Inverted Classrooms zur Vorbereitung auf
        eine Präsenzsitzung, sollten <strong>konkrete Anreize</strong> gesetzt
        werden, sich auf die Vertiefung in der Präsenzveranstaltung
        vorzubereiten. Bei Zuordnung des Videos zu einer
        <strong>bestimmten Präsenzsitzung</strong> sollte dies klar erkennbar
        und kommuniziert sein. Den Studierenden sollte darüber hinaus
        <strong>ausreichend Zeit</strong> gegeben werden, um sich mit den
        Inhalten des Videos (und ggf. weiteren Materialien) auseinandersetzen zu
        können.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Lern-Nuggets</dt>
      <dd>
        Dient das Video (nur) zur Vorstellung oder Vertiefung eines spezifischen
        Aspekts? Hier lässt sich im Sinne des „Microlearning“<sup>2</sup> ein
        eher kurzes und fokussiertes Video – ein sogenannter
        „<strong>Lern-Nugget</strong>“- erstellen. In wenigen Minuten kann so
        pointiert und konzentriert Wissen vermittelt werden. Es können auch
        mehrere solcher kurzen Lerneinheiten/“Lern-Nuggets“ (als Reihe/Serie)
        erstellt werden – hier sind eindeutige Titel und ggf. die Information
        über eine einzuhaltende Reihenfolge besonders wichtig.
        <div class="example-wrapper">
          Beispiele:
          <ul>
            <li>
              Ein Video zur effektiven Suche nach wissenschaftlichen Artikeln in
              Datenbanken.
            </li>
            <li>Ein Video zur richtigen wissenschaftlichen Zitation.</li>
          </ul>
        </div>
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Nutzungsdauer</dt>
      <dd>
        Ist das Video für den einmaligen Einsatz vorgesehen oder soll es
        semester- und/oder studiengangübergreifend zur Verfügung stehen? Bei
        einer langfristigen Nutzung empfiehlt es sich,
        <strong>allgemeingültige Hinweise</strong>
        zu bevorzugen und auf zeitlich begrenzte Verweise, wie etwa Links zu
        möglicherweise veralteten Webseiten, weitgehend zu verzichten.

        <div class="example-wrapper">
          Beispiel: Ein Video, das die Grundlagen der qualitativen oder
          quantitativen Forschungsmethoden in den Sozialwissenschaften
          vermittelt.
        </div>
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Umsetzung des „Mehr Sinne-Prinzips“ (UDL)</dt>
      <dd>
        Zur Gewährleistung der Barrierefreiheit ist es entscheidend,
        Informationen in verschiedenen Darstellungsformen anzubieten- etwa durch
        eine auditive sowie eine visuelle Präsentation der Lerninhalte.
        Hilfreich sind hier <strong>Tools wie Melvin</strong>, die das Prinzip
        automatisiert umsetzen, indem Untertitel und ein Transkript automatisch
        generiert werden.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Abbildungen</dt>
      <dd>
        Im Video verwendete <strong>Abbildungen</strong> sollten auch sprachlich
        vermittelt werden. Im besten Fall können alle zentralen Inhalte einer
        Abbildung in den Sprechtext integriert werden. Ist dies nicht möglich,
        kann
        <strong>eine gesonderte Bildbeschreibung/Audiodeskription</strong>
        erstellt werden, die als eigenes Video oder/und Text erstellt und
        bereitgestellt wird<sup>3</sup>.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Barrierefreiheit der verwendeten digitalen Tools und Materialien</dt>
      <dd>
        Wenn Sie die Videos mit anderen digitalen Lernformaten wie Texten,
        Bildern oder auch mit interaktiven Tools <strong>kombinieren</strong>,
        achten Sie stets auf die <strong>Barrierefreiheit</strong> der Dokumente
        und Tools<sup>4</sup>.
      </dd>
    </div>
  </dl>

  <div class="repetition-wrapper">
    <p class="repetition-label">Wiederholung</p>
    <div>
      <p>
        <span class="upper-text">20 Minuten</span>
        <span class="lower-text">Maximale Dauer des Videos</span>
      </p>
      <p>
        <span class="upper-text">Sprachliche Beschreibung</span>
        <span class="lower-text"> Von Abbildungen und Tabellen </span>
      </p>

      <p>
        <span class="upper-text">Inhaltliche Pausen</span>
        <span class="lower-text"> helfen bei der Übersichtlichkeit </span>
      </p>
    </div>
  </div>

  <h3 id="content-planning">Inhaltliche Planung</h3>

  <dl>
    <div class="term-definition-wrapper">
      <dt>Klare Themenfokussierung</dt>
      <dd>
        Das Video sollte ein
        <strong>eindeutig abgegrenztes Thema</strong> behandeln, das zu Beginn
        des Videos deutlich angekündigt wird. Ebenso ist es entscheidend, dass
        der Inhalt durch einen <strong>präzisen</strong> Titel leicht erkennbar
        ist.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Benennung der Lernziele</dt>
      <dd>
        Jedes Video sollte ein oder mehrere definierte
        <strong>Lernziele</strong> haben, welche ebenfalls zu Beginn des Videos
        und ebenso im Syllabus benannt werden. Dies trägt zur Transparenz und
        Übersicht der Lernvideos und damit zur Selbstorganisation des
        Wissenserwerbs bei.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Prüfungsrelevante Inhalte</dt>
      <dd>
        Sollten die im Video vermittelten Inhalte direkt auf
        <strong>Prüfungsformate</strong>
        abzielen, ist dies ebenfalls in den Lernzielen explizit zu vermerken.
        Zudem können <strong>Prüfungsfragen als Übungsaufgaben</strong> zur
        Verfügung gestellt werden, um den Studierenden mehr Sicherheit im Umgang
        mit Prüfungssituationen zu vermitteln.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Aktive Beteiligung</dt>
      <dd>
        Planen Sie interaktive Elemente ein, zum Beispiel durch das Einbauen von
        Aufgaben. Sie dienen zur
        <strong>konzentrierteren Auseinandersetzung</strong> mit dem Material
        und fördern das aktive Lernen.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Überprüfung des Gelernten</dt>
      <dd>
        Wo könnte das <strong>neu erworbene Wissen überprüft</strong> werden? In
        das Video lassen sich <strong>Quizze einbauen</strong> oder konkrete
        Aufgabenstellen. Dies kann aber auch in einer folgenden Präsenzsitzung
        erfolgen.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Fachtermini</dt>
      <dd>
        Verwendete Fachbegriffe oder besonders komplexe Sachverhalte sollten
        erklärt und ggf. mit Hinweisen für
        <strong>weiterführende Informationen</strong> (Links zu zentralen
        Webseiten, Literatur etc.) ergänzt werden - dies trägt zur
        Verständnissicherung bei.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Feedback und Reflexion</dt>
      <dd>
        Lernvideos können am Ende Reflexionsfragen oder abschließende Übungen
        enthalten, die die Lernenden dabei unterstützen, das Gelernte zu
        vertiefen und anzuwenden. Zudem kann die Möglichkeit für Rückmeldungen
        oder Fragen etwa durch gesonderte digitale Austauschformate (auf der
        verwendeten Lernplattform) bereitgestellt oder in einer folgenden
        Präsenzsitzung besprochen werden.
      </dd>
    </div>
  </dl>

  <div class="repetition-wrapper">
    <p class="repetition-label">Wiederholung</p>
    <div>
      <p>
        <span class="upper-text">Ein Thema</span>
        <span class="lower-text">ein Video</span>
      </p>
      <p>
        <span class="upper-text">Prüfungsfragen zum Üben</span>
        <span class="lower-text">geben Sicherheit</span>
      </p>

      <p>
        <span class="upper-text">Interative Elemente</span>
        <span class="lower-text">fördern die aktive Beteiligung</span>
      </p>
    </div>
  </div>

  <h3 id="technical-planning">Technische Planung</h3>
  <dl>
    <div class="term-definition-wrapper">
      <dt>Hochwertige Bild- und Tonqualität</dt>
      <dd>
        Stellen Sie sicher, dass sowohl die Bild- als auch die Tonqualität einer
        guten Qualität entsprechen, indem Sie für eine optimale Beleuchtung und
        eine störungsfreie Umgebung sorgen. Eine ruhige, klare Sprechweise mit
        ausreichend Pausen fördert die Verständlichkeit, während ein dezenter,
        neutraler Hintergrund den Fokus auf den Inhalt lenkt.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Technische Ausstattung</dt>
      <dd>
        Eine solide technische Ausstattung sowie eine vorherige Überprüfung
        sorgen für mehr Sicherheit während der Aufnahme. Machen Sie vorab
        <strong>Probeaufnahmen</strong>, um ein besseres Verständnis für die
        benötigten Geräte und deren Einsatz zu gewinnen. Je nach Setting kann es
        beispielsweise vorteilhaft sein, <strong>zwei Monitore</strong> zur
        Unterstützung der Videoaufnahme zu verwenden.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Benennung der Videos</dt>
      <dd>
        Die Benennung des Videos sollte <strong>aussagekräftig</strong> sein und
        die wichtigsten Informationen wie Titel, Autor, Thema und Datum
        beinhalten.

        <div class="example-wrapper">
          Beispiel: Hörstörungen_Baumgart_Pädaudiologie_WS23_24
        </div>
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt>Auffindbarkeit des Videos</dt>
      <dd>
        Die Lernvideos sollten so in die verwendeten Lernplattformen integriert
        werden, dass sie <strong>leicht auffindbar</strong> sind. Ein
        dazugehöriger Syllabus, der auf den Inhalt des Videos in Stichpunkten
        eingeht, erhöht die Übersichtlichkeit und Transparenz.
      </dd>
    </div>
  </dl>

  <div class="repetition-wrapper">
    <p class="repetition-label">Wiederholung</p>
    <div>
      <p>
        <span class="upper-text">Klare Sprechweise</span>
        <span class="lower-text">mit ausreichend Pausen</span>
      </p>
      <p>
        <span class="upper-text">Helle & leise Umgebung</span>
        <span class="lower-text">für eine gute Aufnahme</span>
      </p>

      <p>
        <span class="upper-text">Titel, Thema, Autor, Datum</span>
        <span class="lower-text">als Dateiname des Videos</span>
      </p>
    </div>
  </div>
</div>
