<div class="landing-subpage-wrapper">
  <h1 class="with-subheading" i18n="@@guideMainHeading">Didactic Guide</h1>
  <p class="subheading" i18n="@@guideSubHeading">
    Didactic Recommendations – How to Use Melvin Effectively
  </p>

  <div class="decorative-image-wrapper">
    <img
      src="../../../../../assets/landing/guide-decoration.png"
      alt=""
      aria-hidden="true"
    />
  </div>

  <nav>
    <h2 i18n="@@guideContentTableHeading">Table of contents</h2>
    <ul class="table-of-contents">
      <li>
        <a
          routerLink="./"
          fragment="why-didactic-tips"
          i18n="@@guideContentTableWhy"
        >
          Why Didactic Recommendations?
        </a>
      </li>
      <li>
        <a
          routerLink="./"
          fragment="planning-the-video"
          i18n="@@guideContentTablePlanningVideo"
        >
          Planning the Video
        </a>
      </li>
      <ul>
        <li>
          <a
            routerLink="./"
            fragment="didactic-planning"
            i18n="@@guideContentTableDidactic"
          >
            Didactic Planning
          </a>
        </li>
        <li>
          <a
            routerLink="./"
            fragment="content-planning"
            i18n="@@guideContentTableContent"
          >
            Content Planning
          </a>
        </li>
        <li>
          <a
            routerLink="./"
            fragment="technical-planning"
            i18n="@@guideContentTableTechnical"
          >
            Technical Planning
          </a>
        </li>
        <li>
          <a
            routerLink="./"
            fragment="references"
            i18n="@@guideContentTableReferences"
          >
            References
          </a>
        </li>
      </ul>
    </ul>
  </nav>

  <h2 id="why-didactic-tips" i18n="@@guideWhyHeading">
    Why Didactic Recommendations?
  </h2>
  <p i18n="@@guideWhyPartOne">
    According to a working group of the Hochschulforum Digitalisierung,
    digitalization in education should not be "an end in itself" (Persike &
    Friedrich, 2016, p. 5). Instead, digital learning and teaching concepts
    should aim to improve teaching quality, enhance effectiveness, and promote
    equal opportunities in higher education (Hanft et al., 2019, p. 325).
    Overall, aspects of equal opportunities, inclusion, and digitalization are
    still rarely considered in combination and insufficiently researched (Bosse
    et al., 2021; Hafer et al., 2019), particularly in relation to didactic
    issues. While digital tools offer many possibilities, not everything that is
    technically feasible is didactically useful or even accessible.
  </p>

  <p i18n="@@guideWhyPartTwo">
    Melvin, as a video platform, is primarily a tool that offers functionality
    and allows for creative freedom. Thoughtful consideration of didactic
    implementation can significantly contribute to ensuring equal and
    barrier-free access to content for all users. These didactic guidelines aim
    to encourage a reflective approach when using Melvin.
  </p>

  <h2 i18n="@@guidePlanningHeading">Planning the Video</h2>
  <p i18n="@@guidePlanningIntro">
    Before starting video production, careful planning from a didactic,
    content-related, and technical perspective is essential. This ensures that
    the video meets the intended learning objectives and reaches all students
    effectively.
  </p>

  <h3 id="didactic-planning" i18n="@@guideDidacticHeading">
    Didactic Planning
  </h3>

  <dl>
    <div class="term-definition-wrapper">
      <dt i18n="@@guideFrameworkTerm">General Instructional Framework</dt>
      <dd i18n="@@guideFrameworkDefinition">
        It is crucial to determine in advance how the videos will be integrated
        into teaching and for what <strong>purpose</strong> they will be used.
        What role do the videos play within the broader instructional framework?
        Defining this objective helps in designing the videos effectively.
      </dd>
    </div>

    <hr aria-hidden="true" />

    <div class="term-definition-wrapper">
      <dt i18n="@@guideSelfRegulationTerm">Self-Regulated Learning</dt>
      <dd i18n="@@guideSelfRegulationDefinition">
        Providing videos places more responsibility on students for their own
        learning. Learning videos should therefore foster strategies for
        self-regulated learning (SRL<sup>1</sup>) and motivate students to
        engage actively with the content.
      </dd>
    </div>

    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideOptimalLenghtTerm">Optimal Video Length</dt>
      <dd i18n="@@guideOptimalLenghtDefinition">
        Depending on the purpose, learning videos can vary in length, but they
        should not exceed a certain duration to avoid cognitive overload.
        Empirical research suggests a
        <strong>maximum duration of 20 minutes</strong> (Brück 2023).
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideStructuringVideoTerm">Structuring the Video</dt>
      <dd i18n="@@guideStructuringVideoDefinition">
        The longer the video, the more important it is to maintain a
        <strong>clear structure and include pauses</strong> to support
        comprehension. Planning recognizable sections (introduction, main part,
        conclusion) in advance is advisable. Creating
        <strong>a script, storyboard,</strong> or screenplay can help structure
        the content and voiceover effectively.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideInvertedClassroomTerm">Inverted Classroom</dt>
      <dd i18n="@@guideInvertedClassroomDefinition">
        When videos are used as part of an Inverted Classroom model,
        <strong>clear incentives</strong> should be provided for students to
        prepare for deeper engagement during in-person sessions. If a video is
        assigned to a specific session, this should be clearly communicated, and
        students should have <strong>sufficient time</strong> to review the
        content and any accompanying materials.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideMicroLearningTerm">Microlearning Units</dt>
      <dd>
        <span i18n="@@guideMicroLearningDefinition">
          If a video is intended to introduce or deepen a specific aspect, a
          short and focused microlearning unit (also known as a "learning
          nugget"<sup>2</sup>) may be appropriate. These concise videos
          effectively present knowledge in just a few minutes. Multiple
          microlearning units can be organized into a series, with clear titles
          and sequencing information to enhance clarity.
        </span>

        <div class="example-wrapper">
          <span i18n="@@guideMicroLearningExampleHeading">Examples:</span>
          <ul>
            <li i18n="@@guideMicroLearningExampleOne">
              A video on how to effectively search for academic articles in
              databases.
            </li>
            <li i18n="@@guideMicroLearningExampleTwo">
              A video explaining proper scientific citation methods.
            </li>
          </ul>
        </div>
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideUsabilityTerm">Long-Term Usability</dt>
      <dd>
        <span i18n="@@guideUsabilityDefinition">
          Is the video intended for one-time use, or should it be accessible
          across multiple semesters or courses? For long-term use, prioritize
          general and <strong>broadly applicable information</strong> while
          minimizing temporary references (e.g., links to potentially outdated
          websites).
        </span>
        <div class="example-wrapper" i18n="@@guideUsabilityExample">
          Example: A video explaining the fundamentals of qualitative or
          quantitative research methods in social sciences.
        </div>
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideUDLTerm">
        Ensuring Accessibility – Universal Design for Learning
        (UDL)/Multi-Sensory Design Principle
      </dt>
      <dd i18n="@@guideUDLDefinition">
        To promote accessibility, information should be presented in multiple
        formats—for example, through both auditory and visual means.
        <strong>Tools like Melvin</strong>, which automatically generate
        subtitles and transcripts, can facilitate this approach.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideVerbalizingTerm">Verbalizing Visual Elements</dt>
      <dd i18n="@@guideVerbalizingDefinition">
        All essential visual elements used in the video should also be described
        verbally. Ideally, the key content of an image or figure should be
        integrated into the spoken text. If this is not feasible, a separate
        audio or text-based description should be provided as an additional
        resource.<sup>3</sup>.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideAccessibleMaterialsTerm">
        Accessible Digital Materials
      </dt>
      <dd i18n="@@guideAccessibleMaterialsDefinition">
        When combining videos with other digital learning formats such as text,
        images, or interactive tools, ensure that all materials comply with
        accessibility standards<sup>4</sup>.
      </dd>
    </div>
  </dl>

  <div class="repetition-wrapper">
    <p class="repetition-label" i18n="@@guideRepetitionHeading">Repetition</p>
    <div>
      <p>
        <span class="upper-text" i18n="@@guideRepetitionLengthOne"
          >20 minutes</span
        >
        <span class="lower-text" i18n="@@guideRepetitionLengthTwo"
          >maximum video duration</span
        >
      </p>
      <p>
        <span class="upper-text" i18n="@@guideRepetitionVerbalOne"
          >Verbal description</span
        >
        <span class="lower-text" i18n="@@guideRepetitionVerbalTwo">
          of figures and tables
        </span>
      </p>

      <p>
        <span class="upper-text" i18n="@@guideRepetitionContentBreaksOne"
          >Content breaks</span
        >
        <span class="lower-text" i18n="@@guideRepetitionContentBreaksTwo">
          help with clarity
        </span>
      </p>
    </div>
  </div>

  <h3 id="content-planning" i18n="@@guideContentHeading">Content Planning</h3>

  <dl>
    <div class="term-definition-wrapper">
      <dt i18n="@@guideClearTopicTerm">Clear Topic Focus</dt>
      <dd i18n="@@guideClearTopicDefinition">
        Each video should address a <strong>well-defined topic</strong>, clearly
        stated at the beginning. A precise title enhances recognizability and
        helps students navigate the content effectively.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideLearningObjectivesTerm">Defining Learning Objectives</dt>
      <dd i18n="@@guideLearningObjectivesDefinition">
        Each video should specify its learning objectives at the beginning and
        in the course syllabus. This improves transparency and aids students in
        organizing their knowledge acquisition.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideExamRelevantTerm">Exam-Relevant Content</dt>
      <dd i18n="@@guideExamRelevantDefinition">
        If a video covers content relevant to exams, this should be explicitly
        stated in the learning objectives. Additionally,
        <strong>providing practice questions</strong> can help students gain
        confidence in exam situations.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideParticipationTerm">Encouraging Active Participation</dt>
      <dd i18n="@@guideParticipationDefinition">
        Integrating interactive elements, such as exercises, can promote active
        learning and deeper engagement with the material.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideAcquiredKnowledgeTerm">Reviewing Acquired Knowledge</dt>
      <dd i18n="@@guideAcquiredKnowledgeDefinition">
        Where can students test their newly acquired knowledge?
        <strong>Quizzes</strong> or targeted exercises can be embedded in the
        video or incorporated into follow-up in-person sessions.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideTechnicalTermsTerm">Clarifying Technical Terms</dt>
      <dd i18n="@@guideTechnicalTermsDefinition">
        Complex concepts or technical terminology should be clearly explained,
        with <strong>references to additional resources</strong> (e.g., central
        websites or literature) when necessary.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideReflectionTerm">
        Providing Feedback and Reflection Opportunities
      </dt>
      <dd i18n="@@guideReflectionDefiniton">
        Videos can include reflection questions or closing exercises to
        reinforce learning. Opportunities for feedback and discussion can be
        facilitated through digital learning platforms or in subsequent
        in-person sessions.
      </dd>
    </div>
  </dl>

  <div class="repetition-wrapper">
    <p class="repetition-label" i18n="@@guideRepetitionHeading">Repetition</p>
    <div>
      <p>
        <span class="upper-text" i18n="@@guideRepetitionOneVideoOne"
          >One topic</span
        >
        <span class="lower-text" i18n="@@guideRepetitionOneVideoTwo"
          >per video</span
        >
      </p>
      <p>
        <span class="upper-text" i18n="@@guideRepetitionPracticeQuestionOne"
          >Practice questions</span
        >
        <span class="lower-text" i18n="@@guideRepetitionPracticeQuestionTwo"
          >for reinforcement</span
        >
      </p>

      <p>
        <span class="upper-text" i18n="@@guideRepetitionInteractiveElementsOne"
          >Interactive elements</span
        >
        <span class="lower-text" i18n="@@guideRepetitionInteractiveElementsTwo"
          >to encourage participation
        </span>
      </p>
    </div>
  </div>

  <h3 id="technical-planning" i18n="@@guideTechnicalHeading">
    Technical planning
  </h3>
  <dl>
    <div class="term-definition-wrapper">
      <dt i18n="@@guideHighQualityMediaTerm">
        Ensuring High-Quality Audio and Video
      </dt>
      <dd i18n="@@guideHighQualityMediaDefinition">
        Both image and sound quality should be optimal, with good lighting and a
        distraction-free recording environment. A calm and clear speaking style,
        with sufficient pauses, enhances comprehensibility. A neutral background
        helps keep the focus on the content.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideTechnicalEquipmentTerm">
        Technical Equipment Considerations
      </dt>
      <dd i18n="@@guideTechnicalEquipmentDefinition">
        Reliable technical equipment and pre-recording checks ensure smoother
        production. <strong>Test recordings</strong> can help identify optimal
        settings. Depending on the setup, using
        <strong>two monitors</strong> may facilitate the recording process.
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideFileNamingTerm">Clear and Informative File Naming</dt>
      <dd>
        <span i18n="@@guideFileNamingDefinition">
          The video file name should be <strong>meaningful</strong> and include
          key information such as title, author, topic, and date.
        </span>
        <div class="example-wrapper" i18n="@@guideFileNamingExample">
          Example: Hearing_Disorders_Baumgart_Pediatric_Audiology_WS23_24
        </div>
      </dd>
    </div>
    <hr aria-hidden="true" />
    <div class="term-definition-wrapper">
      <dt i18n="@@guideEasyAccessTerm">Easy Video Access</dt>
      <dd i18n="@@guideEasyAccessDefinition">
        Learning videos should be easily accessible on the learning platform. An
        accompanying syllabus summarizing the video’s content in bullet points
        enhances clarity and transparency.
      </dd>
    </div>
  </dl>

  <div class="repetition-wrapper">
    <p class="repetition-label" i18n="@@guideRepetitionHeading">Repetition</p>
    <div>
      <p>
        <span class="upper-text" i18n="@@guideRepetitionClearSpeechOne"
          >Clear speech</span
        >
        <span class="lower-text" i18n="@@guideRepetitionClearSpeechTwo"
          >with enough pauses</span
        >
      </p>
      <p>
        <span class="upper-text" i18n="@@guideRepetitionEnvironmentOne"
          >Bright & quiet environment</span
        >
        <span class="lower-text" i18n="@@guideRepetitionEnvironmentTwo"
          >for a good recording</span
        >
      </p>

      <p>
        <span class="upper-text" i18n="@@guideRepetitionFileNameOne"
          >Title, author, topic, date</span
        >
        <span class="lower-text" i18n="@@guideRepetitionFileNameTwo"
          >as a descriptive file name</span
        >
      </p>
    </div>
  </div>

  <div>
    <h3 id="references" i18n="@@guideReferencesHeading">References</h3>

    <p>
      Bosse, I.; Schluchter, J.-R. & Zorn, I. (Ed.) (2019): Handbuch Inklusion
      und Medienbildung. Weinheim: Beltz Juventa.
    </p>

    <p>
      <a href="https://www.hessenhub.de/2023/03/30/lernvideos-im-studium/">
        Brück, F. (2023, 30. März). Lernvideos im Studium. HessenHub.
      </a>
    </p>

    <p>
      Persike, M. & Friedrich, J.D. (2016). Lernen mit digitalen Medien aus
      Studierendenperspektive, Arbeitspapier Nr. 17. Berlin: Hochschulforum
      Digtalisierung.
    </p>

    <p>
      Hanft, A.; Kretschmer, S. & Hug, V. (2019): Hochschullehre aus der
      Studierenden-Perspektive denken: individuelle Lernpfade im Inverted
      Classroom. In: Zeitschrift für Hochschulentwicklung 14 (3), S. 323–340.
      DOI: 10.3217/ZFHE-14-03/19.
    </p>

    <p>
      Hafer, J.; Mauch, M. & Schumann, M. (Hg.) (2019): Teilhabe in der
      digitalen Bildungswelt. Münster New York: Waxmann (Medien in der
      Wissenschaft).
    </p>
  </div>
</div>
