<header>
  <mat-toolbar class="toolbar">
    <app-logo class="clickable" [routerLink]="['/']" />

    <nav>
      <ul>
        <div class="links">
          @if ('guide' | featureEnabled) {
          <li>
            <a routerLink="/guide" i18n="@@landingHeaderGuideLinkLabel">
              Didactic Guide
            </a>
          </li>
          } @if ('tutorial' | featureEnabled) {
          <li>
            <a routerLink="/tutorial" i18n="@@landingHeaderTutorialLinkLabel">
              Tutorial
            </a>
          </li>
          } @if (('installation' | featureEnabled)) {
          <li>
            <a
              routerLink="/installation"
              i18n="@@landingHeaderInstallationLinkLabel"
            >
              Installation
            </a>
          </li>
          }
        </div>
        <div class="right-side-wrapper">
          @if (feedbackLink) {
          <a
            class="feedback-link"
            href=""
            mat-flat-button
            i18n="@@landingHeaderFeedbackLinkLabel"
          >
            Provide Feedback ❤️
          </a>
          }

          <button
            mat-icon-button
            aria-label="Open darkmode menu"
            i18n-aria-label="@@landingHeaderToggleDarkmodeToggleMenuButton"
            [mat-menu-trigger-for]="darkmodeMenu"
            *ngrxLet="colorTheme$ as colorTheme"
          >
            @if(colorTheme === colorThemeENUM.DARK) {
            <mat-icon svgIcon="dark_mode" />
            } @else if (colorTheme === colorThemeENUM.LIGHT) {
            <mat-icon svgIcon="light_mode" />
            } @else {
            <mat-icon svgIcon="system_mode" />
            }
          </button>

          @if(isLoggedIn$ | ngrxPush) {
          <a
            i18n="@@landingHeaderToTheProjectsButton"
            routerLink="/home/projects"
            mat-flat-button
            >To the projects</a
          >

          } @else {
          <button
            (click)="onOpenLoginDialog()"
            mat-flat-button
            i18n="@@landingHeaderLoginButton"
          >
            Login
          </button>

          }
        </div>
      </ul>
    </nav>
    <div class="mobile-view">
      <button
        mat-icon-button
        aria-label="Open darkmode menu"
        i18n-aria-label="@@landingHeaderToggleDarkmodeToggleMenuButton"
        [mat-menu-trigger-for]="darkmodeMenu"
        *ngrxLet="colorTheme$ as colorTheme"
      >
        @if(colorTheme === colorThemeENUM.DARK) {
        <mat-icon svgIcon="dark_mode" />
        } @else if (colorTheme === colorThemeENUM.LIGHT) {
        <mat-icon svgIcon="light_mode" />
        } @else {
        <mat-icon svgIcon="system_mode" />
        }
      </button>

      <button
        (click)="onOpenLoginDialog()"
        mat-flat-button
        i18n="@@landingHeaderLoginButton"
      >
        Login
      </button>
      <button
        (click)="onToggleSidebar()"
        mat-icon-button
        aria-label="Open Menu"
      >
        <mat-icon svgIcon="menu" />
      </button>
    </div>
  </mat-toolbar>
</header>

<mat-menu #darkmodeMenu="matMenu">
  <button
    mat-menu-item
    (click)="onChangeColorTheme(colorThemeENUM.LIGHT)"
    i18n="@@landingHeaderToggleDarkmodeLight"
  >
    <mat-icon svgIcon="light_mode"></mat-icon>Light
  </button>
  <button
    mat-menu-item
    (click)="onChangeColorTheme(colorThemeENUM.SYSTEM)"
    i18n="@@landingHeaderToggleDarkmodeSystem"
  >
    <mat-icon svgIcon="system_mode"></mat-icon>Auto
  </button>
  <button
    mat-menu-item
    (click)="onChangeColorTheme(colorThemeENUM.DARK)"
    i18n="@@landingHeaderToggleDarkmodeDark"
  >
    <mat-icon svgIcon="dark_mode"></mat-icon>Dark
  </button>
</mat-menu>
