:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
// seems fine
mat-checkbox {
  font-size: 0.8rem;
  margin-left: 6px;
}

button {
  margin-top: 10px;
}
