<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-icon svgIcon="email" matPrefix></mat-icon>
    <mat-label i18n="@@loginEmailLabel">Email</mat-label>
    <input
      formControlName="email"
      type="email"
      name="email"
      autocomplete="email"
      matInput
    />

    @if(formGroup.get('email')?.errors &&
    !formGroup.get('email')?.hasError('required')) {
    <mat-error i18n="@@loginEmailErrorNotValid"
      >Email address is not valid</mat-error
    >
    } @if( formGroup.get('email')?.hasError('required')) {
    <mat-error i18n="@@loginEmailErrorRequired">Email is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-icon svgIcon="lock" matPrefix></mat-icon>
    <mat-label i18n-placeholder="@@loginPasswordLabel">Password</mat-label>
    <input
      formControlName="password"
      matInput
      type="password"
      name="password"
      autocomplete="current-password"
    />
    @if( formGroup.get('password')?.hasError('required')){
    <mat-error i18n="@@loginPasswordErrorRequired">
      Password is required
    </mat-error>
    }
  </mat-form-field>
  <mat-checkbox
    formControlName="persistent"
    i18n="@@loginStayLoggedInCheckboxLabel"
    >Stay logged in</mat-checkbox
  >

  @if (error$ | async; as error) {
  <p class="error-message" aria-live="polite">
    <mat-icon svgIcon="alert"></mat-icon>
    {{ error }}
  </p>
  }

  <div class="flex justify-center">
    <button
      mat-flat-button
      type="submit"
      [disabled]="loading$ | async"
      color="primary"
    >
      <div class="flex items-center" i18n="@@loginLoginButtonLabel">
        @if (loading$ | async) {
        <mat-spinner
          strokeWidth="2"
          diameter="20"
          color="primary"
          style="margin-right: 10px"
        ></mat-spinner>
        } Login
      </div>
    </button>
  </div>
</form>
