<div (click)="$event.stopPropagation()" [formGroup]="formGroup">
  @for (speaker of speakers; track speaker.id) { @if (!speaker.editMode) {
  <div class="speaker-wrapper">
    <button
      class="select-speaker-button"
      mat-menu-item
      (click)="onSelectSpeaker(speaker)"
    >
      <mat-icon svgIcon="speaker1" />
      <span>{{ speaker.name }}</span>
    </button>
    <div class="action-buttons">
      <button mat-icon-button (click)="onStartEditMode(speaker)">
        <mat-icon svgIcon="edit" />
      </button>
      <button mat-icon-button (click)="onDeleteSpeaker(speaker)">
        <mat-icon svgIcon="delete" />
      </button>
    </div>
  </div>
  } @else {
  <div class="speaker-wrapper edit-mode">
    <!-- [formGroup]="getSpeakerFormControl(speaker.id)" -->
    <mat-form-field class="speaker-form-field">
      <mat-label i18n="@@captionsNewSpeakerNameLabel">Speaker name</mat-label>
      <input
        formControlName="name"
        [errorStateMatcher]="errorStateMatcher"
        matInput="text"
        [formControl]="newSpeakerForm"
      />

      @if (!newSpeakerForm.valid) {
      <mat-error>{{ onNewSpeakerInvalid() }}</mat-error>
      }
    </mat-form-field>
    <div class="action-buttons">
      <button mat-icon-button (click)="onUpdateSpeaker(speaker)">
        <mat-icon svgIcon="done" />
      </button>
      <button mat-icon-button (click)="onAbortEditMode(speaker)">
        <mat-icon svgIcon="clear" />
      </button>
    </div>
  </div>
  } }
  <mat-divider></mat-divider>
  <div (click)="$event.stopPropagation()" class="add-speaker-wrapper">
    <button
      mat-stroked-button
      (click)="onAddSpeakerForm()"
      i18n="@@captionsAddNewSpeakerButtonLabel"
    >
      <mat-icon svgIcon="add"></mat-icon>
      Add speaker
    </button>
  </div>
</div>
