<form [formGroup]="asrGroup">
  <fieldset class="custom-fieldset">
    <legend>
      <mat-slide-toggle
        color="primary"
        formControlName="activated"
        labelPosition="before"
        i18n="@@asrFormFieldsetLegend"
        >Generate automatic subtitles</mat-slide-toggle
      >
    </legend>
    <mat-form-field>
      <mat-label i18n="@@asrFormVendorLabel">Vendor</mat-label>

      <mat-select
        *ngrxLet="asrServices$ as asrServices"
        formControlName="asrVendor"
      >
        <mat-option
          *ngFor="let service of asrServices"
          value="{{ service.asrVendor }}"
          >{{ service.fullName }}</mat-option
        >
      </mat-select>

      <mat-error i18n="@@asrFormVendorError">
        Please select an ASR vendor
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngrxLet="asrServices$ as asrServices">
      <mat-label i18n="@@asrFormLanguageLabel">Language</mat-label>

      <!-- *ngFor="let service of asrServices" -->
      <mat-select formControlName="language">
        <div *ngFor="let language of getLanguages(asrServices)">
          <mat-option value="{{ language.code }}">{{
            language.name
          }}</mat-option>
        </div>
      </mat-select>
      <mat-error i18n="@@asrFormLanguageError">
        Please select a language
      </mat-error>
      <mat-hint i18n="@@asrFormLanguageHint"
        >The available languages are vendor dependent</mat-hint
      >
    </mat-form-field>
  </fieldset>

  <div *ngIf="asrGroup.controls.activated.disabled" class="fieldset-hint">
    <p i18n="@@asrFormDisabledInfoText">
      Automatic subtitle generation is disabled due to already uploaded subtitle
      files
    </p>
  </div>
</form>
