.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.default-information-text {
  padding-top: 6.25rem;
  font-size: 1.125rem;
  text-align: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fixated-list-header {
  margin-left: -25rem;
  margin-top: 3.75rem;
  width: 100%;
  max-width: 50rem;
  position: fixed;
  left: 50%;
  z-index: 1;

  @media only screen and (max-width: 50rem) {
    margin-left: 0px;
    left: 0%;
  }

  .all-notifications-selector {
    margin: 0.625rem 1.25rem;
  }

  .buttons-wrapper {
    background-color: var(--color-white);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.25rem 0;

    button {
      margin-left: 0.625rem;
    }

    .delete-notification-button {
      background-color: var(--color-red);
      color: var(--color-white);
    }

    .read-notification-button {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}

.notifications-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.5rem;
}

.list-wrapper {
  width: 100%;
  max-width: 50rem;
  margin: 2.5rem 1.25rem 1.25rem 1.25rem;

  .date {
    margin: 1.875rem 0 0.625rem 1.25rem;
    font-size: 1.125rem;
    font-weight: normal;
  }
}
