<div
  class="wrapper"
  *ngrxLet="isReady$ as isReady"
  (mouseleave)="onMouseOutBtn()"
>
  <div class="left">
    <button
      [cdkMenuTriggerFor]="playbackSpeedMenu"
      mat-icon-button
      i18n-aria-label="@@videoPlaybackSpeedAria"
      aria-label="Video playback speed"
    >
      <mat-icon svgIcon="speed"></mat-icon>
    </button>

    <div
      *ngrxLet="sound$ as sound"
      class="sound-wrapper"
      (mouseenter)="onMouseEnterBtn()"
    >
      <button
        mat-icon-button
        (click)="onMuteToggle()"
        (keydown)="onKeydownVolumeBtn($event, sound.volume, sound.muted)"
      >
        @if (sound.muted || sound.volume === 0) {
        <mat-icon svgIcon="volume-mute" />
        } @else if(sound.volume < 0.5) {
        <mat-icon svgIcon="volume-low" />
        }@else {
        <mat-icon svgIcon="volume-on" />
        }
      </button>

      <mat-slider
        class="volume-slider black"
        min="0"
        max="1"
        step="0.1"
        discrete
        [displayWith]="sliderLabelVolume"
        [class.visible]="mouseOverSound || focusOnVolumeSlider"
      >
        <input
          aria-label="Volume"
          i18n-aria-label="@@viewerControlsVolumeSlideLabel"
          matSliderThumb
          [value]="sound.muted ? 0 : sound.volume"
          (valueChange)="onVolumeChange($event, sound.muted)"
          (focus)="onFocusVolumeSlider()"
          (blur)="onBlurVolumeSlider()"
        />
      </mat-slider>
    </div>
  </div>
  <div class="middle">
    <div class="play-rewind-buttons">
      <button
        mat-icon-button
        class="big-icon-mat-button"
        (click)="onSkipBackward()"
        [disabled]="!isReady"
        i18n-matTooltip="@@editorRewind5SecondsButtonLabel"
        matTooltip="Rewind 5 seconds"
        i18n-aria-label="@@editorRewind5SecondsButtonLabel"
        aria-label="Rewind 5 seconds"
      >
        <mat-icon svgIcon="replay_5"></mat-icon>
      </button>

      <button
        mat-icon-button
        class="big-icon-mat-button"
        (click)="onTogglePlayPause()"
        i18n-matTooltip="@@editorPlayOrPauseButtonLabel"
        matTooltip="Play or pause"
        i18n-aria-label="@@editorPlayOrPauseButtonLabel"
        aria-label="Play or pause"
        [disabled]="!isReady"
      >
        <mat-icon
          [svgIcon]="(isPlaying$ | ngrxPush) ? 'pause_circle' : 'play_circle'"
        ></mat-icon>
      </button>

      <button
        mat-icon-button
        (click)="onSkipForward()"
        class="big-icon-mat-button"
        [disabled]="!isReady"
        i18n-matTooltip="@@editorSkip5SecondsButtonLabel"
        matTooltip="Skip 5 seconds"
        i18n-aria-label="@@editorSkip5SecondsButtonLabel"
        aria-label="Skip 5 seconds"
      >
        <mat-icon svgIcon="forward_5"></mat-icon>
      </button>
    </div>
  </div>
  <div class="right">
    <div class="time-container" [class.time-disabled]="!isReady">
      <span class="time-current">
        {{ (currentTime$ | ngrxPush) || 0 | duration }}
      </span>
      <span class="time-spacer">/</span>
      <span class="time-total">
        {{ (duration$ | ngrxPush) || 0 | duration }}
      </span>
    </div>
  </div>
</div>

<!-- Playback Speed Menu  -->
<ng-template #playbackSpeedMenu>
  <div
    cdkMenu
    class="cdk-menu-wrapper menu-shadow viewer-control-menu-dm"
    *ngrxLet="currentSpeed$ as currentSpeed"
  >
    <div class="cdk-menu-column">
      <div cdkMenuGroup aria-labelledby="playback-section-title">
        <span
          id="playback-section-title"
          class="section-title"
          i18n="@@videoControlsPlaybackSpeedMenuTitle"
        >
          Playback Speed
        </span>

        @for (speed of speedOptions; track speed) {
        <button
          mat-button
          [appKeepMenuOpen]="true"
          appCdkMenuItemRadio
          (cdkMenuItemTriggered)="onClickSetPlaybackSpeed(speed)"
        >
          @if(currentSpeed === speed ){
          <mat-icon svgIcon="check"></mat-icon>
          }
          {{ speed === 1 ? 'Standard' : speed + 'x' }}
        </button>
        }
      </div>
    </div>
  </div>
</ng-template>
