section {
  padding: 1.25rem;
  min-height: 100%;
}

.hidden {
  opacity: 0%;
}

.filter-options-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .search-field-wrapper {
    display: flex;
    margin-right: 1.875rem;

    .search-field {
      width: 15.625rem;
    }
  }

  .project-set-wrapper,
  .project-status-wrapper {
    margin-right: 1.875rem;
  }

  .mat-button-toggle-group {
    margin-top: 0.25rem;
  }

  .new-project-button-wrapper {
    display: flex;
    align-items: center;
    max-height: 3.5rem;
  }
}

.new-default-project-button-wrapper {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.language-divider {
  width: 1px;
  height: 1rem;
  background-color: var(--color-grey);
  margin: auto 0.25rem;
}

.language-matMenu {
  padding: 0.3125rem 0.625rem;
}

a.disabled {
  pointer-events: none;
}

.disabled {
  background: var(--color-background-grey);
  td {
    color: rgba(var(--color-black-rgb), 0.6);
  }
}

.status-wrapper {
  padding-inline: 0.625rem;
  display: flex;
  min-height: 2rem;
  align-items: center;
}
