<app-header>
  <h1 i18n="@@projectListProjectListHeader">Project List</h1>
</app-header>
<section>
  <div
    class="filter-options-wrapper"
    *ngrxLet="projectFilter$ as projectFilter"
  >
    <div class="flex">
      <div class="search-field-wrapper">
        <mat-form-field class="search-field">
          <mat-label i18n="@@projectListSearchFieldPlaceholder"
            >Search title</mat-label
          >
          <input
            #searchTitle
            [value]="projectFilter.searchString"
            matInput
            type="text"
          />
          <button
            matSuffix
            i18n-matTooltip="@@projectListSearchWithTitleTooltip"
            matTooltip="Search with Projecttitle"
            i18n-aria-label="@@projectListSearchWithTitleTooltip"
            aria-label="Search with Projecttitle"
            mat-icon-button
            (click)="filterProjects()"
          >
            <mat-icon svgIcon="search"></mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="project-status-wrapper">
        <mat-form-field>
          <mat-label i18n="@@projectListFilterStatusLabel"
            >Project status</mat-label
          >
          <mat-select
            #projectStatusSelect
            (selectionChange)="filterProjects()"
            [value]="projectFilter.selectedProjectStatus"
          >
            @for (status of projectStatus; track status) {
            <mat-option [value]="status">
              {{ status | readableStatus }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="project-set-wrapper">
        <mat-button-toggle-group
          #projectSetGroup="matButtonToggleGroup"
          (change)="filterProjects()"
          [value]="projectFilter.selectedProjectSet"
        >
          <mat-button-toggle
            i18n="@@projectListFilterAllProjects"
            [value]="ProjectSetEnum.All"
          >
            All Projects
          </mat-button-toggle>
          <mat-button-toggle
            i18n="@@projectListFilterOwnProjects"
            [value]="ProjectSetEnum.OWN"
          >
            Own Projects
          </mat-button-toggle>
          <mat-button-toggle
            i18n="@@projectListFilterSharedProjects"
            [value]="ProjectSetEnum.SHARED"
          >
            Shared Projects
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div>
      @if ('projectCreate' | featureEnabled) {
      <button
        [matMenuTriggerFor]="newProjectMenu"
        mat-raised-button
        class="new-project-button"
        color="primary"
        i18n="@@projectListCreateProjectButtonLabel"
      >
        <mat-icon svgIcon="plus"></mat-icon>
        New project
      </button>

      <mat-menu #newProjectMenu xPosition="before">
        <menu mat-menu-item (click)="onOpenDialogCreateProject()">
          <mat-icon svgIcon="upload"></mat-icon>
          Upload file</menu
        >
        <!-- <menu mat-menu-item (click)="onOpenDialogCreateProject()"
          ><mat-icon svgIcon="recording"></mat-icon>Live</menu
        > -->
        <menu mat-menu-item (click)="onOpenRecorder()">
          <mat-icon svgIcon="record"></mat-icon> Recorder</menu
        >
      </mat-menu>

      }
    </div>
  </div>
  <table
    mat-table
    [dataSource]="tableDataSource"
    matSort
    (matSortChange)="announceSortChange($any($event))"
  >
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by title"
        i18n="@@projectListTableHeaderTitleLabel"
      >
        Title
      </th>
      <!--
          class="clickable"
          (click)="onClickTitle(element)"
          [routerLink]="isClickable(element) ? ['/home/editor', element.id] : []"
          -->
      <td
        [class.clickable]="isClickable(element)"
        (click)="onClickTitle(element)"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.title }}
      </td>
    </ng-container>
    <!-- Language Column -->
    <ng-container matColumnDef="language">
      <th
        mat-header-cell
        *matHeaderCellDef
        i18n="@@projectListTableHeaderLanguagesLabel"
      >
        Languages
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="flex">
          @for ( languageCode of (element | projectLanguagesSet); track
          languageCode; let index = $index) { @if (index <= 1) { @if (index ===
          1) {
          <div class="language-divider" role="separator"></div>
          }
          <span
            [attr.aria-label]="languageCode | writtenOutLanguage"
            [matTooltip]="languageCode | writtenOutLanguage"
          >
            {{ languageCode | shortLanguageCode }}
          </span>
          } @else if (index === 2) {
          <div class="language-divider" role="separator"></div>
          <span>+{{ (element | projectLanguagesSet).length - 2 }}</span>
          }}
        </div>
      </td>
    </ng-container>
    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by status"
        i18n="@@projectListTableHeaderStatusLabel"
      >
        Status
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-listbox>
          <mat-chip
            [matMenuTriggerFor]="projectStatusMenu"
            [matMenuTriggerData]="{ element }"
            [ngClass]="element.status"
            (click)="onHandleStatusClick(element)"
          >
            <mat-icon
              matChipAvatar
              class="status-icon"
              [ngClass]="element.status"
              [svgIcon]="onGetCorrectIcon(element.status)"
            ></mat-icon>
            <span class="nowrap">{{ element.status | readableStatus }}</span>
          </mat-chip>
        </mat-chip-listbox>
      </td>
    </ng-container>
    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by duration"
        i18n="@@projectListTableHeaderDurationLabel"
      >
        Duration
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.duration | duration }}
      </td>
    </ng-container>
    <!-- ModifiedAt Column -->
    <ng-container matColumnDef="updatedAt">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by updatedAt"
        i18n="@@projectListTableHeaderUpdatedAtLabel"
      >
        Updated At
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.updatedAt | formatDate }}
      </td>
    </ng-container>
    <!-- CreatedAt Column -->
    <ng-container matColumnDef="createdAt">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by createdAt"
        i18n="@@projectListTableHeaderCreatedAtLabel"
      >
        Created at
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | formatDate }}
      </td>
    </ng-container>
    <!-- Editors Column -->
    <ng-container matColumnDef="members">
      <th
        mat-header-cell
        *matHeaderCellDef
        i18n="@@projectListTableHeaderMembersLabel"
      >
        Members
      </th>
      <td mat-cell *matCellDef="let element">
        <app-avatar-group
          [users]="element.users"
          [outlineColor]="
            !isClickable(element)
              ? 'var(--color-background-grey)'
              : 'var(--color-white)'
          "
        ></app-avatar-group>
      </td>
    </ng-container>
    <!-- Player column -->
    <ng-container matColumnDef="player">
      <th
        mat-header-cell
        *matHeaderCellDef
        i18n="@@projectListTableHeaderPlayerLabel"
      >
        Player
      </th>

      <td mat-cell *matCellDef="let element">
        <a
          mat-icon-button
          href="/view/{{ element.viewerToken }}"
          aria-label="Open Viewer in new Tab"
          i18n-aria-label="@@projectListOpenViewerAriaLabel"
          target="_blank"
        >
          <mat-icon svgIcon="viewer"></mat-icon
        ></a>
      </td>
    </ng-container>
    <!-- Options Column || Share or download project -->
    <ng-container matColumnDef="more">
      <th
        mat-header-cell
        *matHeaderCellDef
        i18n="@@projectListTableHeaderMoreLabel"
      >
        More
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          [matMenuTriggerData]="{ element: element }"
          [matMenuTriggerFor]="projectOptionsMenu"
          mat-icon-button
          i18n-aria-label="@@projectListMoreMenuAriaLabel"
          aria-label="Open/Close menu"
        >
          <mat-icon svgIcon="more"></mat-icon>
        </button>
      </td>
    </ng-container>

    <mat-menu #projectStatusMenu="matMenu">
      <ng-template matMenuContent let-element="element">
        @if (element.status === projectStatusEnum.DRAFT || element.status ===
        projectStatusEnum.FINISHED) {

        <button
          mat-menu-item
          (click)="onClickChangeStatus(projectStatusEnum.DRAFT, element)"
        >
          <mat-icon
            svgIcon="done"
            [class.hidden]="element.status !== projectStatusEnum.DRAFT"
            [attr.aria-hidden]="element.status !== projectStatusEnum.DRAFT"
          />
          {{ projectStatusEnum.DRAFT | readableStatus }}
        </button>
        <button
          mat-menu-item
          (click)="onClickChangeStatus(projectStatusEnum.FINISHED, element)"
        >
          <mat-icon
            svgIcon="done"
            [class.hidden]="element.status !== projectStatusEnum.FINISHED"
            [attr.aria-hidden]="element.status !== projectStatusEnum.FINISHED"
          />
          {{ projectStatusEnum.FINISHED | readableStatus }}
        </button>

        } @else if (element.status === projectStatusEnum.ERROR) {
        @if(projectError) {
        <app-activity [viewType]="'popup'" [activity]="projectError" />
        } } @else if (element.status === projectStatusEnum.WAITING) {
        <p>Wartet und so</p>
        } @else if (element.status === projectStatusEnum.PROCESSING) {
        <p>Verarbeitung läuft und so</p>
        }
      </ng-template>
    </mat-menu>

    <mat-menu #projectOptionsMenu="matMenu" class="dense">
      <ng-template matMenuContent let-element="element">
        @if ('projectEdit' | featureEnabled) {
        <button
          mat-menu-item
          (click)="onClickOpenMediaDialog(element)"
          i18n="@@projectListMoreMenuMediaLabel"
        >
          <mat-icon svgIcon="media" />
          Media
        </button>
        }
        <button
          mat-menu-item
          (click)="onClickOpenActivityDialog(element)"
          i18n="@@projectListMoreMenuActivityLabel"
        >
          <mat-icon svgIcon="activity" />
          Activity
        </button>

        @if ('projectShare' | featureEnabled) {
        <button
          mat-menu-item
          (click)="onClickShare(element)"
          i18n="@@projectListMoreMenuShareLabel"
        >
          <mat-icon svgIcon="share" />
          Share
        </button>
        }

        <!-- @if ('download' | featureEnabled) {
        <button
          mat-menu-item
          i18n="@@projectListMoreMenuDownloadLabel"
          (click)="onDownloadProject(element)"
        >
          <mat-icon svgIcon="download"></mat-icon>
          Download
        </button>
        } -->
        <!-- <button mat-menu-item (click)="onOpenViewer(element)">
          <mat-icon svgIcon="viewer"></mat-icon>
          Viewer
        </button> -->
        @if (element.createdBy.id === (userId$ | ngrxPush)) {
        <mat-divider></mat-divider>
        <button
          (click)="onDeleteProject(element)"
          mat-menu-item
          i18n="@@projectListMoreMenuDeleteLabel"
        >
          <mat-icon svgIcon="delete"></mat-icon>
          Delete
        </button>
        }
      </ng-template>
    </mat-menu>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class.disabled]="!isClickable(row)"
    ></tr>
  </table>
</section>
<app-footer></app-footer>
