.wrapper {
  padding-top: 1.25rem;
}

.upload-form {
  display: flex;
  flex-direction: column;

  .first-row {
    display: flex;
    gap: 1.25rem;

    .title {
      flex-grow: 3;
    }
    .category {
      flex-grow: 1;
    }
  }

  .second-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.upload-wrapper {
  &.error {
    input[type='file'] {
      border: 1px solid var(--color-warn);
    }
  }

  .file-error {
    color: var(--color-warn);
    font-size: 0.75rem;
    margin-left: 1.25rem;
    margin-top: 0.25rem;
    font-weight: 300;
  }

  input[type='file'] {
    color: var(--color-text);
    padding: 0.625rem 0.9375rem;
    background: var(--color-background-grey);
    border-radius: 0.3125rem;
    border: 1px solid var(--color-light-grey);
  }

  input[type='file']::file-selector-button {
    margin-right: 1.25rem;
    border: none;
    background: var(--color-primary-500);
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    color: var(--color-white);
    cursor: pointer;
  }

  input[type='file']::file-selector-button:hover {
    background: var(--color-primary-700);
  }
}

.upload-list {
  padding: 0;

  li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}

.uploaded-media-wrapper {
  margin-top: 2.5rem;

  .media-list {
    // padding-top: 50px;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .media-item {
      position: relative;
      background: var(--color-background-grey);
      border: 1px solid var(--color-border-grey);
      width: 100%;
      width: 265px;
      height: 235px;
      margin: 15px;
      // padding: 5px;
      border-radius: 10px;

      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;

      .row {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;

        overflow: hidden;

        h3 {
          margin: 0;
        }
        mat-icon {
          margin: 0px 5px;
          min-width: 30px;
        }
      }

      .download {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .delete-btn {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
