<div class="landing-subpage-wrapper">
  <h1 i18n="@@accessibilityStatementMainHeading">Accessibility Statement</h1>
  <h2 i18n="@@accessibilityStatementScopeHeading">Scope of application</h2>
  <p i18n="@@accessibilityStatementScopePartOne">
    This accessibility statement refers to the current version of the State Act
    on Equal Opportunities for Persons with Disabilities
    (Landes-Behindertengleichstellungsgesetz - L-BGG) of December 17, 2014. The
    SHUFFLE project is committed to making this website accessible in accordance
    with Section 10 (1) of the State Disability Equality Act (L-BGG).
  </p>

  <p i18n="@@accessibilityStatementScopePartTwo">
    This accessibility statement applies to this website
    (www.melvin.shuffle-projekt.de). This statement explicitly does not refer to
    the other websites and mobile apps of the Hochschule der Medien or the
    universities involved in the project and not to the content of third-party
    providers referred to via external links.
  </p>

  <h2 i18n="@@accessibilityStatementComplianceHeading">Compliance status</h2>
  <p i18n="@@accessibilityStatementComplianceText">
    This website is partially compliant with Section 10 (1) L-BGG due to the the
    following non-compliances.
  </p>

  <h2 i18n="@@accessibilityStatementNonAccessibleHeading">
    Non-accessible content
  </h2>
  <p i18n="@@accessibilityStatementNonAccessiblePartOne">
    The Melvin application for creating videos and correcting subtitles is not
    accessible to screen reader users or people who only use a keyboard.
  </p>
  <p i18n="@@accessibilityStatementNonAccessiblePartTwo">
    We are working on the accessible implementation of the content mentioned
    above.
  </p>
  <p i18n="@@accessibilityStatementNonAccessiblePartThree">
    The homepage and the Melvin video player are accessible.
  </p>

  <h2 i18n="@@accessibilityStatementPreparationHeading">
    Preparation of this accessibility statement
  </h2>
  <p i18n="@@accessibilityStatementPreparationText">
    This statement was prepared on 28.02.2025. It is based on a self-assessment
    that was conducted on 28.02.2025. This declaration was last reviewed on
    28.02.2025.
  </p>

  <h2 i18n="@@accessibilityStatementFeedbackHeading">
    Feedback and contact information
  </h2>
  <p i18n="@@accessibilityStatementFeedbackText">
    You would like to inform us about existing barriers or request information
    on the implementation of accessibility? For your feedback and any further
    information, please get in touch with our contact person:
  </p>

  <p>
    Prof. Dr. Gottfried Zimmermann <br />
    Hochschule der Medien <br />
    Nobelstr.10 <br />
    70569 Stuttgart
  </p>

  <ul>
    <li>
      <a href="mailto:zimmermanng@hdm-stuttgart.de"
        >zimmermanng&#64;hdm-stuttgart.de</a
      >
    </li>
    <li>
      <a href="tel:004971189232751">+49 711 8923-2751</a>
    </li>
  </ul>

  <h2 i18n="@@accessibilityStatementEnforcementHeading">
    Enforcement procedure
  </h2>
  <p i18n="@@accessibilityStatementEnforcementPartOne">
    To ensure that this website meets the requirements described in Section 10
    (1) L-BGG, you can contact the SHUFFLE project partners (<a
      href="mailto:melvin@shuffle-projekt.de"
      >melvin&#64;shuffle-projekt.de</a
    >) by email and provide appropriate feedback.
  </p>

  <p i18n="@@accessibilityStatementEnforcementPartTwo">
    If the Melvin project team does not respond to your request within four
    weeks, you may file a complaint with the National Center for Accessibility
    (LZ-BARR).
  </p>

  <p i18n="@@accessibilityStatementEnforcementPartThree">
    You can contact the National Center for Accessibility (LZ-BARR) as follows:

    <a href="mailto:schlichtung@barrierefreiheit.bwl.de"
      >schlichtung&#64;barrierefreiheit.bwl.de</a
    >
    , <a href="tel:004971112339375">Tel. +49 711 123 39375</a>, Address:
    Landeszentrum Barrierefreiheit, Schlichtungsstelle, Else-Josenhans-Straße 6,
    70173 Stuttgart.
  </p>

  <p i18n="@@accessibilityStatementEnforcementPartFour">
    This procedure is free of charge.
  </p>

  <p i18n="@@accessibilityStatementEnforcementPartFive">
    The option of bringing an action against associations in accordance with
    Section 12 (1) sentence 1 no. 4 L-BGG is hereby mentioned.
  </p>

  <h2 i18n="@@accessibilityStatementCompatibilityHeading">
    Information on compatibility
  </h2>
  <p i18n="@@accessibilityStatementCompatibilityText">
    Our website is optimized for the following browsers: Chrome, Firefox, Edge,
    Safari. Internet Explorer is not supported.
  </p>
</div>
