<ng-container *ngrxLet="playingVideo$ as playingVideo">
  <!-- (loadedmetadata)="onLoadedMetadata()" -->
  <!--
  [muted]="true"
  autoplay
  controls
  -->
  <video
    (loadedmetadata)="onLoadedMetadata()"
    *ngrxLet="project$ as project"
    [playbackRate]="playbackRate$ | ngrxPush"
    [volume]="volume$ | ngrxPush"
    #video
    preload="auto"
    muted
  >
    @if (playingVideo && project?.status !== 'live') {
    <source [src]="playingVideo.url" [type]="playingVideo.mimetype" />
    }
  </video>
</ng-container>
<ng-content></ng-content>
