<div class="container">
  <h1 mat-dialog-title>Livestream</h1>
  <div mat-dialog-content>
    @if (data.livestreamStarted) {
    <div>
      <!-- there is an active livestream -->
      <p>
        You are joining an active livestream. The video will start
        automatically.
      </p>
    </div>
    }
    <!-- there is NO active livestream -->
    @if (!data.livestreamStarted) {
    <div>
      <p>Livestream did not start. Come back later.</p>
    </div>
    }
  </div>
  <div mat-dialog-actions class="flex justify-center">
    @if (data.livestreamStarted) {
    <div>
      <!-- there is an active livestream -->
      <button mat-flat-button (click)="onConfirm()" cdkFocusInitial>
        Alright
      </button>
    </div>
    }
    <!-- there is NO active livestream -->
    @if (!data.livestreamStarted) {
    <div>
      <button mat-flat-button (click)="onBack()" cdkFocusInitial>
        Back to Home
      </button>
      <div *ngrxLet="isOwner$ as isOwner">
        @if (isOwner) {
        <button mat-flat-button (click)="onStartLivestream()" cdkFocusInitial>
          Start Livestream
        </button>
        }
      </div>
    </div>
    }
  </div>
</div>
